{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div id="project-gallery">
        <div class="row">
            <div class="container">
                <h2 class="text-center project-title">Technology Projects
                    <small> showing {{ count }} of {{ count }}</small>
                </h2>
                {% for project in projects %}
                    <a class="project-link" href="{% url 'project' project.id %}"/>
                    <div class="panel panel-project">
                        <div class="project-image col-md-7"
                             style="background-image: url('{% static "" %}{{ project.image }}');">
                            <div class="overlay"></div>
                        </div>
                        <div class="project-content col-md-5 drop-padding">
                            <div class="project-copy">
                                <h4 class="project-title">{{ project.title }}</h4>
                                <div>
                                    <img class="project-manager-photo pull-left"
                                         src="{{ project.project_manager.linkedin.extra_data.picture_url }}"/>
                                    <div class="project-byline pull-left">
                                        <p>
                                            <span class="project-manager">{{ project.project_manager.first_name }} {{ project.project_manager.last_name }}</span>
                                            <br/>
                                            <span class="project-company">{{ project.company.name }}</span>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="project-description">
                                    {{ project.description }}
                                </div>
                                <div class="project-skills"></div>
                            </div>
                            <div class="project-specs text-center">
                                <ul>
                                    <li class="project-hours">
                                        <h5>{{ project.estimated_hours }}</h5> hours
                                    </li>
                                    <li class="project-equity">
                                        <h5>{{ project.estimated_equity }}%</h5> equity
                                    </li>
                                    <li class="project-cash">
                                        <h5>${{ project.estimated_cash }}</h5> cash
                                    </li>
                                </ul>
                                <div class="project-for">
                                    for
                                </div>
                                <div class="project-or">
                                    or
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <link href="{% static 'css/business/project-gallery.css' %}" rel="stylesheet"/ >
{% endblock scripts %}