{% extends "base.html" %}
{% load transactional %}
{% load staticfiles %}
{% block fluid %}container-fluid{% endblock %}

{% block content %}
	<div id="provider" >
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Job ID</th>
              <th>Service Provider</th>
              <th>Customer</th>
              <th>CC on File</th>
              <th>Service Address</th>
              <th>Date Created</th>
              <th>Date Assigned</th>
              <th>Date Completed</th>
              <th>Promo Code</th>
              <th>Price</th>
              <th>Charge</th>
              <th>Fee</th>
              <th>Total Payment</th>
              <th>Net Income</th>
              <th>Sales Tax</th>
              <th></th>
              <th></th>
              <th>Recalculate</th>
              <th>Charge</th>
            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
            <tr data-job="{{ job.id }}">
              <td class="job_id">{{ job.id }}</td>
              <td>{{ job.provider.name }}</td>
              <td>{{ job.customer.user.last_name }}, {{ job.customer.user.first_name }}</td>
              <td>{% if job.customer.stripe %}<i class="fa fa-check-circle text-success"></i>{% else %}<i class="fa fa-times-circle text-danger"></i>{% endif %}</td>
              <td>{{ job.customer.service_address }} {{ job.customer.service_address2 }}, {{ job.customer.service_city }}, {{ job.customer.service_state }} {{ job.customer.service_zipcode }}</td>
              <td>{{ job.date_created }}</td>
              <td>{{ job.date_assigned }}</td>
              <td>{{ job.date_completed }}</td>
              <td>{{ job.promo }}</td>
              <td>{{ job.price }}</td>
              <td>
                {% if job.date_charged %}
                  {{ job.charge }}
                {% else %}
                  <input class="price" type="text" value="{{ job.charge }}" />
                {% endif %}
              </td>
              <td>
                {% if job.date_charged %}
                  {{ job.fee }}
                {% else %}
                  <input class="fee" type="text" value="{{ job.fee }}" />
                {% endif %}
              </td>
              {% if job.provider %}
                <td>{% total job %}</td>
                <td>{% net job %}</td>
                <td>{% tax job %}</td>
              {% else %}
                <td></td><td></td><td></td>
              {% endif %}
              {% comment %}<td><button class="feedback btn btn-primary">Send Feedback Email</button></td>{% endcomment %}
              <td>
              {% if not job.date_assigned %}
                <select class="provider">
                  <option>Pick Provider</option>
                  {% for provider in providers %}
                    <option value="{{ provider.id }}">{{ provider.name }}</option>
                  {% endfor %}
                </select>
              {% endif %}
              </td>
              <td>
                {% if not job.date_assigned %}
                <button class="btn btn-primary offer-provider">Offer Job</button>
                {% endif %}
              </td>
              <td><button class="recalculate btn btn-primary">Recalculate</button></td>
              <td>
                {% if job.date_charged %}
                  <i class="text-success fa fa-check-square"></i>
                {% else %}
                  {% if job.provider and job.date_completed %}
                    <button class="charge btn btn-primary">Charge</button>
                  {% else %}
                    <i class="text-danger fa fa-exclamation-circle"></i>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/library/jquery.js' %}" ></script>
  <script src="{% static 'js/csrf.js' %}" ></script>
<script type="text/javascript">
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
  $(document).ready(function() {
    $('.recalculate').click(function() {
      var row = $(this).parent().parent();
      $(this).prop("diabled", true);
      $.ajax({
        url: '{% url 'update-job' %}',
        method: 'POST',
        data: {price: row.find('.price').val(), fee: row.find('.fee').val(), job_id: row.find('.job_id').text()},
        success: function () {
          window.location.reload();
        }
      });
    });

    $('.feedback').on('click', function() {
      if (confirm('Are you sure you want to send this email?')) {
        var row = $(this).parent().parent();
        $.ajax({
          url: '{% url 'send-feedback-email' %}',
          method: 'POST',
          data: {job_id: row.find('.job_id').text()},
          success: function () {
            window.location.reload();
          }
        });
      }
    });

    $('.charge').click(function() {
      var row = $(this).parent().parent();
      $(this).prop("disabled",true);
      $.ajax({
          url: '{% url 'provider-create-charge' %}',
          method: 'POST',
          data: {price: row.find('.price').val(), fee: row.find('.fee').val(), job_id: row.find('.job_id').text()},
          success: function () {
            window.location.reload();
          }
        });
    });

    $('.offer-provider').click(function() {
      if (confirm('Are you sure you want to send this email?')) {
      var row = $(this).parent().parent();
      $(this).prop("disabled",true);
      $.ajax({
          url: '{% url 'offer-job' %}',
          method: 'POST',
          data: {job: row.data('job'), provider: row.find('.provider').val()},
          success: function () {
            window.location.reload();
          }
        });
      }
    });
  });

</script>
{% endblock %}