{% extends "base.html" %}
{#% load staticfiles %#}

{% block content %}
<div id="create-project" class="section">
  <div class="row">
    <div class="container">
        <div id="project-root" data-id="{% if request.user.id %}{{ request.user.id }}{% endif %}"
                               data-company="{{ company.id }}"
                               data-project_manager="{% if project_manager %}{{  project_manager }}{% else %}{{ request.user.id }}{% endif %}" ></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $('#project-form').formValidation({
        framework: 'bootstrap',
        fields: {
            type: {
                validators: {
                    notEmpty: {
                        message: 'A project type is required'
                    }
                }
            },
            title: {
                validators: {
                    notEmpty: {
                        message: 'A project title is required'
                    }
                }
            },
            'image': {
                validators: {
                    notEmpty: {
                        message: 'A project image is required'
                    }
                }
            },
            'short_blurb': {
                validators: {
                    notEmpty: {
                        message: 'A short blurb about the project is required'
                    }
                }
            },
            'category': {
                validators: {
                    notEmpty: {
                        message: 'Required'
                    }
                }
            },
            'secondary_category': {
                validators: {
                    notEmpty: {
                        message: 'Required'
                    }
                }
            },
            'location': {
                validators: {
                    notEmpty: {
                        message: 'Required'
                    }
                }
            },
            'estimated_cash': {
                validators: {
                    notEmpty: {
                        message: 'Required'
                    }
                }
            },
            'estimated_equity': {
                validators: {
                    notEmpty: {
                        message: 'Required'
                    }
                }
            },
            'estimated_hours': {
                validators: {
                    notEmpty: {
                        message: 'Required'
                    }
                }
            },
            'skills': {
                validators: {
                    notEmpty: {
                        message: 'Required'
                    }
                }
            },
            'description': {
                validators: {
                    notEmpty: {
                        message: 'Required'
                    }
                }
            }
        }
    });
});
</script>
{% endblock %}
