{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div id="discover-projects">
    <h1>Discover a project that inspires you.</h1>
    <div class="discover-nav">
      <h2>
        show me
        <div class="dropdown">
          <button onclick="dropdown()" class="dropbtn underline-text">
            {{ type }}<i class="fa fa-angle-down"></i>
          </button>
          <div id="myDropdown" class="dropdown-content">
            {% for cat, name in project_types %}
              <a class="dropdown-item" href="{% url 'project-gallery' cat %}">{{ name }}</a>
            {% endfor %}
            <a class="dropdown-item" href="{% url 'project-gallery' 'all' %}">all</a>
          </div>
        </div>
      </h2>
    </div>
  </div>

  {% if featured %}
    <div class="page-content page-content--alternate">
      <div class="plates page-content--medium">
        <div class="plates-headcap">
          <h3 class="plates-header brand-bold" style="text-transform:capitalize">Featured {{ type }} Projects</h3>
        </div>
        <div class="plates-inner">
          {% for project in featured %}
            <a class="plate" href="{% url 'project' project.slug %}">
              <div class="plate-image"{% if MEDIA_URL and project.image %} style="background-image: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=650&url={{ MEDIA_URL }}{{ project.image.file }}');"{% endif %}></div>
              <div class="plate-info">
                <div class="plate-info-profile">
                  <div class="plate-info-profile-photo" style="background-image: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=200&url={{ project.project_manager.get_photo }}');"></div>
                  <div class="plate-info-profile-name">
                    <div class="plate-info-profile-name--primary">{{ project.project_manager.name }}</div>
                    {% if project.company %}<div class="plate-info-profile-name--secondary">{{ project.company.name }}</div>{% endif %}
                  </div>
                </div>
                <div class="plate-info-project">
                  <h4 class="plate-info-project-name">{{ project.title }}</h4>
                  <p class="plate-info-project-description">{{ project.short_blurb }}</p>
                </div>
              </div>
              <div class="plate-stats{% if project.estimated_equity_percentage and project.estimated_cash %} plate-stats-dual {% endif %}">
                {% if project.estimated_equity_percentage %}
                  <div class="plate-stat">
                    <div class="plate-stat-amount">{{ project.estimated_equity_percentage }}%</div>
                    <div class="plate-stat-type">Equity</div>
                  </div>
                {% endif %}
                {% if project.estimated_cash %}
                  <div class="plate-stat">
                    <div class="plate-stat-amount">${{ project.estimated_cash }}</div>
                    <div class="plate-stat-type">Cash</div>
                  </div>
                {% endif %}
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if new %}
    <div class="plates page-content--medium">
      <div class="plates-headcap">
        <h3 class="plates-header brand-bold" style="text-transform:capitalize">Newest {{ type }} Projects</h3>
      </div>
      <div class="plates-inner">
        {% for project in new %}
          <a class="plate" href="{% url 'project' project.slug %}">
            <div class="plate-image"{% if MEDIA_URL and project.image %} style="background-image: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=650&url={{ MEDIA_URL }}{{ project.image.file }}');"{% endif %}></div>
            <div class="plate-info">
              <div class="plate-info-profile">
                <div class="plate-info-profile-photo" style="background-image: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=200&url={{ project.project_manager.get_photo }}');"></div>
                <div class="plate-info-profile-name">
                  <div class="plate-info-profile-name--primary">{{ project.project_manager.name }}</div>
                  {% if project.company %}<div class="plate-info-profile-name--secondary">{{ project.company.name }}</div>{% endif %}
                </div>
              </div>
              <div class="plate-info-project">
                <h4 class="plate-info-project-name">{{ project.title }}</h4>
                <p class="plate-info-project-description">{{ project.short_blurb }}</p>
              </div>
            </div>
            <div class="plate-stats{% if project.estimated_equity_percentage and project.estimated_cash %} plate-stats-dual {% endif %}">
              {% if project.estimated_equity_percentage %}
                <div class="plate-stat">
                  <div class="plate-stat-amount">{{ project.estimated_equity_percentage }}%</div>
                  <div class="plate-stat-type">Equity</div>
                </div>
              {% endif %}
              {% if project.estimated_cash %}
                <div class="plate-stat">
                  <div class="plate-stat-amount">${{ project.estimated_cash }}</div>
                  <div class="plate-stat-type">Cash</div>
                </div>
              {% endif %}
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="page-content page-content--alternate">
      <div class="plates page-content--medium">
        <div class="plates-headcap">
          <h3 class="plates-header brand-bold">All Projects</h3>
        </div>
        <div class="plates-inner">
          {% for project in all %}
            <a class="plate" href="{% url 'project' project.slug %}">
              <div class="plate-image"{% if MEDIA_URL and project.image %} style="background-image: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=650&url={{ MEDIA_URL }}{{ project.image.file }}');"{% endif %}></div>
              <div class="plate-info">
                <div class="plate-info-profile">
                  <div class="plate-info-profile-photo" style="background-image: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=200&url={{ project.project_manager.get_photo }}');"></div>
                  <div class="plate-info-profile-name">
                    <div class="plate-info-profile-name--primary">{{ project.project_manager.name }}</div>
                    {% if project.company %}<div class="plate-info-profile-name--secondary">{{ project.company.name }}</div>{% endif %}
                  </div>
                </div>
                <div class="plate-info-project">
                  <h4 class="plate-info-project-name">{{ project.title }}</h4>
                  <p class="plate-info-project-description">{{ project.short_blurb }}</p>
                </div>
              </div>
              <div class="plate-stats{% if project.estimated_equity_percentage and project.estimated_cash %} plate-stats-dual {% endif %}">
                {% if project.estimated_equity_percentage %}
                  <div class="plate-stat">
                    <div class="plate-stat-amount">{{ project.estimated_equity_percentage }}%</div>
                    <div class="plate-stat-type">Equity</div>
                  </div>
                {% endif %}
                {% if project.estimated_cash %}
                  <div class="plate-stat">
                    <div class="plate-stat-amount">${{ project.estimated_cash }}</div>
                    <div class="plate-stat-type">Cash</div>
                  </div>
                {% endif %}
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    function dropdown() {document.getElementById("myDropdown").classList.toggle("show");}
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
  </script>
{% endblock scripts %}