{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="project" class="section-first">
  <div class="row">
    <div class="container">
      <h2 class="section-header text-center sub-section">
        {{ project.title }} <br />
        <span class="text-yellow">by {{ project.company.name }}</span>
      </h2>
      <div class="sub-section">
        <div class="col-md-6">
          <img class="project-image" src="{{ project.image.url }}" />
          <ul class="project-meta">
            <li><img class="icon" src="{% static 'images/icon-location.png' %}" /> Austin, TX</li>
            <li><img class="icon" src="{% static 'images/icon-category.png' %}" />Technology</li>
            <li><img class="icon" src="{% static 'images/icon-skill.png' %}" /> Python, Javascript, HTML, CSS</li>
          </ul>
        </div>
        <div class="specs col-md-3">
          <h5>THE COMPANY</h5>
          <ul>
            <li class="project-hours">
              <h5>{{ project.estimated_hours }}</h5>
              est. hours needed
            </li>
            <li class="project-equity">
              <h5>{{ project.estimated_equity }}%</h5>
              equity offered
            </li>
            <li>
              or
            </li>
            <li class="project-cash">
              <h5>${{ project.estimated_cash }}</h5>
              cash offered
            </li>
          </ul>
          <button class="btn btn-dark" data-toggle="modal" data-target="#bid-modal">BID ON PROJECT</button>
        </div>
        <div class="specs col-md-3">
          <h5>THE COMMUNITY</h5>
          <ul>
            <li class="project-hours">
              <h5>246</h5>
              total hours offered
            </li>
            <li class="project-equity">
              <h5>0.5%</h5>
              lowest equity request
            </li>
            <li>or</li>
            <li class="project-cash">
              <h5>$2100</h5>
              lowest cash request
            </li>
          </ul>
          <p class="text-muted"><i class="fa fa-star-o"></i> send me alerts on this project</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="section">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Overview</a></li>
          <li role="presentation"><a href="#">Business Plan <i class="fa fa-lock"></i></a></li>
          <li role="presentation"><a href="#">Training Docs <i class="fa fa-lock"></i></a></li>
          <li role="presentation"><a href="#">Technology Stack <i class="fa fa-lock"></i></a></li>
          <li role="presentation"><a href="#">Financials <i class="fa fa-lock"></i></a></li>
        </ul>
        <div class="sub-section">
          <div class="col-md-8">
            <h2 class="section-header">Project Overview</h2>
            <p>{{ project.description | safe }}</p>
          </div>
          <div class="col-md-4">
            <h5>Posted by</h5>
            <img class="project-manager-photo pull-left" src="{{ project.project_manager.linkedin.extra_data.picture_url }}" />
              <div class="project-byline pull-left">
                <p>
                  <span class="project-manager">{{ project.project_manager.first_name }} {{ project.project_manager.last_name }}</span> <br />
                  <span class="project-company">{{ project.company.name }}</span>
                </p>
              </div>
              <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="bid-modal">
  <div class="modal-dialog">
    <form class="modal-content" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">
          <span class="text-skinny">Place your bid to work on:</span><br />
          <span class="text-yellow">{{ project.title }}</span>
        </h4>
        <div class="form-group">
            <label>Cash Offer*</label>
            <input id="id_cash" class="form-control" maxlength="100" name="cash" placeholder="$0.00" type="text">
          </div>
          <div class="form-group">
            <label>Equity Offer*</label>
            <input id="id_equity" class="form-control" maxlength="100" name="equity" placeholder="0.00%" type="text">
          </div>
          <div class="form-group">
            <label>Time Estimate</label>
            <input id="id_hours" class="form-control" maxlength="100" name="hours" placeholder="00 hours" type="text">
          </div>
      </div>
      <div class="modal-body">
          <input type="hidden" id="id_project" name="project" value="{{ project.id }}" />
          <input type="hidden" id="developer" name="developer" value="{{ request.user.id }}" />
          <div class="form-group">
            <textarea cols="40" class="form-control" id="id_message" name="message" placeholder="Include a message with your bid..." rows="7"></textarea>
          </div>
          <div class="form-group text-center">
            <input type="submit" id="send-bid" class="btn btn-yellow" value="Send Bid" />
            <p class="help-block">By submitting, you agree to the <a href="#">Terms and Conditions</a>.</p>
          </div>
          <div class="clearfix"></div>
      </div>
    </form><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/routes/messaging.js' %}"></script>
{% endblock %}