{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="project" data-user="{{ request.user.id }}" data-id="{{ project.id }}" data-name="{{ project.title }}" >
  <div class="row content-wrap">
    <div class="container project-container">
    <div class="project-header">
      <h2 class="brand-bold text-brand text-center text-header-main">
        {{ project.title }}
      </h2>
      <h4 class="brand text-skinny text-center">
        by
        {% if project.company %}
        {{ project.company.name }}
        {% else %}
        {{ project.project_manager.first_name }} {{ project.project_manager.last_name }}
        {% endif %}
      </h4>
    </div>
      <div class="section">
        <div class="col-md-7 project-header-left">
          <div class="project-image" style="background-image: url({{ MEDIA_URL }}{{ project.image.file }})"></div>
          <div class="sub-section">{{ project.short_blurb }}</div>
          <ul class="project-meta sub-section">
            <li><img class="icon" src="{% static 'images/icon-location.png' %}" />
              <h4>
              {% if project.company %}
                {{ project.company.city }}, {{ project.company.state }}
              {% else %}
                {{ project.project_manager.city }}, {{ project.project_manager.state }}
              {% endif %}
              </h4>
            </li>
            <li><img class="icon" src="{% static 'images/icon-category.png' %}" /> <h4 class="text-capitalize">{{ project.type }}</h4></li>
          </ul>
        </div>
        <div class="specs col-md-5">
          <h2 class="brand">project budget</h2>
          <ul>
            {% if project.estimated_equity_percentage %}
            <li class="project-equity">
              <h2 class="brand-bold text-brand">{{ project.estimated_equity_percentage }}%</h2>
              equity
            </li>
            {% endif %}
            {% if project.estimated_cash and project.estimated_equity_percentage %}
              <li class="andor">
              {% if project.mix %}
                and
              {% else %}
                or
              {% endif %}
              </li>
            {% endif %}
            {% if project.estimated_cash %}
            <li class="project-cash">
              <h2 class="brand-bold text-brand">${{ project.estimated_cash }}</h2>
              cash
            </li>
            {% endif %}
          </ul>

          <h2 class="brand">average bid placed</h2>
          {% if project.active_jobs|length >= 2 %}
              <label>Average Offer:</label>

              {% if project.average_equity or project.average_cash %}
              <ul>
                  {% if project.average_equity %}
                  <li class="project-equity">
                    <h2 class="brand-bold">{{ project.average_equity }}%</h2>
                    equity
                  </li>
                  {% endif %}
                  <li>&nbsp;</li>
                  {% if project.average_cash %}
                  <li class="project-cash">
                    <h2 class="brand-bold">${{ project.average_cash }}</h2>
                    cash
                  </li>
                  {% endif %}
              </ul>
              {% endif %}
              {% if project.average_combined %}
              <ul>
                  <li class="project-equity">
                    <h2 class="brand-bold">{{ project.average_combined.equity }}%</h2>
                  </li>
                  <li class="andor">+</li>
                  <li class="project-cash">
                    <h2 class="brand-bold">${{ project.average_combined.cash }}</h2>
                  </li>
              </ul>
              {% endif %}
            {% else %}
               <ul><li>
                 <h4 class="brand-bold text-spaced">Bids haven't been placed on this project yet.<br /><br />  Be the first!</h4>
               </li></ul>
            {% endif %}



          {% if request.user == project.project_manager %}
          <a class="btn btn-brand" href="/project/edit/{{project.id}}/">Edit Project</a>
          {% else %}
            <ul>
              {% if not job %}
                <li>
                  {% if user.is_authenticated %}
                    <button id="bid-button" class="btn btn-brand" data-toggle="modal" data-target="#bid-modal">Bid on Project</button>
                  {% else %}
                    <a class="btn btn-brand" href="{% url 'login' %}?next={% url 'project' project.slug %}">Bid on Project</a>
                  {% endif %}
                </li>
              {% endif %}
            <li>
              {% if job %}
                <a class="btn btn-brand" href="{% url 'postman:view_conversation' thread_id=job.conversation.id %}">Send Message</a>
              {% else %}
                <button id="message-button" class="btn btn-brand" data-toggle="modal" data-target="#message-modal">Send Message</button>
              {% endif %}
            </li>
            </ul>
          {% endif %}

          {% comment %}
          <p class="small text-muted">This company is accepting bids for work in forms of
            {% if project.estimated_equity_percentage %}equity {% endif %}
            {% if project.estimated_cash and project.estimated_equity_percentage %} and {% endif %}
            {% if project.estimated_cash %} cash payment {% endif %}
            for services rendered.</p>
            {% endcomment %}
        </div>
        <div class="clearfix"></div>

      <div class="sub-section">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Public Information</a></li>
          {% for tab in project.info %}
          <li role="presentation">
            <a href="#{{ tab.title|slugify }}" aria-controls="{{ tab.title|slugify }}" role="tab" data-toggle="tab">
              {{ tab.title }}
              {% if tab.type == 'private' %}
                <i class="fa fa-lock"></i>
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" role="tab-panel" id="overview">
            <div class="col-md-7 project-details">
              <h2 class="brand-bold sub-section">Project Details</h2>
              <p>{{ project.details.description | safe }}</p>
            </div>
            <div class="col-md-5 project-details-rail">
              <div class="section">
                <h2 class="brand sub-section brand-bold">Project Manager</h2>
                <div class="project-manager-photo--bg pull-left" style="background-image: url('{{ project.project_manager.get_photo }}')"></div>
                <div class="project-byline pull-left">
                  <p>
                    <span class="project-manager">{{ project.project_manager.name }}</span> <br />
                    {% if project.company %}<span class="project-company">{{ project.company.name }}</span>{% endif %}
                  </p>
                </div>
                 <div class="clearfix"></div>
              </div>
              {% if project.skills %}
              <div>
                <h2 class="brand-bold sub-section">Preferred Technology Stack</h2>
                  <div class="technology-panel">
                  {% for skill in project.skills.all %}
                  <h5 class="btn btn-dark--clear">{{ skill.name }}</h5><br />
                  {% endfor %}
                  </div>
              </div>
              {% endif %}
              <div class="clearfix"></div>
            </div>
          </div>

          {% for tab in project.info %}
          <div class="tab-pane" role="tab-panel" id="{{ tab.title|slugify }}">
            {% if tab.type == 'private' and request.user.id not in project.nda_list %}
              <div class="text-center nda-content col-md-8 col-md-offset-2 section">
                <h2><i class="fa fa-lock"></i></h2>
                <div class="sub-section">
                  <h2 class="brand-bold">You’ll need to sign a Non-disclosure Agreement to view private information.</h2>
                  <h4 class="text-skinny">Send a message to the project manager to let them know you’re interested to learn more!</h4>
                </div>
                <button class="btn btn-lg btn-brand--fade">Request NDA Access</button>
              </div>
            {% else %}
            <div class="col-md-7 project-details">
              <h2 class="sub-section brand-bold">{{ tab.title }}</h2>
              <p>{{ tab.description | safe }}</p>
            </div>
            <div class="col-md-5 section project-details-rail">
              <h2 class="brand-bold">Project Manager</h2>
              <img class="project-manager-photo pull-left" src="{{ project.project_manager.get_photo }}" />
                <div class="project-byline pull-left">
                  <p>
                    <span class="project-manager">{{ project.project_manager.first_name }} {{ project.project_manager.last_name }}</span> <br />
                    {% if project.company %}<span class="project-company">{{ project.company.name }}</span>{% endif %}
                  </p>
                </div>
              {% if project.skills %}
              <div class="section">
                <h2 class="brand-bold sub-section">Preferred Technology Stack</h2>
                  <div class="technology-panel">
                  {% for skill in project.skills.all %}
                  <h5 class="btn btn-dark--clear">{{ skill.name }}</h5><br />
                  {% endfor %}
                  </div>
              </div>
              {% endif %}
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="bid-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="bid-body"></div>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="message-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title brand brand-bold">
          Messaging about
          <span class="text-brand">{{ project.title }}</span>
        </h4>
      </div>

      <div class="modal-body">
        <form id="message-form">
          <input type="hidden" name="recipient" value="{{ project.project_manager.id }}" />
          <input type="hidden" name="title" value="{{ project.title }}" />
          <input type="hidden" name="project" value="{{ project.id }}" />
          <textarea cols="40" class="required-input" id="id_message" name="body" placeholder="Write your message..." rows="7"></textarea>
          <input type="submit" class="btn btn-brand pull-right" value="Send Message" />
          <div class="clearfix"></div>
        </form>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/routes/project.js' %}"></script>
{% endblock %}
