{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />
{% endblock %}
{% load jsonify %}

{% block content %}
  <div class="container">
    <div class="row">
      {{category}}
      {% for cat, name in categories %}
        <div class="col-md-4 col-sm-6">
          <a href="{% url 'project-gallery' cat %}" style="border: none; position: relative; overflow: hidden; width: 100%; margin: 15px;" class="btn btn-brand btn-brand--attn">
            {{name}}
            {% if cat == type %}<div style="position: absolute; left: 0; bottom: 0; width: 100%; height: 4px; background: #ff7b5c"></div>{% endif %}
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="plates page-content--medium">
    <div class="plates-headcap">
      <h3 class="plates-header">Featured Projects</h3>
      <!-- <a href="" class="btn btn--clear btn-lg">View all</a> -->
    </div>
    <div id="featured-project-carousel" ></div>
  </div>

  <div class="page-content page-content--alternate">
    <div class="plates page-content--medium">
      <div class="plates-headcap">
        <h3 class="plates-header">New Projects</h3>
      <!-- <a href="" class="btn btn--clear btn-lg">View all</a> -->
      </div>
      <div id="new-project-carousel" ></div>
    </div>
  </div>
  <script type="text/javascript">
    window.featuredProjects = {{ featured|jsonify }}
    window.newProjects = {{ new|jsonify }}
  </script>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/routes/project-list.js' %}"></script>
{% endblock %}
