{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div id="provider" >
    <div class="row">
      <div class="col-sm-12">
        {% if error %}
          <h3>There was an error setting up this provider.</h3>
          <p>Please check if any of the following fields are missing:</p>
        {% else %}
          <h3>Provider was successfully set up and activated.</h3>
        {% endif %}
        <ul class="list-group">
          <li class="list-group-item">
            {% if company.primary_contact.date_of_birth %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>Contact Date of Birth</strong>
          </li>
          <li class="list-group-item">
            {% if company.primary_contact.last_4_ssn %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>Contact SSN (Last 4)</strong>
          </li>
          <li class="list-group-item">
            {% if company.primary_contact.user.first_name %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>Contact First Name</strong>
          </li>
          <li class="list-group-item">
            {% if company.primary_contact.user.last_name %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>Contact Last Name</strong>
          </li>
          <li class="list-group-item">
            {% if company.primary_contact.user.email %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>Contact Email</strong>
          </li>
          <li class="list-group-item">
            {% if company.name %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>Company Name</strong>
          </li>
          <li class="list-group-item">
            {% if company.bank_routing %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>Bank Routing</strong>
          </li>
          <li class="list-group-item">
            {% if company.bank_account %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>Bank Account</strong>
          </li>
          <li class="list-group-item">
            {% if company.tos_date %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>TOS Date Acceptance</strong>
          </li>
          <li class="list-group-item">
            {% if company.ip_address %}
              <i class="fa fa-check-circle text-success"></i>
            {% else %}
              <i class="fa fa-minus-circle text-danger"></i>
            {% endif %}
            <strong>IP Address</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
{% endblock %}