{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
	<div id="provider" >
    <div class="row">
        <form id="provider-signup" method="post" enctype="multipart/form-data" action="{% url 'provider-signup' %}">
          <h1 class="col-sm-12">Service Provider Sign Up</h1>
          <p class="col-sm-12 text-muted">
            Please fill out the following information to start receiving job requests from LawnCall.
          </p>
          <h3 class="col-sm-12">Primary Contact Information</h3>
          {% crispy user_form %}
          {% crispy contact_form %}
          <div class="clearfix"></div>
          <h3 class="col-sm-12">Business Information</h3>
          {% crispy company_form %}
          <div class="clearfix"></div>
          <div class="form-group">
            <div class="col-sm-12 checkbox">
              <label>
              <input class="checkboxinput checkbox" name="terms" type="checkbox" /> By registering your account, you agree to our <a href="/provider-agreement/" target="_blank" >Service Provider Agreement</a>
              and the <a href="https://stripe.com/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a>.
              </label>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="form-group btn-container">
            <div class="col-sm-offset-4">
              <input type="submit" class="btn btn-success col-sm-6" value="Sign Up" />
              <div class="clearfix"></div>
            </div>
            <div class="col-sm-offset-4">
              <div class="security col-sm-6 text-center">
                Secured by
                <img src="{% static 'images/comodo_secure_76x26_transp.png' %}" />
                <img src="{% static 'images/stripe.png' %}" />
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('.dateinput').combodate({
      maxYear: 1997,
      minYear: 1940
    });

    $('#provider-signup').formValidation({
        framework: 'bootstrap',
        err: {
            container: '#error'
        },
        excluded: ['.form-control'],
        icon: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          terms: {
            validators: {
              notEmpty: {
                message: 'Please agree to our Terms of Service'
              }
            }
          }
        }
      });

  });
</script>
{% endblock %}