{% extends "base.html" %}
{% load staticfiles %}
{% load require %}

{% block bodyclass %}customer-portal{% endblock %}

{% block content %}
<div id="portal">
    <div class="row">
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning{% endif %}
              " role="alert">
              {{ message }}
            </div>
          {% endfor %}
      {% endif %}
        <div id="service">
          <div class="col-md-9">
            <div id="provider-app" data-id="{{ user.businesscontact.id }}"></div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
              <h3>Need to get in touch?</h3>
              <p>
                Send us an email at
                <a href="mailto:service@lawncall.com?Subject=Need%20another%20service" target="_top">service@lawncall.com</a>
              </p>
              <p>
                Give us a call at (512) 537-4527
              </p>
            </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% require_module 'app/provider' %}
{% endblock %}