Collectfast==0.2.3
Django==1.9.4
Markdown==2.6.2
Pillow==2.9.0
PyJWT==1.4.0
PyYAML==3.11
Werkzeug==0.11.10
amqp==1.4.9
ansicolors==1.0.2
anyjson==0.3.3
arrow==0.6.0
awscli==1.9.15
awsebcli==3.7.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
billiard==3.3.0.23
blessed==1.9.5
boto==2.39.0
botocore==1.4.6
celery==3.1.23
cement==2.4.0
certifi==2016.2.28
cffi==1.6.0
colorama==0.3.3
configparser==3.5.0
contextlib2==0.5.3
cryptography==1.4
dicttoxml==1.7.4
django-cors-middleware==1.3.1
django-crispy-forms==1.6.0
django-easy-timezones==0.7.0
django-extensions==1.6.7
django-flatpages-x==0.1.2
django-ipware==1.1.1
django-longerusernameandemail==0.5.7
django-markitup==2.2.2
django-model-utils==2.5
django-multiupload==0.5.1
django-notifications-hq==1.1
django-password-reset==0.8.1
django-redis==4.4.4
django-require==1.0.9
django-require-s3==1.0.0
django-storages==1.4.1
django-tagulous==0.11.1
djangorestframework==3.3.3
djangorestframework-jwt==1.8.0
django-guardian==1.4.6
djrill==2.0
docker-py==1.1.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
drfdocs==0.0.11
drf-nested-routers==0.11.1
enum34==1.1.4
env-tools==2.0.0
futures==3.0.5
idna==2.1
ipaddress==1.0.16
jmespath==0.9.0
jsonfield==1.0.3
kombu==3.0.35
lxml==3.6.0
mandrill==1.0.57
ndg-httpsclient==0.4.0
oauthlib==1.0.3
pathspec==0.3.3
psutil==4.1.0
psycopg2==2.6.1
pyOpenSSL==16.0.0
pyasn1==0.1.9
pycparser==2.14
pycurl==7.43.0
python-dateutil==2.5.1
python-magic==0.4.12
python-openid==2.2.5
python-social-auth==0.2.14
pytz==2016.6.1
pyzillow==0.5.5
raven==5.24.3
requests==2.10.0
requests-oauthlib==0.6.1
rest-condition==1.0.2
rsa==3.2.3
simplejson==3.8.2
semantic-version==2.5.0
six==1.10.0
sorl-thumbnail==12.4a1
stripe==1.23.0
texttable==0.8.4
tini==3.0.1
wcwidth==0.1.6
websocket-client==0.35.0
wheel==0.24.0
xmltodict==0.10.2

# docusign
pydocusign==0.13.1
BeautifulSoup==3.2.1

# testing
django-rest-assured==0.2.0
factory-boy==2.7.0
fake-factory==0.5.7
django-fixture-magic==0.0.8
#logging
-e git+http://github.com/micimize/django-logging/#egg=django_logging

# search
django-haystack==2.5.dev2
drf-haystack==1.5.6
elasticsearch==2.3.0
requests-aws4auth==0.9
urllib3==1.20

# frontend
django-gulp==2.4.0
django-webpack-loader==0.3.0

wsgiref==0.1.2
html-json-forms==0.1.1
django-jsonify==0.3.0
