{% extends "postman/base.html" %}
{% load i18n postman_tags %}
{% load pagination_tags %}
{% load staticfiles %}

{% comment %}
WARNING: 'pagination_tags' is a name from the django-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}

{% block content %}
<div id="postman">
<div class="postman-header">
  {% block postman_menu %}
  <ul id="messages-nav" class="topbar-nav pull-left" role="menubar">
    <li class="ps-user-menu">
      <a href="#">
        <span class="label">
         {% block pm_folder_title %}{% endblock %}
        </span>
      </a>
      <div class="ps-popover ps-panel" role="presentation">
        <ul id="postman_menu">{% postman_unread as unread_count %}
         <li><a href="{% url 'postman:inbox' %}">&raquo;&nbsp;{% trans "Inbox" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
         <li><a href="{% url 'postman:sent' %}">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
         <li><a href="{% url 'postman:bookmarks' %}">&raquo;&nbsp;{% trans "Important Messages" %}</a></li>
         <li><a href="{% url 'postman:archives' %}">&raquo;&nbsp;{% trans "Archives" %}</a></li>
        </ul>
        <div class="ps-panel-arrows" role="presentation">
          <span class="inner arrow"></span>
        </div>
      </div>
    </li>
  </ul>
  {% endblock %}
  {% autopaginate pm_messages 8 %}
  <div class="pull-right">{% paginate %}</div>
  <div class="clear"></div>
</div>
{% if invalid_page %}
  <p>{% trans "Sorry, this page number is invalid." %}</p>
{% else %}
{% if pm_messages %}
<table id="pm_messages">
  <tbody>
    {% for message in pm_messages %}
    <tr {% if message.is_new %}class="unread"{% endif %}>
      {% block pm_sender_cell %}   <td>{{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}</td>{% endblock %}
      {% block pm_recipient_cell %}   <td>{{ message.obfuscated_recipient|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}</td>{% endblock %}
      <td>
        {% block pm_subject %}
        <a href="{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}">
        {% include "postman/inc_subject_ex.html" %}
        </a>
        {% endblock %}
      </td>
      <td>
        {{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}
      </td>

      <td class="text-right">
        {% if message.sender == user and message.sender_bookmarked or message.recipient == user and message.recipient_bookmarked %}
          {% if message.thread_id %}
          <button class="thread-unbookmark" data-value="{{ message.thread_id }}" data-url="{{ next_url }}">
            <img src="{% static "profiles/img/star-active.png" %}">
          </button>
          {% else %}
          <button class="message-unbookmark" data-value="{{ message.pk }}" data-url="{{ next_url }}">
            <img src="{% static "profiles/img/star-active.png" %}">
          </button>
          {% endif %}
        {% else %}
          {% if message.thread_id %}
          <button class="thread-bookmark" data-value="{{ message.thread_id }}" data-url="{{ next_url }}">
            <img src="{% static "profiles/img/star-open.png" %}">
          </button>
          {% else %}
          <button class="message-bookmark" data-value="{{ message.pk }}" data-url="{{ next_url }}">
            <img src="{% static "profiles/img/star-open.png" %}">
          </button>
          {% endif %}
        {% endif %}

        {% if message.sender == user and message.sender_archived or message.recipient == user and message.recipient_archived %}
          {% if message.thread_id %}
          <button class="thread-unarchive" data-value="{{ message.thread_id }}" data-url="{{ next_url }}">
            <img src="{% static "profiles/img/unarchive.png" %}">
          </button>
          {% else %}
          <button class="message-unarchive" data-value="{{ message.pk }}" data-url="{{ next_url }}">
            <img src="{% static "profiles/img/unarchive.png" %}">
          </button>
          {% endif %}
        {% else %}
          {% if message.thread_id %}
          <button class="thread-archive" data-value="{{ message.thread_id }}" data-url="{{ next_url }}">
            <img src="{% static "profiles/img/archive.png" %}">
          </button>
          {% else %}
          <button class="message-archive" data-value="{{ message.pk }}" data-url="{{ next_url }}">
            <img src="{% static "profiles/img/archive.png" %}">
          </button>
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</form>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}
{% endif %}
{% block pm_footer_info %}{% endblock %}
</div>
{% endblock content %}