{% extends "postman/base.html" %}
{% load i18n postman_tags %}
{% load pagination_tags %}
{% load staticfiles %}

{% comment %}
WARNING: 'pagination_tags' is a name from the django-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}

{% block account_content %}
<div id="postman">
  <div class="row">
    <div class="container">
      <div class="postman-header">
        <h2 class="text-yellow pull-left">communication is key</h2>
        {% autopaginate pm_messages 8 %}
        <div class="pull-right">{% paginate %}</div>
        <div class="clearfix"></div>
      </div>
      <div class="section-header">
        <h4 class="pull-left">Messages <span class="text-skinny">({{ unread_count }} New)</span></h4>
        {% block postman_menu %}
        {% comment %}
        <div class="dropdown pull-right">
          <button class="btn btn-default dropdown-toggle" type="button" id="message-dropdown" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="true">
            {% block pm_folder_title %}{% endblock %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="message-dropdown">
            <li><a href="{% url 'postman:inbox' %}">&raquo;&nbsp;{% trans "Inbox" %}{% if unread_count %} <strong>({{
              unread_count }})</strong>{% endif %}</a></li>
            <li><a href="{% url 'postman:sent' %}">&raquo;&nbsp;{% trans "Sent Messages" %}</a></li>
            <li><a href="{% url 'postman:bookmarks' %}">&raquo;&nbsp;{% trans "Important Messages" %}</a></li>
            <li><a href="{% url 'postman:archives' %}">&raquo;&nbsp;{% trans "Archives" %}</a></li>
          </ul>
        </div>
        {% endcomment %}
        {% endblock %}
        <div class="clearfix"></div>
      </div>
      {% if invalid_page %}
      <p>{% trans "Sorry, this page number is invalid." %}</p>
      {% else %}
      {% if pm_messages %}
      <div class="messages-list">
        {% for message in pm_messages %}
        <div class="messages-list-message{% if message.is_new %} unread{% endif %}">
          <a href="{% url 'postman:view_conversation' message.thread_id %}">
            <div class="messages-list-message-profile">
              <div class="messages-list-message-profile-photo"
                   style="background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=200&url={{ message.sender.get_photo }})"></div>
            </div>
            <div class="messages-list-message-meta">
              <div>{{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}
              </div>
              <div class="text-muted">{{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}</div>
            </div>
            <div class="messages-list-message-summary">
              {% include "postman/inc_subject_ex.html" %}
            </div>
          </a>
          <div class="messages-list-message-star">
            {% if message.sender == user and message.sender_bookmarked or message.recipient == user and
            message.recipient_bookmarked %}
            {% if message.thread_id %}
            <button class="thread-unbookmark" data-value="{{ message.thread_id }}" data-url="{{ next_url }}">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            {% else %}
            <button class="message-unbookmark" data-value="{{ message.pk }}" data-url="{{ next_url }}">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>
            {% endif %}
            {% else %}
            {% if message.thread_id %}
            <button class="thread-bookmark" data-value="{{ message.thread_id }}" data-url="{{ next_url }}">
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </button>
            {% else %}
            <button class="message-bookmark" data-value="{{ message.pk }}" data-url="{{ next_url }}">
              <i class="fa fa-star-o" aria-hidden="true"></i>
            </button>
            {% endif %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>{% trans "No messages." %}</p>
      {% endif %}
      {% endif %}
      </form>

      {% block pm_footer_info %}{% endblock %}
    </div>
  </div>
</div>
{% endblock account_content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/routes/messaging.js' %}"></script>
{% endblock %}