{% extends "postman/base.html" %}

{% load i18n %}
{% load postman_tags %}
{% load staticfiles %}

{% block bodyclass %}messaging-page{% endblock %}

{% block account_content %}
<div id="messages-wrapper" data-thread="{{ thread.id }}"></div>
<!--<div id="pm_messages">-->
  <!--<div id="message-wrapper">-->
    <!--<div class="row">-->
      <!--<div class="container">-->
        <!--<div class="col-md-12 ps-messages-view-header">-->
          <!--<a href="{{ next_url }}"><i class="fa fa-arrow-left"></i> Back to All Messages</a>-->
        <!--</div>-->

        <!--<div class="col-md-8" id="messages_container">-->
          <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">-->
          <!--<h4>-->
            <!--<span class="text-skinny">Conversation with</span>-->
            <!--<span class="text-brand">{% if thread.sender == user %} {{ thread.recipient.first_name }} {% else %} {{ thread.sender.first_name }} {% endif %}</span>-->
          <!--</h4>-->
          <!--</div>-->
            <!--<div id="reply-wrapper">-->
              <!--{% if thread.sender == user and thread.sender_archived or thread.recipient == user and thread.recipient_archived %}-->
              <!--{% else %}-->
              <!--{% if reply_to_pk %}-->
              <!--<form action="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post" enctype="multipart/form-data">-->
                <!--{% csrf_token %}-->
                <!--<div id="pm_reply">{{ form.body }}</div>-->
                <!--{% if thread.project.project_manager == request.user %}-->
                <!--<div class="pull-left">-->
                  <!--<input type="file" name="attachments" multiple />-->
                <!--</div>-->
                <!--{% endif %}-->
                <!--<button class="btn btn-brand pull-right" type="submit">{% trans 'Send Message' %}</button>-->
                <!--<div class="clearfix"></div>-->
              <!--</form>{% endif %}-->
              <!--{% endif %}-->
            <!--</div>-->


          <!--<ul id="pm_messages">-->
            <!--{% for message in pm_messages %}-->
            <!--<li>-->
              <!--{% if message.sender == request.user %}-->
                <!--<img src="{{ message.sender.get_photo }}" class="profile-photo img-circle pull-right" />-->
                <!--<div class="sent-message pull-right">-->
                  <!--{{ message.body|linebreaksbr }}-->
                  <!--{% if message.attachments.all %}-->
                    <!--<div class="">-->
                      <!--<strong>Attached Files </strong>-->
                        <!--<ul>-->
                        <!--{% for file in message.attachments.all %}-->
                          <!--<li><a href="{{ file.path }}" download>{{ file.name }}</a></li>-->
                        <!--{% endfor %}-->
                        <!--</ul>-->
                    <!--</div>-->
                  <!--{% endif %}-->
                <!--</div>-->
                <!--<div class="message-date text-muted pull-right">{{ message.sent_at|date:"DATETIME_FORMAT"}}</div>-->
                <!--<div class="clearfix"></div>-->
              <!--{% else %}-->
                <!--<img src="{{ message.sender.get_photo }}" class="profile-photo img-circle pull-left" />-->
                <!--<div class="received-message pull-left">-->
                  <!--{{ message.body|linebreaksbr }}-->
                  <!--{% if message.attachments.all %}-->
                    <!--<div class="">-->
                      <!--<strong>Attached Files </strong>-->
                        <!--<ul>-->
                        <!--{% for file in message.attachments.all %}-->
                          <!--<li><a href="{{ file.path }}" download>{{ file.name }}</a></li>-->
                        <!--{% endfor %}-->
                        <!--</ul>-->
                    <!--</div>-->
                  <!--{% endif %}-->
                <!--</div>-->
                <!--<div class="message-date text-muted pull-left">{{ message.sent_at|date:"DATETIME_FORMAT"}}</div>-->
                <!--<div class="clearfix"></div>-->
              <!--{% endif %}-->
            <!--</li>-->
            <!--{% endfor %}-->
          <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div id="contract_container" data-thread="{{ thread.id }}" data-bid="{{ thread.job.id }}" data-nda="{{ thread.nda }}" data-msa="{{ thread.msa }}"></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/routes/messaging.js' %}"></script>
{% endblock %}