{% extends "postman/base.html" %}

{% load i18n %}
{% load postman_tags %}
{% load staticfiles %}

{% block content %}
<div id="postman">
<div class="ps-messages-view-header">
  <a class="pull-left back button button-left" href="{{ next_url }}"><</a>
  <h1 class="pull-left">Conversation with {{ pm_messages.0.obfuscated_sender }}</h1>
  <div class="pull-right message-tools">
  {% if pm_messages.0.sender == user and pm_messages.0.sender_bookmarked or pm_messages.0.recipient == user and pm_messages.0.recipient_bookmarked %}
    {% if pm_messages|length > 1 %}
    <button class="thread-unbookmark button button-left" data-value="{{ pm_messages.0.thread_id }}" data-url="">
      <img src="{% static "profiles/img/star-active.png" %}">
    </button>
    {% else %}
    <button class="message-unbookmark button button-left" data-value="{{ pm_messages.0.pk }}" data-url="">
      <img src="{% static "profiles/img/star-active.png" %}">
    </button>
    {% endif %}
  {% else %}
    {% if pm_messages|length > 1 %}
    <button class="thread-bookmark button button-left" data-value="{{ pm_messages.0.thread_id }}" data-url="">
      <img src="{% static "profiles/img/star-open.png" %}">
    </button>
    {% else %}
    <button class="message-bookmark button button-left" data-value="{{ pm_messages.0.pk }}" data-url="">
      <img src="{% static "profiles/img/star-open.png" %}">
    </button>
    {% endif %}
  {% endif %}
  {% if pm_messages.0.sender == user and pm_messages.0.sender_archived or pm_messages.0.recipient == user and pm_messages.0.recipient_archived %}
    {% if pm_messages|length > 1 %}
      <button class="thread-unarchive button button-right" data-url="" data-value="{{ pm_messages.0.thread_id }}">
        <img src="{% static "profiles/img/unarchive.png" %}">
      </button>
    {% else %}
      <button class="message-unarchive button button-right" data-url="" data-value="{{ pm_messages.0.pk }}">
        <img src="{% static "profiles/img/unarchive.png" %}">
      </button>
    {% endif %}
  {% else %}
    {% if pm_messages|length > 1 %}
      <button class="thread-archive button button-right" data-url="" data-value="{{ pm_messages.0.thread_id }}">
        <img src="{% static "profiles/img/archive.png" %}">
      </button>
    {% else %}
      <button class="message-archive button button-right" data-url="" data-value="{{ pm_messages.0.pk }}">
        <img src="{% static "profiles/img/archive.png" %}">
      </button>
    {% endif %}
  {% endif %}
  </div>
  <div class="clear"></div>
</div>

  {% if quote %}
    <div class="ps-message-meta">
      <div class="ps-panel">
        <div class="ps-panel-title">Item</div>
        <ul class="ps-panel-list profile-meta-list">
          <li><span class="list-item">{{ quote.item }}</span></li>
        </ul>
      </div>
      <div class="ps-panel">
        <div class="ps-panel-title">Volume</div>
        <ul class="ps-panel-list profile-meta-list">
          <li><span class="list-item">{{ quote.volume }}</span></li>
        </ul>
      </div>
      <div class="ps-panel">
        <div class="ps-panel-title">Samples Requested</div>
        <ul class="ps-panel-list profile-meta-list">
          <li><span class="list-item">{% if quote.samples %}Yes{% else %}No{% endif %}</span></li>
        </ul>
      </div>
    </div>
  {% endif %}

  {% if inquiry %}
    <div class="ps-message-meta">
      <div class="ps-panel">
        <div class="ps-panel-title">Product Type</div>
        <ul class="ps-panel-list profile-meta-list">
          <li><span class="list-item">{{ inquiry.product_type }}</span></li>
        </ul>
      </div>
      <div class="ps-panel">
        <div class="ps-panel-title">Volume</div>
        <ul class="ps-panel-list profile-meta-list">
          <li><span class="list-item">{{ inquiry.volume }}</span></li>
        </ul>
      </div>
      <div class="ps-panel">
        <div class="ps-panel-title">Number of SKUs</div>
        <ul class="ps-panel-list profile-meta-list">
          <li><span class="list-item">{{ inquiry.skus }}</span></li>
        </ul>
      </div>
    </div>
  {% endif %}

<table id="pm_messages">
{% for message in pm_messages %}
  <tr class="pm_message {% if message.sender == user and message.sender_archived or message.recipient == user and message.recipient_archived %} pm_archived{% endif %}{% if message.sender == user and message.sender_deleted_at or message.recipient == user and message.recipient_deleted_at %} pm_deleted{% endif %}{% if message.recipient == user and not message.read_at %} pm_unread{% endif %}">
    <td class="pm_header">
      <span class="pm_sender">{{ message.obfuscated_sender|or_me:user }}</span>
    </td>
    <td class="pm_body">{{ message.body|linebreaksbr }}</td>
    <td><span class="pm_date">{{ message.sent_at|date:"DATETIME_FORMAT"}}</span></td>
  </tr>
{% endfor %}
</table>

{% if pm_messages.0.sender == user and pm_messages.0.sender_archived or pm_messages.0.recipient == user and pm_messages.0.recipient_archived %}
{% else %}
{% if reply_to_pk %}<hr />
<h2>{% trans 'Reply' %}</h2>
<form action="{% url 'postman:reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">{% csrf_token %}
<div id="pm_reply">{{ form.body }}</div>
<button class="fill full-width button" type="submit">{% trans 'Reply' %}</button>
</form>{% endif %}
{% endif %}
</div>
{% endblock %}