packages:
  yum:
    postgresql93-devel: []
    libffi-devel: []
    libcurl-devel: []
    patch: []
    libxslt-devel: []
    libxml2-devel: []

commands:
  01_node_install:
    command: 'sudo yum install -y nodejs npm --enablerepo=epel'
  02_pycurl_nss:
    command: "source /opt/python/run/venv/bin/activate && pip install --compile --no-cache-dir pycurl --global-option='--with-nss'"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_update_node:
    command: 'sudo npm install -g n && sudo n stable'
  03_update_npm:
    command: 'sudo npm update -g npm'
  04_npm_install_gulp:
    command: 'sudo npm install && sudo npm install -g gulp-cli'
  05_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  06_load_docusign_templates:
    command: "source /opt/python/run/venv/bin/activate && python manage.py runscript load_templates"

option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 2400
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: market/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: market.settings
  - option_name: AWS_STORAGE_BUCKET_NAME
    value: devquity

files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIApplicationGroup %{GLOBAL}
      <VirtualHost *:80>
      RewriteEngine On
      RewriteCond %{HTTP:X-Forwarded-Proto} !https
      RewriteRule !/robots.txt https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]
      RewriteCond %{HTTP_HOST} !^www\. [NC]
      RewriteRule ^(.*)$ http://www.joinloom.com/$1 [L,R=301]
      RewriteCond %{HTTPS} off
      RewriteRule ^(.*)$ https://www.joinloom.com/$1 [L,R=301]
      </VirtualHost>