packages:
  yum:
    postgresql93-devel: []

container_commands:
  01_node_install:
    command: 'yum install -y nodejs npm --enablerepo=epel'
  02_http_to_https_redirect:
    command:
      sed -i '/\<VirtualHost \*:80\>/a RewriteEngine On\nRewriteCond %{HTTP:X-Forwarded-Proto} !https\nRewriteRule \!/robots.txt https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]' /opt/python/ondeck/wsgi.conf
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  04_syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  05_collectstatic:
    command: "python manage.py collectstatic --noinput"
  06_migrate_catch:
    command: "python manage.py migrate --noinput"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: market/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: market.settings
  - option_name: AWS_STORAGE_BUCKET_NAME
    value: innoverted-market