@import "variables.less";
@import "mixins.less";
@import "../../node_modules/bootstrap/less/bootstrap.less";
@import "../../node_modules/bootstrap-select/less/bootstrap-select.less";
@import (inline) "../../node_modules/react-datepicker/dist/react-datepicker.css";
@import "bootstrap-select.min.css";
@import "formValidation.min.css";
@import "star-rating.min.css";
@import "fonts.less";

body {
  font-family: @page-font;
  font-weight: 400;
  font-size: @font-size-base;
  background: #FFF;
  color: @font-color--base;
}

#wrap {
  position: relative;
}

.wrapper {
  background: #fafafa;
  min-height: 500px;
}

a, a:hover, a:visited, a:active, a:focus {
  color: @brand--primary;
  text-decoration: none;
}

hr {
  border-bottom: 1px solid @black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @page-font;
  font-weight: 700;

  &.brand {
    font-family: @brand-font;
  }
  &.brand-bold {
    font-family: @brand-font-bold;
  }
}

h2 {
  letter-spacing: 1px;
}

h3, h4 {
  letter-spacing: 0.5px;
}

ul {
  list-style: none;
  padding: 0;
}

.section-header {
  font-weight: 100;
  font-size: 24px;
  .btn, h4 {
    display: inline-block;
  }
}

.light-section {
  background: #fafafa;
}

.hide-mobile {
  @media (max-width: @screen-sm) {
    display: none !important;
  }
}

.show-mobile {
  @media (min-width: @screen-sm) {
    display: none !important;
  }
}

.hide-xs {
  @media (max-width: @screen-xs) {
    display: none !important;
  }
}

.hide-medium {
  @media (max-width: @screen-md) {
    display: none !important;
  }
}

.hide-desktop {
  @media (min-width: @screen-sm) {
    display: none !important;
  }
}

.page-content {
  max-width: @content-max-width;
  width: 100%;
  margin: auto;

  @media (max-width: @screen-sm) {
    min-width: 320px !important;
  }
}

.page-content--medium {
  max-width: @content-width;
  width: 100%;
  margin: auto;

  @media (max-width: @screen-sm) {
    min-width: 320px !important;
  }
}

.page-content--small {
  max-width: @content-width--small;
  width: 100%;
  margin: auto;

  @media (max-width: @screen-sm) {
    min-width: 320px !important;
  }
}

.page-content--alternate {
  background: #fff6f3;
}

.highlight {
  color: @brand--accent;
}

.brand-color {
  color: @brand--primary;
}

.bold {
  font-weight: 700;
}

.nav-tabs>li>a {
  border-color: #ddd;
  background: #eee;
  color: @light-gray;
}

a.project-link {
  color: @black;
  &:hover {
    text-decoration: none;
  }
}


.icon {
  height: 27px;
}

.overlay {
  position: absolute;
  background: #000;
  opacity: .6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: @gutter*4 0;
}

.mid-section {
  padding: @gutter*2 0;
}

.sub-section {
  padding: @gutter 0;
}

.btn-group.open .dropdown-toggle {
  box-shadow: none;
}

// HOME HERO
#hero {
  color: #fff;
  position: relative;

  h1 {
    font-size: 40px;
  }

  .row {
    background: url(../images/home-hero-2g.jpg) no-repeat center;
    background-size: cover;
    padding: 150px 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }
}

.panel-project {
  border: 1px solid #ccc;
  border-radius: @border-radius;
}

// PROJECT PANELS
.project-manager-photo {
  border-radius: 45px;
  height: 45px;
  margin-right: 5px;
}
.project-manager-photo--bg {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-right: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.project-company {
  color: @devquity-yellow;
  font-weight: 700;
}
.project-description {
  color: @light-gray;
}

.project-copy {
  padding: 15px;
}

.project-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.project-meta {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    margin-right: 15px;
  }
}

.project-specs {
  position: absolute;
  bottom: 0;
  width: 100%;
  ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-top: 1px solid #ccc;
  }
  li {
    float: left;
    width: 33.33%;
    padding: 15px 0;
    &:not(:first-child) {
      border-left: 1px solid #ccc;
    }
  }
  .project-for, .project-or {
    position: absolute;
    border: 1px solid #ccc;
    width: 38px;
    border-radius: 50px;
    padding: 8px;
    background: #fff;
    color: @light-gray;
  }
}

#new-projects {
  .panel-project {
    height: 550px;
    position: relative;
  }
  .project-image {
    width: 100%;
    height: 175px;
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
  }
  .project-for, .project-or {
    bottom: 25px;
  }
  .project-for {
    left: 28%;
  }
  .project-or {
    left: 61%
  }
}

#past-projects {
  .container {
    position: relative;
  }
  .panel-project {
    height: 550px;
    position: relative;
  }
  .project-image {
    width: 100%;
    height: 175px;
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
  }
  .project-for, .project-or {
    bottom: 25px;
  }
  .project-for {
    left: 28%;
  }
  .project-or {
    left: 61%
  }
}

#experience {
  background: #fff;
  .skill {
    .skill-image {
      height: 60px;
      width: 60px;
      background: no-repeat;
      background-size: cover;
    }
    &.javascript .skill-image {
      background-image: url('../images/logo-javascript.png');
    }
    &.nginx .skill-image {
      background-image: url('../images/logo-nginx.png');
    }
    &.cloudfront .skill-image {
      background-image: url('../images/logo-cloudfront.png');
    }
    &.rubyonrails .skill-image {
      background-image: url('../images/logo-rubyonrails.png');
    }
  }
}

.react-datepicker__input-container {
  display: block;
}

.error-404 {
  color: @brand-neutral--1;
  padding: (@gutter + @gutter--medium) @gutter;
  text-align: center;

  h3 {
    margin: 0 0 @gutter;
  }
  p {
    margin: 0;
  }
}

.pixels {
  position: absolute;
  opacity: 0;
  right: 1000%;
  bottom: 1000%;
  outline: none;
}

@import "components/helpers.less";
@import "components/forms.less";
@import "components/modals.less";
@import "components/buttons.less";
@import "components/header.less";
@import "components/footer.less";
@import "components/featured.less";
@import "components/login.less";
@import "components/profiles.less";
@import "components/messaging.less";
@import "components/reviews.less";
@import "components/account.less";
@import "components/dashboard.less";
@import "components/onboard.less";
@import "components/projects.less";
@import "components/ratingStars.less";
@import "components/bigSelect.less";
@import "components/cta.less";
@import "components/bid.less";
@import "components/checkout.less";
@import "components/loader.less";

@import "components/home.less";
@import "components/how.less";
@import "components/carousel.less";
@import "components/plates.less";

@import "routes/about.less";
@import "routes/welcome.less";
@import "routes/forgotPassword.less";
@import "routes/skills.less";

@import "components/mobile.less";
@import "components/discover.less";
@import "components/create-project.less";
@import "components/badge.less";
@import "components/projectCard.less";