@font-face {
    font-family: "Walsheim Pro";
    src:    url("../fonts/GT-Walsheim-Pro-Regular.woff") format("woff"),
            url("../fonts/GT-Walsheim-Pro-Regular.ttf")  format("truetype")
}

@font-face {
    font-family: "Walsheim Pro Italic";
    src:    url("../fonts/GT-Walsheim-Pro-Regular-Oblique.woff") format("woff"),
            url("../fonts/GT-Walsheim-Pro-Regular-Oblique.ttf")  format("truetype")
}