@devquity-primary: #FF7B5C;
@dark-gray: #31302f;
@light-gray: #ccc;
@black: #31302f;
@devquity-yellow: #FF7B5C;
@off-white: #f3f3f3;
@white: #fff;
@border-gray: #DDDDDD;

@brand--primary: #FF7B5C;
@brand--primary-light: #FFAE39;
@brand--secondary: #FF9852;
@brand--tertiary: #FFAE39;
@brand--accent: #1EDDB2;
@hover-accent: #22F5CA;

@brand-neutral--1: #423D51;
@brand-neutral--2: #7B7786;
@brand-neutral--3: #A19EA8;
@brand-neutral--4: #C8C6CC;
@brand-neutral--5: #DAD9DD;
@brand-neutral--6: #ECECEE;

@brand-font: "Walsheim Pro", "Myriad Pro", Helvetica, Arial, sans-serif;
@brand-font-bold: "Walsheim Pro Bold", "Walsheim Pro", "Myriad Pro", Helvetica, Arial, sans-serif;
@page-font: "Open Sans", "Myriad Pro", Helvetica, Arial, sans-serif;
@font-color--base: @brand-neutral--1;
@font-color--light: @brand-neutral--2;
@font-color--lighter: @brand-neutral--4;

@content-width: 1100px;
@content-max-width: 1440px;


@gutter--small: 5px;
@gutter--medium: 12px;
@gutter: 20px;


@border-radius: 5px;
@border-radius--small: 3px;
@font-size-base: 14px;
