{% extends "base.html" %}
{% load staticfiles %}

{% block nav %}{% endblock %}

{% block content %}
<div id="create-project-header">
  <div class="row">
    <div class="container">
      <div id="onboard-form" data-id="{% if request.user.id %}{{ request.user.id }}{% endif %}"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/routes/onboard.js' %}"></script>

{% if ENVIRONMENT == 'prod' %}
<!-- Start Quantcast Tag -->
<script type="text/javascript">
var _qevents = _qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

_qevents.push(
{qacct:"p-PfwT46_39b1EV",labels:"_fp.event.Sign Up Confirmation,_fp.customer.{% if request.path == '/signup/developer/' %}developer{% else %}entrepreneur{% endif %}",event:"refresh"}
);
</script>
<noscript>
<img src="//pixel.quantserve.com/pixel/p-PfwT46_39b1EV.gif?labels=_fp.event.Sign+Up+Confirmation,_fp.customer.{% if request.path == '/signup/developer/' %}developer{% else %}entrepreneur{% endif %}" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag -->
{% endif %}
{% endblock %}