{% extends "base.html" %}
{% load staticfiles %}

{% block nav %}{% endblock %}

{% block content %}
<div id="confirm-profile" class="section">
  <div class="row">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h2 class="brand text-center">
          Pick the one that describes you
        </h2>
        <div class="pickers">
          <a class="text-center picker dev" href="{% url 'signup-developer' %}">
            <div class="picker-image"></div>
            <h4>I’m a <span class="text-accent">Developer</span> looking for projects</h4>
            <p>And I’m looking for work building quality projects.</p>
          </a>
          <a class="text-center picker ent" href="{% url 'signup-entrepreneur' %}">
            <div class="picker-image"></div>
            <h4>I’m an <span class="text-brand">Entrepreneur</span> looking for a developer</h4>
            <p>I have a web project that I want to hire a quality developer for.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
