{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="create-project-header" class="section">
  <div class="row">
    <div class="container">
      <form id="project-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="overview" class="form-big ">
          <p class="section-header text-center text-muted">
            let's confirm your profile details...
          </p>

          <div class="form-group">
            <div class="col-md-6">
              <label>Name</label>
              <input type="text" class="form-control" name="first_name" placeholder="First Name" value="{{ request.user.first_name }}" />
            </div>
            <div class="col-md-6">
              <label>&nbsp;</label>
              <input type="text" class="form-control" name="last_name" placeholder="Last Name" value="{{ request.user.last_name }}" />
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <label>Your Title</label>
              <input type="text" class="form-control" name="title" placeholder="Founder, Project Manager, Product Manager, etc." value="{{ request.user.linkedin.extra_data.headline }}" />
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
            <label>Biography</label>
            <textarea class="form-control" name="biography" placeholder="Long walks on the beach? Bacon aficionado? Tell potential clients a little bit about yourself." >
              {{ request.user.linkedin.extra_data.summary }}
            </textarea>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group">
            <div class="col-md-2">
               <img class="profile-image img-circle" src="{{ request.user.linkedin_photo }}" />
            </div>
            <div class="col-md-10">
            <label>Profile Photo</label>
            <input name="image" type="file" class="form-control" placeholder="Upload a different image..." />
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <label>Your Location</label>
              <input type="text" class="form-control" name="location" placeholder="Where is the project located? (City/State? Remote?)" />
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
            <label>Technologies</label>
            <input class="form-control" autocomplete="off" data-tag-options="{&quot;required&quot;: true}" data-tag-url="/skills/" data-tagulous="true" id="id_skills" name="skills" type="text" />
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="text-center">
            <input type="submit" class="btn btn-yellow overview" value="Save Profile" />
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    $('#project-form').formValidation({
        framework: 'bootstrap',
        fields: {
            first_name: {
                validators: {
                    notEmpty: {
                        message: 'A first name is required.'
                    }
                }
            },
            last_name: {
                validators: {
                    notEmpty: {
                        message: 'A last name is required.'
                    }
                }
            },
            title: {
                validators: {
                    notEmpty: {
                        message: 'A title is required.'
                    }
                }
            },
            biography: {
                validators: {
                    notEmpty: {
                        message: 'A biography is required'
                    }
                }
            },
            location: {
                validators: {
                    notEmpty: {
                        message: 'A location is required.'
                    }
                }
            }
        }
    });
});
</script>
{% endblock %}