{% extends "base_account.html" %}
{% load staticfiles %}

{% block account_content %}
<div id="dashboard">
  <div class="row">
    <div class="container">
      <div class="dashboard-tables">
        {% if bids or projects %}
        <div class="sub-section">
          <h2>Manage Your Pending Projects and Bids</h2>
        </div>
        {% endif %}
        {% if bids %}
          <div class="section">
            <div class="section-header">
              <h4>My Bids</h4>
            </div>
            <table class="dashboard-table dashboard-table-flex">
              <thead class="hide-mobile">
                <tr>
                  <th>Project</th>
                  <th>Cash</th>
                  <th>Equity</th>
                  <th>Hours</th>
                  <th>Date Submitted</th>
                  <th></th>
                </tr>
              </thead>
              {% for bid in bids %}
                <tr>
                  <td class="dashboard-table-flex-expand">{{ bid.project.title }}</td>
                  <td class="hide-mobile">{% if bid.cash %}${{ bid.cash }}{% endif %}</td>
                  <td class="hide-mobile">{% if bid.equity %}{{ bid.equity }}%{% endif %}</td>
                  <td class="hide-mobile">{{ bid.hours }} hours</td>
                  <td>{{ bid.date_created }}</td>
                  <td>
                    {% if bid.conversation %}
                      <a href="{% url 'postman:view_conversation' thread_id=bid.conversation.id %}" class="btn btn-brand--clear pull-right">View Messages</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
          {% else %}
            {% if user.role %}
            <div class="section section-padding">
              <h2 class="brand">You don't have any pending bids.</h2>
              <h3 class="text-skinny sub-section">When you start bidding on projects, you can keep track of them here.</h3>
              <div class="text-center">
                <a href="{% url 'project-gallery' 'all' %}" class="btn btn-lg btn-brand btn-brand--attn">Discover projects</a>
              </div>
              <div class="clearfix"></div>
            </div>
            <br/>
            {% endif %}
          {% endif %}

        {% if projects %}
          {% for project in projects %}
          <div class="section">
            <div class="section-header">
              <h4 class="pull-left"><a href="{% url 'project' project.slug %}">{{ project.title }}</a></h4>
              <div class="action-buttons pull-right">
                <a href="{% url 'edit-project' %}{{ project.id }}" class="btn btn-brand">Edit</a>
                <a href="{% url 'delete-project' project.id %}" onclick="return confirm('Are you sure ?')" class="btn btn-brand">Remove</a>
              </div>
              <div class="clearfix"></div>
            </div>
            {% if project.job_set.all %}
              <table class="dashboard-table dashboard-table-flex">
                <thead class="hide-mobile">
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Cash</th>
                    <th>Equity</th>
                    <th>Est. Hours</th>
                    <th>Submitted</th>
                    <th></th>
                  </tr>
                </thead>
                {% for bid in project.job_set.all %}
                <tr>
                  <td>
                    <div class="profile-photo" style="background-image: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=200&url={{ bid.contractor.get_photo }})"></div>
                  </td>
                  <td>
                    <strong>{{ bid.contractor.first_name }}</strong>
                  </td>
                  <td class="hide-mobile">
                    <strong>{% if bid.cash %}${{ bid.cash }}{% endif %}</strong>
                  </td>
                  <td class="hide-mobile">
                    <strong>{% if bid.equity %}{{ bid.equity }}%{% endif %}</strong>
                  </td>
                  <td class="hide-mobile">
                    <strong>{{ bid.contractor.capacity }} hours/wk</strong>
                  </td>
                  <td class="dashboard-table-flex-expand">
                    {{ bid.date_created }}
                  </td>
                  <td>
                    {% if bid.conversation %}
                      <a href="{% url 'postman:view_conversation' thread_id=bid.conversation.id %}" class="btn btn-brand--clear pull-right">View Messages</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </table>
              {% else %}
                <table class="dashboard-table">
                  <tbody>
                    <tr>
                      <td>
                        <h5 style="text-align: center;">There are currently no bids on this project.
                        {% comment %}
                        <a href="{% url 'discover-developers' 'all' %}">Start searching</a> for some developers!</h5>
                        {% endcomment %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              {% endif %}
          </div>
        {% endfor %}
        {% else %}
          {% if not user.role %}
          <div class="col-md-12">
            <h2 class="brand">You don't have any pending projects.</h2>
            <h3 class="text-skinny sub-section">Post a project. Receive bids.  Keep track of everything here.</h3>
            <div class="text-center">
              <a href="{% url 'create-project' %}" class="btn btn-lg btn-brand btn-brand--attn">Post your project</a>
            </div>
          </div>
          {% endif %}
        {% endif %}
      </div>

    </div>
  </div>
</div>


{% endblock %}