{% extends "base_account.html" %}
{% load staticfiles %}

{% block account_content %}
<div id="dashboard">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <h2 class="text-yellow">the hub for your project bids</h2>
      </div>
      <div class="col-md-12">
        {% for project in projects %}
        <div class="section">
          <div class="section-header">
            <h4>{{ project.title }} <span class="text-skinny">(5 New)</span></h4>
          </div>
          <table class="dashboard-table">
            {% if project.job_set.all %}
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Location</th>
                  <th>Availability</th>
                  <th>Cash</th>
                  <th>Equity</th>
                  <th></th>
                </tr>
              </thead>
              {% for bid in project.job_set.all %}
              <tr>
                <td>
                  <img src="{{ bid.contractor.get_photo }}" class="profile-photo img-circle" />
                </td>
                <td>
                  <strong>{{ bid.contractor.first_name }}</strong> <br/>
                  {{ bid.date_created }}
                </td>
                <td>
                  <strong>{{ bid.contractor.role }}</strong><br/>
                  Developer
                </td>
                <td>
                  <strong>{{ bid.contractor.city }}</strong><br/>
                  {{ bid.contractor.state }}
                </td>
                <td>
                  <strong>{{ bid.contractor.capacity }} hours/wk</strong>
                </td>
                <td>
                  <strong>${{ bid.cash }}</strong>
                </td>
                <td>
                  <strong>{{ bid.equity }}%</strong>
                </td>
                <td>
                  {% if bid.conversation %}
                    <a href="{% url 'postman:view_conversation' thread_id=bid.conversation.0.id %}" class="btn btn-dark pull-left">Message</a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            {% else %}
              <tr><td><h4>There are currently no bids on this project.   <a href="#">Start searching</a> for some developers!</h4></td></tr>
            {% endif %}
          </table>
        </div>
      {% endfor %}
      </div>

    </div>
  </div>
</div>


{% endblock %}