{% extends "base_account.html" %}
{% load staticfiles %}
{% load i18n postman_tags %}
{% load notifications_tags %}

{% postman_unread as unread_count %}

{% block account_content %}

<div id="dashboard">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <h2 class="brand text-brand">welcome to your dashboard, {{ user.first_name }}</h2>
      </div>
      <div class="col-md-3">
        <div class="section profile-snapshot text-center">
            <img src="{{ user.get_photo }}" class="profile-photo" />
          <div class="section-body">
            <h3 class="text-skinny">{{ user.first_name }}</h3>
            <p>
              <a href="{% url 'profile' %}">View Profile</a><br />
              <a href="{% url 'settings' %}">Edit Profile</a>
            </p>
          </div>
        </div>
        <div class="section">
          <div class="section-header">
            <h4 class="brand">Quick Links</h4>
          </div>
          <div class="section-body text-center">
            {% comment %}
            <p>
              <a class="btn btn-linkedin" href="{% url 'social:begin' backend='linkedin-oauth2' %}">
                <i class="fa fa-linkedin"></i>
                 LinkedIn
              </a><br />
              {% if user.linkedin %}
              <span class="text-success">CONFIRMED</span>
              {% else %}
              <span class="text-danger">UNCONFIRMED</span>
              {% endif %}
            </p>
            {% endcomment %}
            <div class="form-group">
            <a class="btn btn-brand " href="{% url 'create-project' %}">
              Post a Project
            </a>
            </div>
            <div class="form-group">
            <a class="btn btn-brand sub-section" href="{% url 'create-project' %}">
              Browse Projects
            </a>
            </div>
            <div class="form-group">
            <a class="btn btn-brand sub-section" href="{% url 'create-project' %}">
              Browse Talent
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="section">
          <div class="section-header">
            <h4>Notifications <span class="text-skinny">({% notifications_unread %} New)</span></h4>
          </div>
          <ul class="notifications">
            {% if notifications %}
              {% for notification in notifications %}
              <li>You {{ notification.verb }} on a project: <a href="{% url 'view-bids' %}">{{ notification.action_object.project.title }}</a></li>
              {% endfor %}
            {% else %}
              <li>There are no new notifications.</li>
            {% endif %}
          </ul>
        </div>

        <div class="section">
          <div class="section-header">
            <h4>Messages <span class="text-skinny">({{ unread_count }} New)</span></h4>
          </div>
          <table id="pm_messages">
            <tbody>
              {% for message in messages %}
              <tr>
                <td class="photo-container">
                  <img src="{{ message.sender.get_photo }}" class="profile-photo img-circle" />
                </td>
                {% block pm_sender_cell %}
                <td>
                  {{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %} <br/>
                  <span class="text-muted">{{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}</span>
                </td>
                {% endblock %}
                <td>
                  {% block pm_subject %}
                  <a href="{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}">
                  {% include "postman/inc_subject_ex.html" %}
                  </a>
                  {% endblock %}
                </td>
                <td>

                </td>

                <td class="text-right">
                  {% if message.sender == user and message.sender_bookmarked or message.recipient == user and message.recipient_bookmarked %}
                    {% if message.thread_id %}
                    <button class="thread-unbookmark" data-value="{{ message.thread_id }}" data-url="{{ next_url }}">
                      <img src="{% static "images/star-active.png" %}">
                    </button>
                    {% else %}
                    <button class="message-unbookmark" data-value="{{ message.pk }}" data-url="{{ next_url }}">
                      <img src="{% static "images/star-active.png" %}">
                    </button>
                    {% endif %}
                  {% else %}
                    {% if message.thread_id %}
                    <button class="thread-bookmark" data-value="{{ message.thread_id }}" data-url="{{ next_url }}">
                      <img src="{% static "images/star-open.png" %}">
                    </button>
                    {% else %}
                    <button class="message-bookmark" data-value="{{ message.pk }}" data-url="{{ next_url }}">
                      <img src="{% static "images/star-open.png" %}">
                    </button>
                    {% endif %}
                  {% endif %}

                </td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="5"><a href="{% url 'postman:inbox' %}">See More</a></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}