{% extends "base_account.html" %}
{% load staticfiles %}
{% load i18n postman_tags %}
{% load notifications_tags %}

{% postman_unread as unread_count %}

{% block account_content %}

<div id="dashboard">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <h2 class="brand">Welcome to Your Dashboard, {{ user.first_name }}</h2>
      </div>
      <div class="col-md-3">
        <div class="section profile-snapshot--dashboard text-center">
            <img src="{{ user.get_photo }}" class="profile-photo" />
            <h3 class="brand-bold">{{ user.first_name }}</h3>
            <p>
              <a href="{% url 'profile' %}">View Profile</a><br />
              <a href="{% url 'settings' %}#/profile/">Edit Profile</a>
            </p>
        </div>
        <div class="section">
          <div class="section-header">
            <h4>Quick Links</h4>
          </div>
          <div class="section-body flex-column text-center quick-links">
            {% comment %}
            <p>
              <a class="btn btn-linkedin" href="{% url 'social:begin' backend='linkedin-oauth2' %}">
                <i class="fa fa-linkedin"></i>
                 LinkedIn
              </a><br />
              {% if user.linkedin %}
              <span class="text-success">CONFIRMED</span>
              {% else %}
              <span class="text-danger">UNCONFIRMED</span>
              {% endif %}
            </p>
            {% endcomment %}
            <a class="btn btn-brand btn-wide" href="{% url 'create-project' %}">
              Post a Project
            </a>
            <a class="btn btn-brand btn-wide" href="{% url 'project-gallery' type='all'%}">
              Browse Projects
            </a>
            <!--<div class="form-group">-->
              <!--<a class="btn btn-brand btn-wide sub-section" href="{% url 'create-project' %}">-->
                <!--Browse Talent-->
              <!--</a>-->
            <!--</div>-->
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="section">
          <div class="section-header">
            <h4>Notifications <span class="text-skinny">({{ notifications|length }})</span></h4>
          </div>
          <ul class="notifications">
            {% if notifications %}
              {% for notification in notifications|slice:":50" %}
              <li>You {{ notification.verb }} on a project: <a href="{% url 'view-bids' %}">{{ notification.action_object.project.title }}</a></li>
              {% endfor %}
            {% else %}
              <li class="text-brand-bold">You have successfully created your account. Welcome to Loom!</li>
            {% endif %}
          </ul>
        </div>


        <div class="section">
          <div class="section-header">
            <h4>Messages {% comment %}<span class="text-skinny">({{ unread_count }} New)</span>{% endcomment %}</h4>
          </div>

          {% if messages %}
          <table id="pm_messages">
            <tbody>
              {% for message in messages %}
              <tr>
                <td class="photo-container">
                  <div class="profile-photo" style="background-image: url({{ message.sender.get_photo }});"></div>
                  <div class="show-mobile">
                    {{ message.obfuscated_sender|or_me:user }}<br/>
                    <span class="text-muted">{{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}</span>
                  </div>
                </td>
                {% block pm_sender_cell %}
                <td class="hide-mobile">
                  {{ message.obfuscated_sender|or_me:user }}<br/>
                  <span class="text-muted">{{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}</span>
                </td>
                {% endblock %}
                <td>
                  {% block pm_subject %}
                  <a href="{% if message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}">
                  {% include "postman/inc_subject_ex.html" %}
                  </a>
                  {% endblock %}
                </td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="5"><a href="{% url 'postman:inbox' %}">See More</a></td>
              </tr>
            </tbody>
          </table>
            {% else %}
            <div class="section-body">
            <p class="text-muted">You haven't received any messages... yet.</p>
          </div>
          {% endif %}
        </div>

        <div class="section">
          <div class="section-header">
            <h4>Connected Company <!--<span class="text-skinny">({% notifications_unread %} New)</span>--></h4>
          </div>
          <div class="connected-company">
            {% if request.user.company %}
              <div class="company-logo-small" style="background-image:url('{{ request.user.company.get_logo }}');"></div>
              <div class="flex-align-center">
                <h5 class="brand">{{ request.user.company.name }}</h5>
                <span class="text-muted small">Member since {{ request.user.date_joined }}</span>
              </div>
              <div class="flex-right">
                <a class="flex-align-center btn btn-brand--clear " href="{% url 'company' request.user.company.slug %}">View</a>
                <a class="flex-align-center btn btn-brand--clear " href="{% url 'settings' %}#/company">Edit</a>
              </div>
            {% else %}
              <p class="flex-left text-muted">
                You are not associated with a company. <br />
                This means you can compensate for work in cash only.
              </p>
              <a class="flex-right flex-align-center btn btn-brand--clear " href="{% url 'settings' %}#/company">Add Company</a>
            {% endif %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
  {% if ENVIRONMENT == 'prod' %}
    <!-- Start Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    function getParam(param) {
      var vars = {};
      window.location.href.replace( location.hash, '' ).replace(
        /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
        function( m, key, value ) { // callback
          vars[key] = value !== undefined ? value : '';
        }
    );

    if ( param ) {
      return vars[param] ? vars[param] : '';
    }
    return vars;
  }

    var signup = getParam("signup");
    if (signup) {
      (function() {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
        })();
      _qevents.push({qacct:"p-PfwT46_39b1EV",labels:"_fp.event.Sign Up Confirmation,_fp.customer."+signup,event:"refresh"});
    }
    </script>
    <!-- End Quantcast tag -->
  {% endif %}
{% endblock %}