{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
  <div id="login">
    <div class="row">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <div class="panel panel-default panel-login">
            <div class="panel-heading">
              <h2>Signup with Devquity</h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div id="email-signup" class="col-md-6">
                  <h5>Signup with your email</h5>
                  {% crispy form %}
                </div>
                <div id="social-signup" class="col-md-6">
                  <h5>Connect through LinkedIn</h5>
                  <a class="btn btn-block btn-linkedin text-center" href="{% url 'social:begin' backend='linkedin-oauth2' %}">
                    <i class="fa fa-linkedin"></i>
                    Sign In with LinkedIn
                  </a>
                  <p class="text-muted small text-center">
                    We will never post to LinkedIn without your permission.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              Already have an account?
              <a href="{% url 'login' %}"> Login in here.</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}