{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="login">
    <div class="row">
      <div class="container">
        <div class="panel panel-default panel-login text-center">
          <div class="login-hero pull-left">
            <div class="overlay"></div>
            <div class="login-hero-content">
              <h3 class="text-yellow">Devquity</h3>
              <h4 class="text-skinny">Sign in with LinkedIn to create a Devquity account.</h4>
            </div>
          </div>
          <div class="login-content pull-left">
            <p>
              <a class="btn btn-linkedin" href="{% url 'social:begin' backend='linkedin-oauth2' %}">
                <i class="fa fa-linkedin"></i>
                Sign In with LinkedIn
              </a>
            </p>
            <p class="text-muted small">We will never post to LinkedIn without your permission.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}