{% extends "base.html" %}
{% load staticfiles %}
{% load require %}

{% block bodyclass %}customer-portal{% endblock %}

{% block content %}
<div id="portal">
    <div class="row">
      <div class="container">
        <div id="service">
          <div class="col-md-9">
            <div id="customer-app" data-id="{{ user.customer.id }}"></div>
          </div>

          <div class="col-md-3">
            <div class="panel panel-default">
              <h3>Need other services?</h3>
              <p>
                Our network of trusted providers provides a full suite of property
                maintenance services beyond mowing.  Send us an email at
                <a href="mailto:service@lawncall.com?Subject=Need%20another%20service" target="_top">service@lawncall.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<link type="text/css" rel="stylesheet" href="{% static 'css/star-rating.min.css' %}" />
{% require_module 'app/customer' %}
<script type="text/javascript">

  //var stripe_key = {% if ENVIRONMENT == 'prod' %}'pk_live_n4vOSxsAJdUWl8hLmtqPQmyC'{% else %}'pk_test_CANPk8WGjQh2GpvfIDNhxsyy'{% endif %};
  //Stripe.setPublishableKey(stripe_key);

</script>

{% if ENVIRONMENT == 'prod' %}
<!-- Google Code for Signed up Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 942993937;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "dJhYCIvu2mIQkeTTwQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/942993937/?label=dJhYCIvu2mIQkeTTwQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endif %}

{% endblock %}