{% extends "hm-base.html" %}
{% load staticfiles %}

{% block header %}
<div class="header">
    <div class="container">
      <div class="col-md-12">
        <img src="{% static 'images/hm-logo-reverse.png' %}" class="logo" />
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div id="app-container" class="col-md-6"></div>
    <div class="app-right-rail col-md-6 hidden-xs">
      <div class="panel panel-default text-center">
        <div class="satisfaction text-center">
          <img src="{% static 'images/satisfaction_badge.jpg' %}" />
        </div>
        <h3>Booking with Home Makers is safe, secure, and easy.</h3>
        <ul class="list-unstyled signup-values">
          <li>Skip the annoying phone calls</li>
          <li>Upfront pricing </li>
          <li>Book services online at any time</li>
          <li>Guaranteed satisfaction, or your money back</li>
          <li>No contracts or hidden fees</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/jsx" src="{% static 'js/components/app.js' %}" ></script>
{% endblock %}