{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="profile" data-id="{{ user.id }}" >
  <div class="row section">
    <div class="container">
      <div class="col-md-4">
        <div class="profile-photo" style="background-image:url('{{ user.get_photo }}');"></div>
      </div>
      <div class="col-md-8">
        <h2 class="brand-bold text-brand text-header-main">
          {{ user.first_name }}
          <br />
          <span class="text-lowercase text-brand-secondary">
            {% if user.role %}
              {{ user.role }} developer
            {% else %}
              entrepreneur
            {% endif %}
          </span>
        </h2>

        <p class="short-description">
            {{ user.biography }}
        </p>
        <ul class="project-meta">
          <li>
            <img class="icon" src="{% static 'images/icon-location.png' %}" />
            <h4>{{ user.city }}, {{ user.state }}</h4>
          </li>
          {% if user.capacity %}
          <li>
            <img class="icon" src="{% static 'images/icon-clock.png' %}" />
            <h4>
              {{ user.capacity }} hours/week
            </h4>
          </li>
          {% endif %}
        </ul>
        <div class="button-actions">
          <a class="btn btn-brand--fade" data-toggle="tooltip" data-placement="bottom" title="Loom is currently in Beta, and messaging will be available soon.">Send Message</a>
          <a class="btn btn-brand--fade" data-toggle="tooltip" data-placement="bottom" title="Loom is currently in Beta, and leaving a review will be available soon.">Leave Review</a>
          {% comment %}{% if user.linkedin %}
            <button class="btn btn-primary" data-toggle="modal" data-target="#linkedin-modal">LinkedIn Info</button>
          {% endif %}{% endcomment %}
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

{% comment %}
<div id="reviews" class="section">
  <div class="row">
    <div class="container">
      <h2 class="section-header">2 Reviews of Andy</h2>
      <div class="review-stars text-yellow">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-full"></i>
        <i class="fa fa-star-o"></i>
        <span class="text-dark">Andy's Overall Rating</span>
      </div>
      <hr />
      <h3>Review Summary</h3>
      <div class="sub-section">
        <div class="col-md-6">
          <div class="review-stars text-yellow">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-full"></i>
            <i class="fa fa-star-o"></i>
            <span class="text-dark"> Accuracy</span>
          </div>
          <div class="review-stars text-yellow">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-full"></i>
            <i class="fa fa-star-o"></i>
            <span class="text-dark"> Timeliness</span>
          </div>
          <div class="review-stars text-yellow">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-full"></i>
            <i class="fa fa-star-o"></i>
            <span class="text-dark"> Code Quality</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="review-stars text-yellow">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-full"></i>
            <i class="fa fa-star-o"></i>
            <span class="text-dark"> Flexibility</span>
          </div>
          <div class="review-stars text-yellow">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-full"></i>
            <i class="fa fa-star-o"></i>
            <span class="text-dark"> Attn to Detail</span>
          </div>
          <div class="review-stars text-yellow">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-full"></i>
            <i class="fa fa-star-o"></i>
            <span class="text-dark"> Documentation</span>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="review sub-section">
        <div class="col-md-2 text-center">
          <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/73.jpg" />
          <h5>Samantha</h5>
        </div>
        <div class="col-md-10">
          <p class="review-content">
            “I found Sarah to be very easy to work with. Her code is always clean and she is quick to respond to
            requests. When the project required something that was out of scope, she was quick to offer a solution
            and be a constructive part of the team. Even though she worked remotely, she still feels like a part of
            the team and we’re glad she’s now part of our future. I highly recommend her.”
          </p>
          <h5 class="review-recommendation text-success">
            <i class="fa fa-thumbs-o-up"></i> I would work with this developer again.
          </h5>
          <p class="review-date">
            February 2016
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="review sub-section">
        <div class="col-md-2 text-center">
          <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mattsince87/73.jpg" />
          <h5>Johnathan</h5>
        </div>
        <div class="col-md-10">
          <p class="review-content">
            “I found Sarah to be very easy to work with. Her code is always clean and she is quick to respond to
            requests. When the project required something that was out of scope, she was quick to offer a solution
            and be a constructive part of the team. Even though she worked remotely, she still feels like a part of
            the team and we’re glad she’s now part of our future. I highly recommend her.”
          </p>
          <h5 class="review-recommendation text-danger">
            <i class="fa fa-thumbs-o-down"></i> I would work with this developer again.
          </h5>
          <p class="review-date">
            February 2016
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}

{% if user.skills %}
<div id="skills" class="section light-section">
  <div class="row">
    <div class="container">
      <div class="col-md-12 text-center">
        <h2 class="brand-bold text-header-main sub-section">{{ user.first_name }}'s Stack Experience</h2>
        <div class="sub-section">
        {% for skill in user.skills.all %}
        <a class="btn btn-dark--clear"><h3>{{ skill.name }}</h3></a>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div id="reviews" class="section">
  <div class="row">
    <div class="container">
      <h2 class="brand-bold text-header-main">Reviews of {{ user.first_name }}</h2>
      <div class="review-stars text-brand">
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <span class="text-dark">Overall Rating</span>
      </div>
      <hr />
       <div class="text-center">
        <h4 class="text-skinny sub-section ">Have you worked with {{ user.first_name }}?  Be the first to give them a review.</h4>
        <a class="btn btn-lg btn-brand btn-brand--attn" data-toggle="tooltip" data-placement="bottom" title="Loom is currently in Beta, and reviews will be available soon." disabled>Review {{ user.first_name }}</a>
      </div>
    </div>
  </div>
</div>

{% if jobs %}
<div class="section light-section">
  <div class="plates page-content--medium">
    <div class="plates-headcap">
      <h3 class="plates-header brand-bold">Past Projects</h3>
    </div>
    <div class="plates-inner">
      {% for term in terms %}
      <div class="plate">
        <div class="plate-image"{% if MEDIA_URL and term.job.project.image %} style="background-image: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=650&url={{ MEDIA_URL }}{{ term.job.project.image.file }}');"{% endif %}></div>
        <div class="plate-info">
          <div class="plate-info-profile">
            {% if term.job.project.project_manager.linkedin.extra_data.picture_url %}<div class="plate-info-profile-photo" style="background-image: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=200&url={{ term.job.project.project_manager.linkedin.extra_data.picture_url }}');"></div>{% endif %}
            <div class="plate-info-profile-name">
              <div class="plate-info-profile-name--primary">{{ term.job.project.project_manager.name }}</div>
              {% if term.job.project.company %}<div class="plate-info-profile-name--secondary">{{ term.job.project.company.name }}</div>{% endif %}
            </div>
          </div>
          <div class="plate-info-project">
            <h4 class="plate-info-project-name">{{ term.job.project_title }}</h4>
            <p class="plate-info-project-description">{{ term.job.project.short_blurb }}</p>
          </div>
        </div>
        <div class="plate-stats{% if term.job.equity and term.job.cash %} plate-stats-dual {% endif %}">
          {% if term.job.equity %}
          <div class="plate-stat">
            <div class="plate-stat-amount">{{ term.job.equity }}%</div>
            <div class="plate-stat-type">Equity</div>
          </div>
          {% endif %}
          {% if term.job.cash %}
          <div class="plate-stat">
            <div class="plate-stat-amount">${{ term.job.cash }}</div>
            <div class="plate-stat-type">Cash</div>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

{% comment %}

<div id="experience" class="section">
  <div class="row">
    <div class="container">
      <h2 class="section-header text-center">
        Andy's stack experience
      </h2>
      <div class="sub-section text-center">
        <div class="skill nginx col-md-3">
          <div class="skill-image center-block"></div>
          nginx <br />
          <span class="text-muted">Web Servers</span>
        </div>
        <div class="skill cloudfront col-md-3">
          <div class="skill-image center-block"></div>
          Amazon CloudFront <br />
          <span class="text-muted">Content Delivery Network</span>
        </div>
        <div class="skill javascript col-md-3">
          <div class="skill-image center-block"></div>
          Javascript <br />
          <span class="text-muted">Language</span>
        </div>
        <div class="skill rubyonrails col-md-3">
          <div class="skill-image center-block"></div>
          Ruby on Rails <br />
          <span class="text-muted">Application Framework</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endcomment %}
<div class="modal fade" tabindex="-1" role="dialog" id="linkedin-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="brand">
          Some of <span class="text-brand">{{ user.first_name }}'s</span> work experience
        </h4>
      </div>

      <div class="modal-body">
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="message-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          <span class="text-skinny">Message with</span>
          <span class="text-yellow">{{ user.first_name }}</span>
        </h4>
      </div>

      <div class="modal-body">
        {% if projects %}
        <form id="message-form">
          <input type="hidden" name="recipient" value="{{ user.id }}" />
          <div class="form-group">
          <label>Which project are you hiring {{ user.first_name }} for?</label>
          <select class="form-control" name="project" >
          {% for project in projects %}
            <option value="{{ project.id }}">{{ project.title }}</option>
          {% endfor %}
          </select>
          </div>
          <textarea cols="40" class="required-input" id="id_message" name="message" placeholder="Write your message..." rows="7"></textarea>
          <input type="submit" class="btn btn-yellow pull-right" value="Send Message" />
          <div class="clearfix"></div>
        </form>
        {% else %}
          <h4>You need to <a href="{% url 'create-project' %}">post a project</a> before hiring a developer.</h4>
        {% endif %}
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static 'js/routes/profile.js' %}"></script>
{% endblock %}