{% load thumbnail %}
{% load humanize %}
{% load pretty_role %}

<a href="{% url 'project' project.slug %}" class="projectCard">
  <div class="projectCard-role {{ project.category }}">
    {% readable_role project.role %}
  </div>
  <div class="projectCard-details">
    <h2 class="projectCard-title">{{ project.title|truncatechars:70 }}</h2>
    <div class="projectCard-description">
      {{ project.scope|truncatechars:158 }}
    </div>
  </div>
  <div class="projectCard-budget {{ project.category }}">
    {% if project.estimated_equity_percentage %}
      <div class="projectCard-budget-item{% if not project.estimated_cash %} projectCard-budget-item--only{% endif %}">
        <div class="projectCard-budget-item-amount">{{ project.estimated_equity_percentage }}%</div>
        <div class="projectCard-budget-item-type">Equity</div>
      </div>
    {% endif %}
    {% if project.estimated_equity_percentage and project.estimated_cash %}
      <div class="projectCard-budget-andor">
        {% if project.mix %}
          and
        {% else %}
          or
        {% endif %}
      </div>
    {% endif %}
    {% if project.estimated_cash %}
      <div class="projectCard-budget-item{% if not project.estimated_equity_percentage %} projectCard-budget-item--only{% endif %}">
        <div class="projectCard-budget-item-amount">${{ project.estimated_cash|intcomma }}</div>
        <div class="projectCard-budget-item-type">Cash</div>
      </div>
    {% endif %}
  </div>
</a>