{% extends "base_account.html" %}
{% load staticfiles %}

{% block account_content %}
<div id="dashboard">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <h2 class="text-yellow">monitor the progress of your projects</h2>
      </div>
      <div class="col-md-12">
        {% for project in projects %}
        <div class="section">
          <div class="section-header">
            <h4>{{ project.title }} <span class="text-skinny">(5 New)</span></h4>
          </div>
          <table class="dashboard-table">
            {% if project.job_set.all %}
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Location</th>
                  <th>Availability</th>
                  <th>Progress</th>
                  <th>Compensation</th>
                  <th></th>
                </tr>
              </thead>
              {% for bid in project.job_set.all %}
              <tr>
                <td>
                  <img src="{{ bid.developer.linkedin.extra_data.picture_url }}" class="profile-photo img-circle" />
                </td>
                <td>
                  <strong>{{ bid.developer.first_name }}</strong> <br/>
                  {{ bid.date_created }}
                </td>
                <td>
                  <strong>{{ bid.developer.role }}</strong><br/>
                  Developer
                </td>
                <td>
                  <strong>{{ bid.developer.city }}</strong><br/>
                  {{ bid.developer.state }}
                </td>
                <td>
                  <strong>{{ bid.developer.capacity }} hours/wk</strong>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" style="width: {{ bid.progress }}%;"></div>
                  </div>
                </td>
                <td>
                  <strong>{{ bid.equity }}%</strong>
                </td>
              </tr>
              {% endfor %}
            {% else %}
              <tr><td><h4>There are currently active jobs.   <a href="#">Accept bids</a> to get work started!</h4></td></tr>
            {% endif %}
          </table>
        </div>
      {% endfor %}
      </div>

    </div>
  </div>
</div>


{% endblock %}