{% extends "base_account.html" %}
{% load staticfiles %}

{% block account_content %}
<div id="dashboard">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <h2 class="brand">monitor the progress of your projects</h2>
      </div>
      <div class="col-md-12">
        {% for project in projects %}
        <div class="section">
          <div class="section-header">
            <h4>{{ project.title }} </h4>
          </div>
          <table class="dashboard-table">
            {% if project.active_jobs %}
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Location</th>
                  <th>Availability</th>
                  <th>Progress</th>
                  <th>Compensation</th>
                  <th></th>
                </tr>
              </thead>
              {% for bid in project.active_jobs %}
              <tr>
                <td>
                  <img src="{{ bid.contractor.get_photo }}" class="profile-photo img-circle" />
                </td>
                <td>
                  <strong>{{ bid.contractor.first_name }}</strong> <br/>
                  {{ bid.date_created }}
                </td>
                <td>
                  <strong>{{ bid.contractor.role }}</strong><br/>
                  Developer
                </td>
                <td>
                  <strong>{{ bid.contractor.city }}</strong><br/>
                  {{ bid.contractor.state }}
                </td>
                <td>
                  <strong>{{ bid.contractor.capacity }} hours/wk</strong>
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" style="width: {{ bid.progress }}%;"></div>
                  </div>
                </td>
                <td>
                  <strong>{{ bid.equity }}%</strong>
                </td>
                <td>
                {% comment %}
                <!-- TODO This needs to be reimplemented (LM-91) -->
                  {% if bid.bid_message %}
                    <a href="{% url 'view-conversation' thread_id=bid.bid_message %}" class="btn btn-dark pull-left">Message</a>
                  {% endif %}
                {% endcomment %}
                </td>
              </tr>
              {% endfor %}
            {% else %}
              <tr><td><h4>There are currently active jobs.   <a href="#">Accept bids</a> to get work started!</h4></td></tr>
            {% endif %}
          </table>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>




{% endblock %}