{% extends "base.html" %}
{% load staticfiles %}
{% load require %}

{% block bodyclass %}customer-portal{% endblock %}

{% block content %}
<div id="portal">
    <div class="row">
      <div class="container">
        <div id="service">
          <div class="col-md-8">
            <table class='table appointment-table'>
              <tbody>
              <tr class='active appointment' >
                <td class='edge text-center'>
                  <i class='fa fa-exclamation-circle text-danger'></i>
                </td>
                <td>
                  <h4>{{ job.service.name }} at {{job.customer.service_address}} {{job.customer.service_address2}}</h4>
                  <span class='text-danger upper'><strong>UNCONFIRMED</strong></span> <span class="text-muted">Please confirm your booking with payment information.</span>
                </td>
              </tr>
              <tr class='appointment-details'>
                <td colSpan="2">
                  <div id="quote">
                    <div class="col-md-7">
                      <form method="POST" action="." class="payment-form form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                          <div class="col-md-12">
                            <input class="form-control" type="text" data-stripe="number" name="number" placeholder="Credit Card Number"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-4">
                            <input class="form-control" type="text" data-stripe="exp-month" name="month" placeholder="MM"/>
                          </div>
                          <div class="col-xs-4">
                            <input class="form-control" type="text" data-stripe="exp-year" name="year" placeholder="YYYY"/>
                          </div>
                          <div class="col-xs-4">
                            <input class="form-control" type="text" data-stripe="cvc" name="cvc" placeholder="CVC"/>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12">
                            <label>Special Instructions</label>
                            <textarea class="form-control" name="notes" placeholder="Please leave us notes regarding any special needs or circumstances (e.g. gate codes, pets, etc.)"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12">
                            <input class="form-control" name="password" type="password" placeholder="Set Password" />
                          </div>
                        </div>
                         <div class="form-group">
                          <div class="col-xs-12">
                            <input class="form-control" name="confirm_password" type="password" placeholder="Confirm Password" />
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-xs-12">
                          <input type="hidden" class="stripe" name="stripe_token" />
                          <button type="submit" class="btn btn-success form-control">
                            Confirm Booking
                          </button>
                          <p class="payment-errors hidden"></p>
                          <div class="security text-center">
                            Secured by
                            <img src="/static/images/comodo_secure_76x26_transp.png" />
                            <img src="/static/images/stripe.png" />
                          </div>
                          </div>
                        </div>
                      </form>
                      </div>
                      <div class="col-md-5">
                        <strong>Service Address</strong>
                        <p class="text-muted">
                          {{ job.customer.service_address }} {{ job.customer.service_address2 }} <br />
                          {{ job.customer.service_city }}, {{ job.customer.service_state }} {{ job.customer.service_zipcode }}
                        </p>
                        <strong>Estimated Service Time</strong>
                        <p class="text-muted">Within 3 Business Days</p>
                        <strong>Price*</strong>
                        <p class="text-muted">
                          $<span class="price">{{ job.price }}</span>
                        </p>
                        <p class="text-muted small">
                          *Your credit card will NOT be charged until service is complete.  Price includes Sales Tax, as applicable.  An overgrown lawn surcharge of up to $20 may apply if the length of grass exceeds 6".  Excessively overgrown, oversized. or complex lawns may require a custom price quote.
                        </p>
            
                      </div>
                  </div>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>

      <div class="col-md-4 hidden-xs">
        <div class="">
          <div class="signup-img text-center">
            <img src="{% static 'images/satisfaction_badge.png' %}" />
          </div>

          <div class="panel-group" id="signup-faq" role="tablist" aria-multiselectable="true">
            <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" class="faq collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-plus-square"></i> How does LawnCall work?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  When you need lawn care service, LawnCall matches you with the right, top-rated, local lawn care expert for the job. You can see the price for your service before you book, complete the booking process in less than a minute, and rest assured that your lawn is protected by our 100% money-back guarantee.
                </div>
              </div>
            </div>
            <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="faq collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa fa-plus-square"></i> What can I expect with LawnCall?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  With LawnCall, there are no commitments whatsoever. That means no contracts, no mandatory schedules, and no sneaky auto-renewals. With our one-time service, your lawn is only mowed when you tell us you want it mowed. Whenever you decide your lawn needs attention again, you can book another one-time mow - it's always your call.
                </div>
              </div>
            </div>
            <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="faq collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-plus-square"></i> What's included with my mow?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Your mowing service includes mowing, edging, and blowing of your front and back yards.
                </div>
              </div>
            </div>
          <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="faq collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-plus-square"></i> How do I know I'll receive high-quality work?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>At LawnCall, we personally screen lawn care professionals and select only the best to provide you service. Our pros are highly experienced with proven track records of exceptional performance and customer service.</p>
                  <p>Further, we stand behind our service, 100%. If you're not satisfied, we'll send out another lawn care professional to ensure your lawn meets both your expectations and our high standards. If you still aren't completely happy with your lawn, we'll refund your money.</p>
                </div>
              </div>
            </div>
          <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="faq collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-plus-square"></i> Still have questions?
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <p>Contact us anytime! We can be reached through <a class="contact" href="#">chat</a>, email and phone.</p>
                  <p>
                    <i class="fa fa-envelope"></i> Email: info@lawncall.com<br />
                    <i class="fa fa-phone"></i> Phone: (512) 537-4527
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/api.js' %}" ></script>
<script src="{% static 'js/library/jquery.js' %}" ></script>
  <script src="{% static 'js/library/bootstrap.js' %}" ></script>
<script src="{% static 'js/library/formValidation.popular.min.js' %}" ></script>
<script src="{% static 'js/library/validation.bootstrap.min.js' %}" ></script>
  <script src="https://js.stripe.com/v2/?sensor=false"></script>
<script type="text/javascript">
var stripe_key = {% if ENVIRONMENT == 'prod' %}'pk_live_n4vOSxsAJdUWl8hLmtqPQmyC'{% else %}'pk_test_CANPk8WGjQh2GpvfIDNhxsyy'{% endif %};
$(document).ready(function() {
  $('.payment-form').formValidation({
        framework: 'bootstrap',
        icon: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
        },
        err: {
            container: 'tooltip'
        },
        fields: {
          number: {
            validators: {
              notEmpty: {
                  message: 'A credit card number is required'
              }
            }
          },
          cvc: {
            validators: {
              notEmpty: {
                  message: 'CVC is required'
              }
            }
          },
          month: {
            validators: {
              notEmpty: {
                  message: 'An expiry month is required'
              }
            }
          },
          year: {
            validators: {
              notEmpty: {
                  message: 'An expiry year is required'
              }
            }
          },
          password: {
            validators: {
              notEmpty: {
                  message: 'A password is required'
              }
            }
          },
        confirm_password: {
          validators: {
            identical: {
              field: 'password',
              message: 'Passwords do not match'
            }
          }
        }
        }
      })
      .on('success.form.fv', function(e) {
          e.preventDefault();
      }.bind(this));

    function createCC (status, response) {
      var $form = $('.payment-form');
      if (response.error) {
        // Show the errors on the form
        $('.payment-form .payment-errors').removeClass('hidden').text(response.error.message);
        $form.find('button').prop('disabled', false);
        $form.find('.fa.load').addClass('hidden');
      } else {
        var token = response.id;
        $form.find('.stripe').val(token);
        $form.get(0).submit();
      }
    }

    $('.payment-form').submit(function(event) {
      var $form = $(this);
      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);
      Stripe.setPublishableKey(stripe_key);
      Stripe.card.createToken($form, createCC);
      // Prevent the form from submitting with the default action
      return false;
    });
});
</script>
{% endblock %}