{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block nav %}{% endblock %}

{% block bodyid %}login{% endblock %}

{% block content %}
  <div>
    <div class="login-hero hide-mobile">
      <div class="login-overlay"></div>
    </div>
      <div class="login-panel">
        <div class="login-content">
          <h2 class="brand-bold sub-section">Get Started For Free</h2>
          <h3 class="brand sub-section text-muted hide-mobile" style="margin-top: -25px;">Sign up to start discovering or posting amazing projects. Together we can build the future.</h3>
          <h6 class="by-signing-up">By signing up, you agree to Loom's <a href="/terms-of-service/">Terms of Services</a></h6>
          <div class="sub-section hide-desktop"></div>
          <div id="email-signup">
            <form id="signup-form" method="post" action="{% url 'signup' %}">
              <div class="form-inputs">
              {% crispy form %}
              </div>
              <input type="submit" class="btn btn-block btn-brand btn-fat" value="Sign Up"/>
            </form>
          </div>
          <div class="login-footer text-center">
            Already have an account?
            <a href="{% url 'login' %}"> Login in here.</a>
          </div>
          <div class="sub-section">&nbsp;</div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}{% endblock %}