{% extends "base_account.html" %}
{% load staticfiles %}

{% block account_content %}
<div id="dashboard">
  <div class="row">
    <div class="container">
      <div class="col-md-12 dashboard-header">
        <h2 class="text-yellow">verify your skills and set yourself apart</h2>
        <p>We've recommended tests for you based on your skills. When you pass a test, a verification check appears with that skill in your profile. Skill verifications help project managers choose which developer to work with.</p>
      </div>
      <div class="col-md-12">
        <div id="skills" data-id="{{ request.user.id }}">
          <div class="SPAloader"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/routes/skills.js' %}"></script>
{% endblock %}