body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
.icon {
  height: 35px;
}
.overlay {
  position: absolute;
  background: #000;
  opacity: .7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.text-yellow {
  color: #f6b900;
}
.text-skinny {
  color: #fff;
}
.text-skinny {
  font-weight: 100;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
.btn {
  text-transform: uppercase;
}
.btn.btn-transparent {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}
.btn.btn-transparent:hover {
  color: #fff;
}
.btn.btn-foggy {
  color: #fff;
  background: rgba(255, 255, 255, 0.6);
}
.btn.btn-foggy:hover {
  color: #fff;
}
.btn.btn-yb {
  color: #31302f;
  border: 1px solid #f6b900;
}
.btn.btn-linkedin {
  text-transform: none;
  color: #fff;
  background: #0077B5;
}
.btn.btn-linkedin .fa {
  font-size: 18px;
  margin-right: 8px;
}
.btn.btn-angellist {
  text-transform: none;
  color: #31302f;
  background: #fff;
  border: 1px solid #31302f;
}
.btn.btn-angellist .fa {
  font-size: 18px;
  margin-right: 8px;
}
#header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 15px 0;
}
#header .logo {
  width: 150px;
  height: 44px;
  background: url(../images/devquity-yb.png) no-repeat;
  background-size: cover;
}
#header.home .logo {
  background-image: url(../images/devquity-wy.png);
}
#hero {
  color: #fff;
  position: relative;
}
#hero h1 {
  font-size: 40px;
}
#hero .row {
  background: url(../images/home-hero-2g.jpg) no-repeat center;
  background-size: cover;
  padding: 150px 0;
}
#hero .container {
  position: relative;
  z-index: 1;
}
#footer .row {
  color: #fff;
  background: #31302f;
  padding: 75px 0;
  font-size: 16px;
  font-weight: 100;
}
#footer .logo {
  width: 150px;
  display: block;
  margin-top: 50px;
}
#footer .fa {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px;
  margin-right: 7px;
  width: 35px;
  text-align: center;
}
#footer a,
#footer a:hover,
#footer a:visited {
  color: #fff;
}
#footer h5 {
  color: #f6b900;
  font-size: 16px;
}
#footer .copyright {
  color: #666;
  font-size: 12px;
}
#login {
  margin: 100px 0 75px;
}
#login .panel-login {
  width: 475px;
  margin: auto;
}
#login .login-hero {
  background: url('../images/login-2g.jpg') no-repeat center;
  background-size: cover;
  padding: 30px;
  width: 50%;
  position: relative;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#login .login-hero .login-hero-content {
  position: relative;
  z-index: 1;
}
#login .login-hero .overlay {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#login .login-content {
  width: 50%;
  padding: 25px;
}
#developer-profile {
  margin: 100px 0 75px;
}
#developer-profile .profile-photo {
  height: 150px;
  margin-right: 15px;
  margin-bottom: 15px;
}
