body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background: #f5f5f5;
}
a,
a:hover,
a:visited {
  color: #f6b900;
  text-decoration: none;
}
hr {
  border-bottom: 1px solid #31302f;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}
ul {
  list-style: none;
  padding: 0;
}
.section-header {
  font-weight: 100;
  font-size: 42px;
  margin-top: 0;
}
h5 {
  font-size: 18px;
}
.wrapper {
  margin-top: 75px;
}
.nav-tabs > li > a {
  border-color: #ddd;
  background: #eee;
  color: #cccccc;
}
a.project-link {
  color: #31302f;
}
a.project-link:hover {
  text-decoration: none;
}
.dq-progress-bar {
  list-style: none;
  padding: 0;
  float: left;
}
.dq-progress-bar li {
  float: left;
  padding: 25px;
  border: 1px solid #f6b900;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}
.dq-progress-bar li.active {
  background: #f6b900;
  color: #fff;
}
.dq-progress-bar li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.dq-progress-bar li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.progress-state {
  list-style: none;
  padding: 0;
  margin: 0 5px;
}
.progress-state li {
  float: left;
  padding: 25px;
  border: 1px solid #f6b900;
  border-radius: 5px;
  margin: 0 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #f6b900;
}
.icon {
  height: 35px;
}
.overlay {
  position: absolute;
  background: #000;
  opacity: .6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
.section-first {
  padding: 100px 0 75px;
}
.section {
  padding: 75px 0;
}
.sub-section {
  padding: 25px 0;
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
}
#hero {
  color: #fff;
  position: relative;
}
#hero h1 {
  font-size: 40px;
}
#hero .row {
  background: url(../images/home-hero-2g.jpg) no-repeat center;
  background-size: cover;
  padding: 150px 0;
}
#hero .container {
  position: relative;
  z-index: 1;
}
#profile .profile-photo {
  height: 150px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.panel-project {
  border: 1px solid #ccc;
  border-radius: 5px;
}
.project-manager-photo {
  border-radius: 45px;
  height: 45px;
  margin-right: 5px;
}
.project-company {
  color: #f6b900;
  font-weight: 700;
}
.project-description {
  color: #cccccc;
}
.project-copy {
  padding: 15px;
}
.project-image {
  background-repeat: no-repeat;
  background-size: cover;
}
.project-meta {
  list-style: none;
  padding: 0;
}
.project-meta li {
  display: inline-block;
  margin-right: 15px;
}
.project-specs {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.project-specs ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}
.project-specs li {
  float: left;
  width: 33.33%;
  padding: 15px 0;
}
.project-specs li:not(:first-child) {
  border-left: 1px solid #ccc;
}
.project-specs .project-for,
.project-specs .project-or {
  position: absolute;
  border: 1px solid #ccc;
  width: 38px;
  border-radius: 50px;
  padding: 8px;
  background: #fff;
  color: #cccccc;
}
#new-projects .container {
  position: relative;
}
#new-projects .panel-project {
  height: 550px;
  position: relative;
}
#new-projects .btn {
  position: absolute;
  top: 25px;
  right: 0;
}
#new-projects .project-image {
  width: 100%;
  height: 175px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#new-projects .project-for,
#new-projects .project-or {
  bottom: 25px;
}
#new-projects .project-for {
  left: 28%;
}
#new-projects .project-or {
  left: 61%;
}
#past-projects .container {
  position: relative;
}
#past-projects .panel-project {
  height: 550px;
  position: relative;
}
#past-projects .project-image {
  width: 100%;
  height: 175px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#past-projects .project-for,
#past-projects .project-or {
  bottom: 25px;
}
#past-projects .project-for {
  left: 28%;
}
#past-projects .project-or {
  left: 61%;
}
#browse-category a,
#browse-category a:visited,
#browse-category a:hover {
  color: #fff;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
}
#browse-category a h3,
#browse-category a:visited h3,
#browse-category a:hover h3 {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  padding: 125px 0;
}
#browse-category #art {
  background-image: url('../images/art.jpg');
}
#browse-category #technology {
  background-image: url('../images/technology.jpg');
}
#browse-category #gaming {
  background-image: url('../images/game.jpg');
}
#browse-category #health {
  background-image: url('../images/health.jpg');
}
#browse-category #nonprofit {
  background-image: url('../images/nonprofit.jpg');
}
#browse-category #social {
  background-image: url('../images/social.jpg');
}
#browse-category #location {
  background-image: url('../images/location.jpg');
}
#browse-category #music {
  background-image: url('../images/music.jpg');
}
#browse-category #news {
  background-image: url('../images/news.jpg');
}
#developers .profile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  padding: 50px 0;
}
#developers .profile img {
  border: 2px solid #ccc;
  border-radius: 40px;
  height: 40px;
}
#developers .overlay {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  overflow: hidden;
  top: 0px;
  bottom: -1px;
  left: 0px;
  right: 0px;
}
#developers .profile-content {
  position: relative;
  z-index: 2;
}
#how .container {
  position: relative;
}
#how .btn {
  position: absolute;
  top: 25px;
  right: 0;
}
#how .panel-how {
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}
#how h2 {
  position: relative;
  z-index: 2;
}
#how #discover {
  background-image: url('../images/discover.jpg');
}
#how #invest {
  background-image: url('../images/invest.jpg');
}
#how #earn {
  background-image: url('../images/earn.jpg');
}
#project .project-image {
  width: 100%;
}
#project .specs ul {
  list-style: none;
  padding: 0;
}
#project .specs ul li {
  padding: 10px 0;
  color: #cccccc;
}
#project .specs ul li h5 {
  color: #31302f;
  font-size: 36px;
  margin: 0;
}
#experience {
  background: #fff;
}
#experience .skill .skill-image {
  height: 60px;
  width: 60px;
  background: no-repeat;
  background-size: cover;
}
#experience .skill.javascript .skill-image {
  background-image: url('../images/logo-javascript.png');
}
#experience .skill.nginx .skill-image {
  background-image: url('../images/logo-nginx.png');
}
#experience .skill.cloudfront .skill-image {
  background-image: url('../images/logo-cloudfront.png');
}
#experience .skill.rubyonrails .skill-image {
  background-image: url('../images/logo-rubyonrails.png');
}
.text-yellow {
  color: #f6b900;
}
.text-skinny {
  font-weight: 100;
}
.text-dark {
  color: #31302f;
}
.text-light {
  color: #cccccc;
}
.drop-padding {
  padding: 0;
}
.form-group label {
  margin-left: 12px;
}
.form-group .form-control {
  padding: 15px 12px;
  height: auto;
}
.form-big .form-group {
  background: #ffffff;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
.form-big .form-group .form-control.select2-container {
  padding: 5px;
}
.form-fancy .form-group .form-control.select {
  width: auto;
  display: inline-block;
  font-size: 42px;
  margin: 0 5px;
  border: 2px solid #f6b900;
  color: #f6b900;
  font-weight: bold;
}
.form-fancy .form-group .form-control[type='text'] {
  width: auto;
  margin: auto;
  display: block;
  font-size: 42px;
  border: none;
  background: none;
  border-bottom: 2px solid #f6b900;
  border-radius: 0;
  box-shadow: none;
  font-weight: bold;
}
.form-fancy .form-group .form-control[type='text']::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #f6b900;
}
.form-fancy .form-group .form-control[type='text']::-moz-placeholder {
  /* Firefox 19+ */
  color: #f6b900;
}
.form-fancy .form-group .form-control[type='text']:-ms-input-placeholder {
  /* IE 10+ */
  color: #f6b900;
}
.form-fancy .form-group .form-control[type='text']:-moz-placeholder {
  /* Firefox 18- */
  color: #f6b900;
}
.form-fancy .btn::after,
.form-fancy .btn::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -19px;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 1em solid;
  right: -1em;
}
.form-fancy .btn::after {
  z-index: 2;
  border-left-color: #525252;
}
#project-form {
  margin-top: 30px;
}
#project-form .profile-image {
  width: 100px;
}
#project-form textarea {
  height: 200px;
}
#bid-modal .modal-dialog {
  width: 400px;
}
#bid-modal .modal-body {
  background: #f3f3f3;
}
#bid-modal .modal-body .btn {
  width: 100%;
}
#bid-modal .modal-header {
  padding-bottom: 0;
}
#bid-modal .modal-header h4 {
  margin-bottom: 15px;
}
#bid-modal .modal-header .form-group {
  text-align: center;
  background: #f3f3f3;
}
#bid-modal .modal-header .form-group label {
  display: inline;
}
#bid-modal .modal-header .form-group .form-control {
  border: transparent;
  background: transparent;
  display: inline;
  width: 90px;
  border-radius: 0;
  box-shadow: none;
}
#bid-modal .modal-header .form-group .form-control::-webkit-input-placeholder {
  font-weight: 600;
  color: #f6b900;
}
#bid-modal .modal-header .form-group .form-control:-moz-placeholder {
  font-weight: 600;
  color: #f6b900;
}
#bid-modal .modal-header .form-group .form-control::-moz-placeholder {
  font-weight: 600;
  color: #f6b900;
}
#bid-modal .modal-header .form-group .form-control:-ms-input-placeholder {
  font-weight: 600;
  color: #f6b900;
}
.btn {
  font-weight: 600;
}
.btn.btn-transparent {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}
.btn.btn-transparent:hover {
  color: #fff;
  background: transparent;
}
.btn.btn-foggy {
  color: #fff;
  background: rgba(255, 255, 255, 0.6);
}
.btn.btn-foggy:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.6);
}
.btn.btn-yellow {
  background: #f6b900;
  border: 1px solid #f6b900;
  color: #fff;
}
.btn.btn-yellow:hover {
  background: #f6b900;
}
.btn.btn-yb {
  color: #31302f;
  border: 1px solid #f6b900;
  background: transparent;
}
.btn.btn-yb:hover {
  background: transparent;
}
.btn.btn-dark {
  color: #fff;
  background: #31302f;
  border: 1px solid #31302f;
}
.btn.btn-dark:hover {
  color: #fff;
}
.btn.btn-linkedin {
  text-transform: none;
  color: #fff;
  background: #0077B5;
}
.btn.btn-linkedin .fa {
  font-size: 18px;
  margin-right: 8px;
}
.btn.btn-linkedin:hover {
  background: #0077B5;
}
.btn.btn-angellist {
  text-transform: none;
  color: #31302f;
  background: #fff;
  border: 1px solid #31302f;
}
.btn.btn-angellist .fa {
  font-size: 18px;
  margin-right: 8px;
}
.btn.btn-angellist:hover {
  background: #fff;
}
#header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 15px 0;
}
#header .logo {
  width: 150px;
  height: 44px;
  background: url(../images/devquity-yb.png) no-repeat;
  background-size: cover;
}
#header.home .logo {
  background-image: url(../images/devquity-wy.png);
}
#header .btn {
  margin: 0 5px;
}
#header .header-action a:hover {
  text-decoration: none;
}
#header .header-action img {
  width: 30px;
  margin: 0 20px;
}
#header .header-action .badge {
  margin-left: -30px;
  background: #d9534f;
}
#header .dropdown-menu {
  text-transform: uppercase;
  font-weight: 700;
  top: 120%;
}
#header .dropdown-menu li {
  padding: 5px;
}
#header .dropdown-menu li a {
  font-weight: 700;
}
#header .dropdown-menu li a:hover {
  color: #f6b900;
  background: none;
}
#header .dropdown-menu li a .badge {
  margin-left: 0;
}
#header .dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 27px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
#header .dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 28px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}
#footer {
  margin-top: 25px;
}
#footer .row {
  color: #fff;
  background: #31302f;
  padding: 75px 0;
  font-size: 16px;
  font-weight: 100;
}
#footer .logo {
  width: 150px;
  display: block;
  margin-top: 50px;
}
#footer .fa {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px;
  margin-right: 7px;
  width: 35px;
  text-align: center;
}
#footer a,
#footer a:hover,
#footer a:visited {
  color: #fff;
}
#footer h5 {
  color: #f6b900;
  font-size: 16px;
}
#footer .copyright {
  color: #666;
  font-size: 12px;
}
#featured-project .overlay {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#featured-project .project-image {
  color: #fff;
  min-height: 300px;
  position: relative;
  padding: 100px 50px;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#featured-project .project-image h3 {
  position: relative;
  z-index: 2;
}
#featured-project .project-content {
  min-height: 300px;
  position: relative;
}
#featured-project .project-content .project-specs ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}
#featured-project .project-content .project-specs li {
  float: left;
  width: 33.33%;
  padding: 15px 0;
}
#featured-project .project-content .project-specs li:not(:first-child) {
  border-left: 1px solid #ccc;
}
#featured-project .project-content .project-specs .project-for,
#featured-project .project-content .project-specs .project-or {
  top: 30%;
}
#featured-project .project-content .project-specs .project-for {
  left: 29%;
}
#featured-project .project-content .project-specs .project-or {
  left: 63%;
}
#login {
  margin: 100px 0 75px;
}
#login .panel-login {
  width: 475px;
  margin: auto;
}
#login .login-hero {
  background: url('../images/login-2g.jpg') no-repeat center;
  background-size: cover;
  padding: 30px;
  width: 50%;
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#login .login-hero .login-hero-content {
  position: relative;
  z-index: 1;
  color: #fff;
}
#login .login-hero .overlay {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#login .login-content {
  width: 50%;
  padding: 15px;
  margin-top: 35px;
}
#postman table {
  width: 100%;
}
#postman tr td {
  padding: 20px 15px;
  background: #f7f7f7;
  color: #444;
  border-top: 1px solid #e7e7e7;
}
#postman tr.unread td {
  background: #fff;
  color: #000;
  font-weight: bold;
}
#postman tr td.photo-container {
  width: 60px;
}
#postman .profile-photo {
  width: 60px;
}
#postman button {
  border: none;
  margin-top: 3px;
}
#postman .section-header {
  background: #31302f;
  color: #f6b900;
  padding: 10px;
  font-size: 14px;
}
#postman #message-wrapper {
  background: #fff;
}
#postman .ps-messages-view-header {
  margin: 20px 0;
}
#postman .ps-messages-view-header .button {
  padding: 0.5em 1.25em;
  border: 1px solid #ccc;
  background: #f7f7f8;
  border-radius: 5px;
}
#postman .ps-messages-view-header h3 {
  margin: 0;
}
#postman #pm_messages li {
  margin: 15px 0;
}
#postman #pm_messages .sent-message {
  padding: 10px;
  margin: 0 10px;
  background: #ffeaa9;
  border: 1px solid #f6b900;
  border-radius: 5px;
  width: 50%;
}
#postman #pm_messages .received-message {
  padding: 10px;
  margin: 0 10px;
  background: #ccc;
  border: 1px solid #31302f;
  border-radius: 5px;
  width: 50%;
}
#postman #pm_messages .message-date {
  margin-top: 10px;
}
#postman #pm_reply textarea {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
.message-archive,
.thread-archive,
.message-unarchive,
.thread-unarchive,
.message-bookmark,
.thread-bookmark,
.message-unbookmark,
.thread-unbookmark {
  background: none;
  cursor: pointer;
}
.message-bookmark,
.thread-bookmark,
.message-unbookmark,
.thread-unbookmark {
  margin-right: 10px;
}
.message-archive.button-right,
.thread-archive.button-right,
.message-unarchive.button-right,
.thread-unarchive.button-right,
.message-bookmark.button-left,
.thread-bookmark.button-left,
.message-unbookmark.button-left,
.thread-unbookmark.button-left {
  background: #f7f7f8;
}
.back.button-left {
  margin-right: 15px;
}
.message-archive img,
.thread-archive img,
.message-unarchive img,
.thread-unarchive img,
.message-bookmark img,
.thread-bookmark img,
.message-unbookmark img,
.thread-unbookmark img {
  height: 24px;
}
#postman textarea {
  margin: 15px 0;
}
#message-form textarea {
  width: 100%;
  margin: 10px 0 15px;
  padding: 10px;
}
.bid-details li {
  display: inline-block;
  margin: 35px;
  background: #f3f3f3;
  border: 1px solid #666;
  border-radius: 4px;
  width: 120px;
  padding: 20px 0px;
}
#reviews {
  background: #fff;
}
#reviews .review-stars {
  font-size: 36px;
}
#reviews .review-stars .text-dark {
  text-transform: uppercase;
  font-size: 50%;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.account-nav {
  background: #31302f;
  height: auto;
}
.account-nav ul {
  padding: 0;
  margin: 0;
}
.account-nav ul li {
  display: inline-block;
  padding: 15px 20px;
}
.account-nav ul li.active {
  background: #2b3237;
}
.account-nav ul li a {
  color: #fff;
  font-weight: bold;
}
.account-nav ul li a.active {
  color: #f6b900;
  border-bottom: 4px solid #f6b900;
  padding-bottom: 12px;
}
.account-nav ul li .badge {
  background: #d9534f;
}
.settings-nav li {
  display: inline-block;
  margin-right: 35px;
}
.settings-nav li a {
  color: #cccccc;
}
.settings-nav li a.active {
  color: #f6b900;
}
#settings textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 12px 15px;
}
#dashboard h2 {
  margin: 30px 0;
}
#dashboard .section {
  padding: 0;
  margin-bottom: 25px;
  background: #fff;
}
#dashboard .section .section-header {
  background: #31302f;
  color: #f6b900;
  padding: 10px;
}
#dashboard .section .section-body {
  padding: 15px;
}
#dashboard .section ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}
#dashboard .section a.btn {
  width: 80%;
}
#dashboard .section a,
#dashboard .section a:hover,
#dashboard .section a:visited {
  color: #f6b900;
  text-decoration: none;
}
#dashboard .section a.social,
#dashboard .section a.social:hover,
#dashboard .section a.social:visited {
  color: #31302f;
}
#dashboard .section a.btn-linkedin,
#dashboard .section a.btn-linkedin:hover,
#dashboard .section a.btn-linkedin:visited {
  color: #fff;
}
#dashboard .section table.dashboard-table {
  width: 100%;
}
#dashboard .section table.dashboard-table .profile-photo {
  width: 60px;
}
#dashboard .section table.dashboard-table th {
  text-transform: uppercase;
  padding: 10px;
  background: #cccccc;
  color: #fff;
}
#dashboard .section table.dashboard-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#dashboard .section table.dashboard-table .btn {
  margin: 0 5px;
  width: auto;
  color: #fff;
}
#dashboard .profile-snapshot .profile-photo {
  width: 100%;
}
.dashboard-header p {
  margin: -25px 0 30px;
}
.security img {
  width: 100px;
}
.panel-onboard {
  border: 1px solid #f6b900;
  padding: 20px 40px 40px;
}
.panel-onboard a {
  display: block;
  color: #31302f;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background: #f3f3f3;
  padding: 15px;
}
