{% extends "base.html" %}

{% block content %}
<div id="customer-confirmation" class="onboard">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default text-center">
          <div class="signup-steps">
            <ul id="progressbar">
              <li class="active">Price</li>
              <li class="active">Book</li>
              <li class="active">Relax</li>
            </ul>
          </div>

          <h3>You're all set, thanks!</h3>

          <p>A local lawn care professional will be sent to the following address</p>

          <div class="address-container">
            <h2 class="address">
              {{ request.user.customer.service_address }}<br />
              {% if request.user.customer.service_address2 %}{{ request.user.customer.service_address2 }}<br />{% endif %}
              {{ request.user.customer.service_city }}, {{ request.user.customer.service_state }} {{ request.user.customer.service_zipcode }}
            </h2>
            <a href="{% url 'customer-app' %}#profile"><i class="fa fa-edit"></i></a>
          </div>

          <h4 class="heading">Payment Info</h4>
          <p>Once service is complete, ${{ job.price }} will be charged to your card.</p>
          <p><i class="fa fa-cc-{% if card.brand == 'American Express' %}amex
                {% elif card.brand == 'Diners Club' %}diners-club
                {% else %}{{ card.brand|lower }}
                {% endif %}"></i>
                &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; {{ card.last4 }}
          </p>

          <h4 class="heading">Contact Info</h4>
          <p>If you have any questions, feel free to shoot us a message!</p>
          <p><button class="btn btn-primary contact">Chat Now</button></p>

          <h3 class="heading">You will be redirected in 10 seconds...</h3>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript">
    $('document').ready(function() {
      setTimeout(function() {
        window.location.href = '/app/';
      }, 10000)
    });
  </script>
{% endblock %}