{% extends "base.html" %}

{% block content %}
<div id="customer-signup" class="onboard">
    <div class="row">
      <div class="col-md-12">
        <h3>We apologize but we currently do not service your zipcode.</h3>
        <p>We are working diligently to expand our efforts to include your home in our service area.
          As soon as we begin servicing your area, we will personally contact you.
        </p>
      </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock %}