{% extends "hm-base.html" %}

{% load staticfiles %}

{% block content %}
<div id="hm-hero">
  <div class="">
    <div class="container">
      <div class="overlay"></div>
      <img class="logo" src="{% static 'images/hm-logo.png' %}" />
      <div class="col-md-12 text-center">
        <h1>No more household chores.</h1>
        <h3 class="text-muted">The only application you need for all your home services needs.</h3>
      </div>
      <div class="col-md-12 text-center">


        {% comment %}
        <ul class="services">
          <li><img src="{% static 'images/lawn-icon-green.png' %}" /></li>
          <li><img src="{% static 'images/clean-icon-green.png' %}" /></li>
          <li><img src="{% static 'images/meal-icon-green.png' %}" /></li>
          <li><img src="{% static 'images/dog-icon-green.png' %}" /></li>
          <li><img src="{% static 'images/car-icon-green.png' %}" /></li>
        </ul>
        <div class="clearfix"></div>
        {% endcomment %}
        <div class="service-picker">
          <h3>
            <select>
              <option>I would like...</option>
              <option>Lawn Care</option>
              <option>House Cleaning</option>
              <option>Groceries &amp; Meals</option>
              <option>Pet Care</option>
              <option>Car Care</option>
            </select>
            in the
            <input type="text" id="service-picker-zipcode" placeholder="Zipcode" />
            <button id="book-service" class="btn btn-success">Book Now</button>
          </h3>
        </div>
      </div>
     </div>
  </div>
</div>

<div id="services">
  <div class="">
    <div class="container text-center">
      <h2 class="text-center">How can we take care of your home?</h2>
      <p class="text-muted text-center">Some text here for an explanation of the value props below.</p>
      <div class="col-md-2">
        <img src="{% static 'images/lawn-icon.png' %}" class="icon" />
        <h3>Lawns</h3>
        <ul class="list-unstyled text-muted">
          <li>Mowing</li>
          <li>Raking</li>
          <li>Tree Trimming</li>
        </ul>
      </div>
      <div class="col-md-2">
        <img src="{% static 'images/home-cion.png' %}" class="icon" />
        <h3>Cleaning</h3>
        <ul class="list-unstyled text-muted">
          <li>Kitchens</li>
          <li>Bathrooms</li>
          <li>Move outs</li>
        </ul>
      </div>
      <div class="col-md-2">
        <img src="{% static 'images/meal-icon.png' %}" class="icon" />
        <h3>Meals</h3>
        <ul class="list-unstyled text-muted">
          <li>Hot Meals</li>
          <li>Precooked Meals</li>
          <li>Lunch on the go</li>
        </ul>
      </div>
      <div class="col-md-2">
        <img src="{% static 'images/grocery-icon.png' %}" class="icon" />
        <h3>Groceries</h3>
        <ul class="list-unstyled text-muted">
          <li>Fresh Produce</li>
          <li>Everyday Essentials</li>
          <li>International</li>
        </ul>
      </div>
      <div class="col-md-2">
        <img src="{% static 'images/car-icon.png' %}" class="icon" />
        <h3>Cars</h3>
        <ul class="list-unstyled text-muted">
          <li>Washing</li>
          <li>Detailing</li>
          <li>Oil Change</li>
        </ul>
      </div>
      <div class="col-md-2">
        <img src="{% static 'images/pet-icon.png' %}" class="icon" />
        <h3>Pets</h3>
        <ul class="list-unstyled text-muted">
          <li>Walking</li>
          <li>Sitting</li>
          <li>Grooming</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="value-props">
  <div class="">
    <div class="container">
      <h2 class="text-center">What is so special about Home Makers?</h2>
      <p class="text-muted text-center">Some text here for an explanation of the value props below.</p>
      <div class="col-md-4">
        <div class="value-img text-center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-money fa-stack-1x"></i>
          </span>
        </div>
        <div class="text-center">
          <h3>Up-front Pricing</h3>
          <p class="text-muted">No more hourly rate quotes and job estimates. See the actual price you'll pay before you book.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="value-img text-center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-magic fa-stack-1x"></i>
          </span>
        </div>
        <div class="text-center">
          <h3>Easy Online Booking</h3>
          <p class="text-muted">No need to work out the details. Book your mow in less than a minute, and we'll handle the rest.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="value-img text-center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-paper-plane-o fa-stack-1x"></i>
          </span>
        </div>
        <div class="text-center">
          <h3>No Contracts</h3>
          <p class="text-muted">No sneaky auto-renewals, no nonsense. Save money by booking only when you truly need it.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="value-img text-center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-heartbeat fa-stack-1x"></i>
          </span>
        </div>
        <div class="text-center">
          <h3>Trusted Professionals</h3>
          <p class="text-muted">We personally screen local lawn care professionals and select only the best.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="value-img text-center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-support fa-stack-1x"></i>
          </span>
        </div>
        <div class="text-center">
          <h3>Dedicated Service</h3>
          <p class="text-muted">We're here to make sure your experience meets your expectations, from start to finish.  Still have questions?  Contact us anytime!</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="value-img text-center">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-thumbs-o-up fa-stack-1x"></i>
          </span>
        </div>
        <div class="text-center">
          <h3>Guaranteed Satisfaction</h3>
          <p class="text-muted">We stand by our service.  If you're not satisfied, we'll make it right or refund your money.</p>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
  </div>
</div>

<div id="testimonials">
  <div class="">
    <div class="container">
      <h2 class="text-center">Why our users love us</h2>
      <div class="col-md-4">
        <div class="panel panel-default text-center">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dustinlamont/128.jpg" />
          <h3>Dustin Lamont</h3>
          <p class="text-muted">" Thanks for helping us stay on top of a very stressful process! Finally exchanged and looking forward to complete. "</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default text-center">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg" />
          <h3>Sarah Chang</h3>
          <p class="text-muted">" By far the best home cleaning I’ve ever had! The cleaner was on-time, professional and left my place spotless! "</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default text-center">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg" />
          <h3>Allison Grayce</h3>
          <p class="text-muted">" Super easy to use, amazing service and now I have a sparkling apartment. It’s a real life saver! "</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
	$('select').customSelect();
});
</script>
{% endblock %}