{% extends "base.html" %}

{% load staticfiles %}
{% load require %}

{% block bodyclass %}home{% endblock %}
{% block bodyid %}blue{% endblock %}
{% block fixednav %}navbar-fixed-top{% endblock %}

{% block content %}

<div id="hero">
  <div class="row" style="background-image:url('{% static "images/mowman.jpg" %}');">
    <div class="container">
      <div class="overlay"></div>
      <div class="col-md-10 col-md-offset-1 text-center" id="hero-copy">
        <h1>Your Lawn Mowed On Demand</h1>
        <div class="features">
          <p>Book service with a local lawn care expert in less than a minute</p>
        </div>
      </div>
      <div id="get-started" class="text-center">
          <form id="hero-form" class="text-center" autocomplete="off" action="{% url 'signup-page' %}" method="post">
            {% csrf_token %}
              <div id="locationField" class="form-group">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                  <input class="form-control" id="autocomplete" autocomplete=”off” placeholder="Enter your address" onFocus="geolocate()" type="text"></input>
                  <input class="field" name="street_number" id="street_number" type="hidden" />
                  <input class="field" name="route" id="route" type="hidden" />
                  <input class="field" name="locality" id="locality" type="hidden" />
                  <input class="field" name="state" id="administrative_area_level_1" type="hidden" />
                  <input class="field" name="postal_code" id="postal_code" type="hidden" />
                  <input class="field" name="country" id="country" type="hidden" />
                </div>
                <div class="clearfix"></div>
              </div>

              <div class="form-group">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                  <input type="submit" id="hero-submit" class="btn btn-success" value="Get Your Price Now" />
                </div>
              </div>
          </form>
      </div>
     </div>
  </div>
</div>

<div id="testimonial">
  <div class="row">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2>What our customers are saying</h2>
          <p>
          <h4 class="quote">"I've been sick for months and couldn't get out to mow, so it was kind of overgrown.
          These dudes just showed up, quietly did the front and back yards, and were gone before I knew it!
          It was really nice."</h4>
          </p>

          <img class="avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" /><br />
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i><br />
          <strong>Amy M.</strong><br />
          Austin, TX
        </div>

      </div>
    </div>
  </div>
</div>

<div id="value-props">
  <div class="row">
    <div class="container">
      <div class="col-md-4">
        <div class="value-img text-center">
          <img src="{% static 'images/upfront.png' %}" />
        </div>
        <div class="text-center">
          <h3>Up-front Pricing</h3>
          <p class="text-muted">No more hourly rate quotes and job estimates. See the actual price you'll pay before you book.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="value-img text-center">
          <img src="{% static 'images/ondemand.png' %}" />
        </div>
        <div class="text-center">
          <h3>Easy Online Booking</h3>
          <p class="text-muted">No need to work out the details. Book your mow in less than a minute, and we'll handle the rest.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="value-img text-center">
          <img src="{% static 'images/moneysaving.png' %}" />
        </div>
        <div class="text-center">
          <h3>No Contracts</h3>
          <p class="text-muted">No commitments, no nonsense.  We earn your business with every service we provide.</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div id="how-it-works">
  <div class="row">
    <div class="container">
      <div class="col-md-4 ">
        <div class="tile">
        <div class="overlay">
        <div id="step-1"></div>
        <div class="tile-text">
        <h3><span class="label label-green">1</span> Price</h3>
        <h4>Get your price instantly. Give us the address, and we'll give you the price.</h4>
        </div>
        </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="tile">
        <div class="overlay">
        <div id="step-2"></div>
        <div class="tile-text">
        <h3><span class="label label-green">2</span> Book</h3>
        <h4>Securely enter your information to book your mow, and we'll find the right lawn care professional for the job.</h4>
        </div>
        </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="tile">
        <div class="overlay">
        <div id="step-3"></div>
        <div class="tile-text">
        <h3><span class="label label-green">3</span> Relax</h3>
        <h4>You're all set!  Relax while a top-rated pro handles the rest.  We'll charge you after your lawn has been mowed.</h4>
        </div>
        </div>
        </div>
      </div>
  </div>
    </div>
</div>

<div id="customer-service">
  <div class="row">
    <div class="container">
      <div class="col-md-4">
        <div class="value-img text-center">
          <img src="{% static 'images/trusted.png' %}" />
        </div>
        <div class="text-center">
          <h3>Trusted Professionals</h3>
          <p class="text-muted">We personally screen local lawn care professionals and select only the best.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="value-img text-center">
          <img src="{% static 'images/support.png' %}" />
        </div>
        <div class="text-center">
          <h3>Dedicated Service</h3>
          <p class="text-muted">We're here to make sure your experience meets your expectations, from start to finish.  Still have questions?  Contact us anytime!</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4">
        <div class="value-img text-center">
          <img src="{% static 'images/satisfaction.png' %}" />
        </div>
        <div class="text-center">
          <h3>Guaranteed Satisfaction</h3>
          <p class="text-muted">We stand by our service.  If you're not satisfied, we'll make it right or refund your money.</p>
        </div>
        <div class="clearfix"></div>
    </div>
      </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  {% require_module 'app/landing-page' %}
{% endblock %}