{% extends "base.html" %}

{% load staticfiles %}
{% load require %}

{% block bodyclass %}customer-portal{% endblock %}

{% block content %}
<div id="customer-signup" class="container">
    <div class="row">
      <div class="col-md-8">
          <div class="overlay"></div>
          <div class="signup-steps">
            <ul id="progressbar" class="text-center">
              <li class="active">Price</li>
              <li>Book</li>
              <li>Relax</li>
            </ul>

          <h3 class="text-center"><i class="fa fa-spin fa-circle-o-notch"></i></h3>
          <h3 class="service text-center"></h3>
          <ul class="price-picker hidden">
            <li class="price-box active" id="bi-weekly" data-recurring="biweekly">
              <div class="pull-left">
                <h3>Every other week <i class="fa fa-check-circle"></i></h3>
                <p><i>Save up to $156 annually</i></p>
              </div>
              <h2 class="pull-right">$<span class="biweekly-price price" data-notes="Bi-weekly recurring"></span></h2>
              <div class="clearfix"></div>
            </li>

            <li class="price-box" id="monthly" data-recurring="monthly">
              <div class="pull-left">
                <h3>Every month <i class="fa fa-check-circle hidden"></i></h3>
                <p><i>Save up to $36 annually</i></p>
              </div>
              <h2 class="pull-right">$<span class="monthly-price price" data-notes="Weekly recurring"></span></h2>
              <div class="clearfix"></div>
            </li>
            <li class="price-box" id="one-time" data-recurring="onetime">
              <div class="pull-left">
                <h2>One time <i class="fa fa-check-circle hidden"></i></h2>
              </div>
              <h2 class="pull-right">$<span class="one-price price"></span></h2>
              <div class="clearfix"></div>
            </li>

            <li id="picker-note"><i class="">*
An overgrown lawn surcharge of up to $20 may apply if the length of grass exceeds 6".  <span class="hidden-xs">Excessively overgrown, oversized. or complex lawns may require a custom price quote.</span></i></li>
          </ul>
         </div>

        <div id="error" class="text-danger"></div>
        <div id="email-error" class="text-danger">
          {% if error %}{{ error }}{% endif %}
        </div>
        {% if messages %}
          {% for message in messages %}
            <div class="alert
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}alert-warning{% endif %}
              " role="alert">
              {{ message }}
            </div>
          {% endfor %}
      {% endif %}
        <p class="payment-errors bg-danger hidden"></p>

        <form id="signup_form" autocomplete="off" action="{% url 'book-initial-service' %}" method="post" class="form-horizontal">
          {% csrf_token %}
          <div id="address" class="{% if error %}hidden{% endif %}">
            <div class="form-group">
              <div class="col-sm-12">
                <label>Address*</label>
                <input class="form-control" id="street_address" type="text" name="address" value="{{ address }}" />
              </div>
            </div>
            <div class="form-group hidden-xs">
              <div class="col-sm-12">
                <label>Address 2</label>
                <input class="form-control" id="address2" type="text" name="address2" value="{{ address2 }}" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
                <label>City*</label>
                <input class="form-control " type="text" name="city" value="{{ city }}" />
              </div>
              <div class="col-sm-4">
                <label>State*</label>
                <input class="form-control " type="text" name="state" value="{{ state }}" />
              </div>
              <div class="col-sm-4">
                <label>Zipcode*</label>
                <input class="form-control " id="zipcode" type="text" name="zipcode" value="{{ zipcode }}" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label>Special Instructions</label>
                <textarea class="form-control" name="notes" placeholder="Please leave us notes regarding any special needs or circumstances (e.g. gate codes, pets, etc.)"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label>Promo Code</label>
                <input class="form-control" id="promo" name="promo_code" type="text" placeholder="Applies to first mow only (optional)" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <input type="hidden" name="internal_notes" id="internal_notes" />
                <input type="hidden" name="price" id="price" />
                <input type="hidden" name="service" value="Mowing" />
                <input type="submit" id="signup-address" class="btn btn-success col-xs-12 pull-right" value="Continue >>" />
              </div>
            </div>
          </div>
          <div id="registration" class="{% if not error %}hidden{% endif %}">
            <p class="text-muted">Sign up to lock in your price and book your local lawn call expert.</p>
            <div class="form-group">
              <div class="col-sm-12">
                <label>Email</label>
                <input class="form-control" name="email" type="text" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label>Set Your Password</label>
                <input class="form-control" name="password" type="password" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label>Confirm Your Password</label>
                <input class="form-control" name="confirm_password" type="password" />
              </div>
            </div>
            <input type="hidden" name="recurring" id="recurring" value="biweekly" />
            <div class="form-group">
              <div class="col-sm-12">
                By clicking Sign Up, you indicate that you have read and agree to the <a href="/terms/" target="_blank" >Terms and Conditions</a>.
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <button id="back-form" class="btn btn-default pull-left"><< Back</button>
                <input type="submit" id="signup-book" class="btn btn-success pull-right" value="Sign Up" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 hidden-xs">
        <div class="">
          <div class="signup-img text-center">
            <img src="{% static 'images/satisfaction_badge.png' %}" />
          </div>
          <div class="text-center testimonial">
            <h3>What our customers are saying</h3>
            <p>
            <h5 class="quote">"I've been sick for months and couldn't get out to mow, so it was kind of overgrown.
            These dudes just showed up, quietly did the front and back yards, and were gone before I knew it!
            It was really nice."</h5>
            </p>

            <img class="avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" /><br />
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i><br />
            <strong>Amy M.</strong><br />
            Austin, TX
          </div>



          <div class="panel-group" id="signup-faq" role="tablist" aria-multiselectable="true">
            <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" class="faq collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-plus-square"></i> How does LawnCall work?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  When you need lawn care service, LawnCall matches you with the right, top-rated, local lawn care expert for the job. You can see the price for your service before you book, complete the booking process in less than a minute, and rest assured that your lawn is protected by our 100% money-back guarantee.
                </div>
              </div>
            </div>
            <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="faq collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa fa-plus-square"></i> What can I expect with LawnCall?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  With LawnCall, there are no commitments whatsoever. That means no contracts, no mandatory schedules, and no sneaky auto-renewals. With our one-time service, your lawn is only mowed when you tell us you want it mowed. Whenever you decide your lawn needs attention again, you can book another one-time mow - it's always your call.
                </div>
              </div>
            </div>
            <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="faq collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-plus-square"></i> What's included with my mow?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  Your mowing service includes mowing, edging, and blowing of your front and back yards.
                </div>
              </div>
            </div>
          <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="faq collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-plus-square"></i> How do I know I'll receive high-quality work?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <p>At LawnCall, we personally screen lawn care professionals and select only the best to provide you service. Our pros are highly experienced with proven track records of exceptional performance and customer service.</p>
                  <p>Further, we stand behind our service, 100%. If you're not satisfied, we'll send out another lawn care professional to ensure your lawn meets both your expectations and our high standards. If you still aren't completely happy with your lawn, we'll refund your money.</p>
                </div>
              </div>
            </div>
          <div class="panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="faq collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-plus-square"></i> Still have questions?
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <p>Contact us anytime! We can be reached through <a class="contact" href="#">chat</a>, email and phone.</p>
                  <p>
                    <i class="fa fa-envelope"></i> Email: info@lawncall.com<br />
                    <i class="fa fa-phone"></i> Phone: (512) 537-4527
                  </p>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
    </div>
</div>
{% block scripts %}
  {% require_module 'app/signup' %}
{% endblock %}
{% endblock %}