{% extends "password_reset/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Password recovery" %}{% endblock %}

{% block content %}
  <div id="password-recover-form">
    <div class="row">
      <div class="text-center">
        <h1 class="brand">Password Recovery</h1>
        <h4 class="brand">Enter your email to recieve a link to reset your password.</h4>
        <form method="post" action="{{ url }}">
          {% csrf_token %}
          {{ form|crispy }}
          <input class="btn btn-brand" type="submit" value="{% trans "Recover" %}">
        </form>
      </div>
    </div>
  </div>
{% endblock %}