h2.project-title {
  margin-top: 80px;
  margin-bottom: 20px;
}
#project-gallery .overlay {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#project-gallery .project-image {
  color: #fff;
  min-height: 300px;
  position: relative;
  padding: 100px 50px;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#project-gallery .project-image h3 {
  position: relative;
  z-index: 2;
}
#project-gallery .project-content {
  min-height: 300px;
  position: relative;
}
#project-gallery .project-content .project-specs ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  border-top: 1px solid #ccc;
}
#project-gallery .project-content .project-specs li {
  float: left;
  width: 33.33%;
  padding: 15px 0;
}
#project-gallery .project-content .project-specs li:not(:first-child) {
  border-left: 1px solid #ccc;
}
#project-gallery .project-content .project-specs .project-for,
#project-gallery .project-content .project-specs .project-or {
  top: 30%;
}
#project-gallery .project-content .project-specs .project-for {
  left: 29%;
}
#project-gallery .project-content .project-specs .project-or {
  left: 63%;
}