#header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 15px 0;
}
#header .logo {
  width: 150px;
  height: 44px;
  background: url(../images/devquity-yb.png) no-repeat;
  background-size: cover;
}
#header.home .logo {
  background-image: url(../images/devquity-wy.png);
}
#header .btn {
  margin: 0 5px;
}
#header .header-action a:hover {
  text-decoration: none;
}
#header .header-action img {
  width: 30px;
  margin: 0 20px;
}
#header .header-action .badge {
  margin-left: -30px;
  background: #d9534f;
}
