{% extends "base.html" %}
{% load staticfiles %}
{% load postman_tags %}
{% load active_class %}
{% load notifications_tags %}

{% notifications_unread as notification_count %}
{% postman_unread as unread_count %}

{% block content %}
<div class="wrapper">
<div class="account-nav">
  <div class="row">
    <div class="container">
      <ul>
        <li>
          <a class="{% add_active request 'dashboard' %}" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <!--
        <li>
        {{ postman_unread }}
          <a class="{% add_active request 'postman:inbox' %}" href="{% url 'postman:inbox' %}">
            Messages {% if unread_count %}
            <span class="badge">{{ unread_count }}</span>{% endif %}
          </a>
        </li>
        -->
        <li>
          <a class="{% add_active request 'view-bids' %}" href="{% url 'view-bids' %}">Open Projects</a>
        </li>
        <!--
        <li>
          <a class="{% add_active request 'view-projects' %}" href="{% url 'view-projects' %}" >Engaged Projects</a>
        </li>
        <li>
          <a class="{% add_active request 'view-documents' %}" href="{% url 'view-documents' %}">Your Documents</a>
        </li>
        <li>
          <a class="{% add_active request 'view-skills' %}" href="{% url 'view-skills' %}">Your Skills</a>
        </li>
        -->
        <li>
          <a class="{% add_active request 'account-settings' %}" href="{% url 'account-settings' %}">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% block account_content %}
{% endblock %}
</div>
{% endblock %}