{% extends "base.html" %}
{% load staticfiles %}
{% load postman_tags %}
{% load active_class %}
{% load notifications_tags %}

{% notifications_unread as notification_count %}
{% postman_unread as unread_count %}

{% block content %}
<div class="wrapper">
<div class="account-nav">
  <div class="row">
    <div class="container">
      <ul>
        <li>
          <a class="{% add_active request 'dashboard' %}" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li>
          {{ postman_unread }}
          <a class="{% add_active request 'postman:inbox' %}" href="{% url 'postman:inbox' %}">
            <span class="descriptor">Messages {% if unread_count %}</span>
            <span class="badge">{{ unread_count }}</span>{% endif %}
          </a>
        </li>
        <li>
          <a class="{% add_active request 'view-projects' %}" href="{% url 'view-projects' %}">Projects</a>
        </li>
        <li>
          <a class="{% add_active request 'view-bids' %}" href="{% url 'view-bids' %}">Proposals</a>
        </li>
        <li class="account-nav-dropdown">
          <a class="{% add_active request 'view-bids' %}" href="{% url 'view-bids' %}">Invoices
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </a>
          <ul>
            <li><a href="{% url 'invoices-new' %}">New</a></li>
            <li><a href="{% url 'invoices-sent' %}">Sent</a></li>
            <li><a href="{% url 'invoices-received' %}">Received</a></li>
          </ul>
        </li>
        <li>
          <a class="{% add_active request 'view-skills' %}" href="{% url 'view-skills' %}">Skills Tests</a>
        </li>
        <li>
          <a class="{% add_active request 'settings' %}" href="{% url 'settings' %}">Settings</a>
        </li>
        <li>
          <a href="{% url 'connections' %}">Connections</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% block account_content %}
{% endblock %}
</div>
{% endblock %}