<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Loom</title>

	<meta name="google-site-verification" content="ExfBA5V7ESCmEcJNCrInhbpqaZucRyN619LhZc4eM5o" />

	<meta name="description" content="Loom is the first ever work-for-equity platform that connects visionaries with developers to bring digital products to life." />
	<meta name="keywords" content="loom, loom labs, freelance, startups, equity" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

	<meta property="og:title" content="Raise ideas, not funds, on Loom." />
	<meta property="og:description" content="Loom is the first ever work-for-equity platform that connects visionaries with developers to bring digital products to life." />
	<meta property="og:image" content="https://devquity.s3.amazonaws.com/static/images/Loom_Logo.png" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="1200" />

	
	<link rel="shortcut icon" href="/static/spa/favicon.ico">
	

	
	<link href="/static/spa/styles.b9b3ffcc1b50ac90c9e4.css" rel="stylesheet">
	

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

	<!-- Zendesk -->
	<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","joinloom.zendesk.com");/*]]>*/</script>
</head>
<body>

<!-- HAVE FUN: Your app lives here -->
<span id="app">
	<div class="loader"></div>
</span>


<script src="/static/spa/vendor.45f17b2ba0a558c66b29.js"></script>

<script src="/static/spa/app.b9b3ffcc1b50ac90c9e4.js"></script>

<script src="https://use.fontawesome.com/3cdb773842.js"></script>
</body>
</html>
