{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="about-us">
    <div class="account-nav">
      <div class="row">
        <div class="container">
          <ul>
            <li>
              <a class="active" href="#/company">About Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556327-Help-with-Freelancing-on-Loom"
              target="_blank">Freelancing on Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556347-Help-with-Hiring-on-Loom"
              target="_blank">Hiring on Loom</a>
            </li>
            <li>
              <a href="https://joinloom.zendesk.com/hc/en-us" target=
              "_blank">Loom Support Center</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row about-content">
      <div class="container">
        <div>
          <div class="col-md-2">
            <ul class="left-nav">
              <li>
                <a class="active" href="/about/">About</a>
              </li>
              <li>
                <a class="" href="/careers/">Careers</a>
              </li>
              <li>
                <a href="http://loom.totemapp.net/" target="_blank">Press</a>
              </li>
              <li>
                <a href="http://support.loom.co/" target=
                "_blank">Support</a>
              </li>
              <li>
                <a class="" href="/terms-of-service/">Terms of
                Service</a>
              </li>
              <li>
                <a class="" href="/privacy/">Privacy Policy</a>
              </li>
              <li>
                <a class="" href="/dmca/">DMCA Policy</a>
              </li>
              <li>
                <a class="" href="/contact/">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-10">
            <div>
              <h1 class="text-brand brand-bold text-center">Loom is a platform
              that weaves together ideas, equity and code.</h1>
              <h3 class="brand text-center">We enthusiastically connect
              passionate visionaries with talented developers to bring digital
              products to life.</h3>
              <p>&nbsp;</p>
              <p>In addition to equity compensation, Loom also supports cash compensation for work.</p>
              <p>With an emphasis on building quality digital products in exchange for equity, freelancers on Loom can display their work history, work examples, technical proficiencies, and more, allowing entrepreneurs to easily find the talent they need.</p>
              <p>Our goal with Loom is to create a platform that empowers anyone to actualize their ideas into powerful products without the need for raising venture funding. We believe that some of the world’s best ideas are trapped in the minds of non-technical people. And now, Loom is here to help bring those ideas to life by connecting entrepreneurs directly with technical freelancers willing to work for cash or equity.</p>
              <p>Our goal is to never charge fees to contractors on Loom. We’re proud to have you as a contributor to the first work-for-equity platform.</p>
              <p>Loom is proudly based in Austin, Texas.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}