{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="about-us">
    <div class="account-nav">
      <div class="row">
        <div class="container">
          <ul>
            <li>
              <a class="active" href="#/company">About Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556327-Help-with-Freelancing-on-Loom"
              target="_blank">Freelancing on Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556347-Help-with-Hiring-on-Loom"
              target="_blank">Hiring on Loom</a>
            </li>
            <li>
              <a href="https://joinloom.zendesk.com/hc/en-us" target=
              "_blank">Loom Support Center</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row about-content">
      <div class="container">
        <div>
          <div class="col-md-2">
            <ul class="left-nav">
              <li>
                <a class="" href="/about/">About</a>
              </li>
              <li>
                <a class="active" href="/careers/">Careers</a>
              </li>
              <li>
                <a href="http://loom.totemapp.net/" target="_blank">Press</a>
              </li>
              <li>
                <a href="http://support.loom.co/" target=
                "_blank">Support</a>
              </li>
              <li>
                <a class="" href="/terms-of-service/">Terms of
                Service</a>
              </li>
              <li>
                <a class="" href="/privacy/">Privacy Policy</a>
              </li>
              <li>
                <a class="" href="/dmca/">DMCA Policy</a>
              </li>
              <li>
                <a class="" href="/diversity/">Diversity Policy</a>
              </li>
              <li>
                <a class="" href="/contact/">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-10">
            <div>
						<h1 class="text-brand">
              Join the ranks. We’re a lean, passionate team of builders.
            </h1>


            <h3 class="brand">
            Our mission is to help people around the world actualize their
            ideas with the resources they have for mutual benefit. And we’re
            looking for talented people who believe in this mission to join us
            as we redefine how the world works.  Loom is proudly an equal opportunity employer based in Austin, Texas. <i class="emoji-peace"></i>
            </h3>
            <p>&nbsp;</p>

            <div class="tile">
              <div class="tile-content">
                <h3 class="text-brand brand-bold">Community Manager</h3>
                <h4>Austin, Texas • Full-time</h4>
                <p>
                  <a id="show-community" href="#"><i class="fa fa-chevron-right"></i> View job description</a>
                  <a id="hide-community" class="hidden" href="#"><i class="fa fa-chevron-down"></i> Hide job description</a>
                </p>
                <div id="community-more" class="hidden">
                  <p>&nbsp;</p>
                  <h5>Job Description</h5>
                  <p>
                    At Loom, taking care of our community is a top priority. We’re working to build the the largest, most resource-efficient hiring platform on the planet, and to do that, we need passionate people to help support and scale our growing community. As the Loom Community Manager, you’ll work directly with both entrepreneurs and freelancers to ensure that they have a great experience, as well as celebrate the success of their work using Loom. You will also work closely with the Loom team to continually share our story with the world.
                  </p>
                  <p>
                    The right candidate will be a solid writer, comfortable in an “all hands on deck” environment, eager to contribute in product feedback discussions, passionate about creating digital content, and can thrive in a startup environment.
                  </p>
                  <h5>You will work on</h5>
                  <ul class="default">
                    <li>Relationship Management: Identify and engage with top entrepreneurs and freelancers, both on and off the platform.</li>
                    <li>Support: Respond to support requests to turn both our entrepreneurs and freelancers into passionate evangelists.</li>
                    <li>Content: You’ll educate the community by creating digital content, managing social channels, sharing relevant news, educational resources, and newsletters.</li>
                    <li>Partnerships: You’ll identify and work with different organizations, as well as coordinate event engagement to get Loom in front of new entrepreneurs and freelancers.</li>
                    <li>Process: Gather feedback and work closely with the team to streamline our process as we scale the business.</li>
                  </ul>

                  <h5>You have</h5>
                  <ul class="default">
                    <li>BA/BS degree or equivalent practical experience</li>
                    <li>1+ years experience in a community-facing role - experience building and working with online communities strongly preferred.</li>
                    <li>Excellent verbal and communication skills - you have a way with words and a genuine voice. Previous experience with both communications, design and photography a plus.</li>
                    <li>Curiosity - You’re innovative, extremely creative and constantly looking for ways to improve.</li>
                    <li>Organization - You can juggle multiple tasks with ease, pay close attention to detail at every turn, and can plan ahead for yourself and the team.</li>
                    <li>Process-orientation - you have experience building and adopting internal processes, optimizing for efficiency and simplicity.</li>
                    <li>Team player skills - Whether you're working closely with the Loom leadership team or at a networking event, you enjoy building relationships and talking to interesting, intelligent people.</li>
                    <li>Belief in our vision and culture - A passion for freelancing, entrepreneurship, bringing ideas to life and in-depth knowledge of the Loom story and product.</li>
                  </ul>

                  <h5>Additional Information</h5>
                  <p>
                    At Loom, we value diversity and always treat all employees and job applicants based on merit, qualifications, competence, and talent. We do not discriminate on the basis of race, religion, color, national origin, gender, sexual orientation, age, marital status, veteran status, or disability status.
                  </p>

                  <p>
                    <strong>Want to apply for this job? Send your cover letter and resume to <a href="emailto:info@loom.co">info@loom.co</a>.</strong>
                  </p>
                </div>
              </div>
            </div>

            <div class="tile">

              <div class="tile-content">
                <h3 class="text-brand brand-bold">Product Designer</h3>
                <h4>Austin, Texas • Full-time</h4>
                <p>
                  <a id="show-designer" href="#"><i class="fa fa-chevron-right"></i> View job description</a>
                  <a id="hide-designer" class="hidden" href="#"><i class="fa fa-chevron-down"></i> Hide job description</a>
                </p>
                <div id="designer-more" class="hidden">
                  <p>&nbsp;</p>
                  <h5>Job Description</h5>
                  <p>
                    We're seeking a driven product designer to grow Loom’s aesthetic and apply it to new, delightful user experiences. We have many projects in the pipeline and have an ongoing cycle of revamping our product experience across the web. There are exciting UX challenges and tons of pixels for you to push. We're in a unique position to change the way people bring their ideas to life. You'll be at the forefront of our efforts and be directly responsible for decisions that form the product. You’ll use your full range of skills - from product design, interaction design, and visual design - to craft new experiences on Loom.
                  </p>
                  <p>
                    The Loom design team works hard to craft delightful, efficient experiences that make both freelancers’ and entrepreneurs’ lives easier. We're a nimble, close-knit, collaborative group, guided by a highly iterative design process.
                  </p>
                  <p>
                    Make no mistake about it, design is critical to Loom’s success and has been since day one. You will have the opportunity to create things that you find exciting and be involved in the entire product development lifecycle.
                  </p>
                  <h5>You will</h5>
                  <ul class="default">
                    <li>Work in a collaborative, fast-paced environment with a team of smart, passionate developers and user experience leaders</li>
                    <li>Rapidly iterate on a product that has an engaged and quickly growing user base</li>
                    <li>Collaborate with the team to create and maintain consistent, innovative design aesthetic throughout the product</li>
                    <li>Be heavily involved throughout both the user experience and development processes, working closely with the development team as they implement designs, iterating as needed</li>
                    <li>Take high level concepts and turn them into something valuable and exciting for our users</li>
                    <li>Design focused, efficient, approachable features for entrepreneurs and freelancers on Loom</li>
                    <li>Regularly present work and share feedback in design reviews</li>
                    <li>Work with leadership, engineers, and researchers to help plan future product changes</li>
                  </ul>

                  <h5>You have</h5>
                  <ul class="default">
                    <li>Bachelor’s degree</li>
                    <li>3+ years experience in product design (two-sided marketplace experience strongly preferred)</li>
                    <li>Serious creative skills - You’re well-versed in creative tools like Sketch, Adobe Creative Suite and Invision</li>
                    <li>Analytical knowledge - You have experience working with user research and data to inform product decisions</li>
                    <li>Design portfolio illustrating you meet the requirements laid out above</li>
                    <li>Curiosity - You’re innovative, extremely creative and constantly looking for ways to improve</li>
                    <li>Organization - You can juggle multiple tasks with ease, pay close attention to detail at every turn, and can plan ahead for yourself and the team</li>
                    <li>Process-orientation - you have experience building and adopting internal processes, optimizing for efficiency and simplicity</li>
                    <li>Team player skills - Whether you're working closely with the Loom leadership team or at an event, you enjoy building relationships and talking to interesting, intelligent people</li>
                    <li>Belief in our vision and culture - A passion for freelancing, entrepreneurship, bringing ideas to life and in-depth knowledge of the Loom story and product</li>
                    <li>Bonus points: Proficiency in HTML and CSS</li>
                  </ul>

                  <h5>Additional Information</h5>
                  <p>
                    At Loom, we value diversity and always treat all employees and job applicants based on merit, qualifications, competence, and talent. We do not discriminate on the basis of race, religion, color, national origin, gender, sexual orientation, age, marital status, veteran status, or disability status.
                  </p>

                  <p>
                    <strong>Want to apply for this job? Send your cover letter and resume to <a href="emailto:info@loom.co">info@loom.co</a>.</strong>
                  </p>
                </div>
              </div>
            </div>

            <div class="tile">

              <div class="tile-content">
                <h3 class="text-brand brand-bold">Lead Full-Stack Engineer</h3>
                <h4>Austin, Texas • Full-time</h4>
                <p>
                  <a id="show-engineer" href="#"><i class="fa fa-chevron-right"></i> View job description</a>
                  <a id="hide-engineer" class="hidden" href="#"><i class="fa fa-chevron-down"></i> Hide job description</a>
                </p>
                <div id="engineer-more" class="hidden">
                  <p>&nbsp;</p>
                  <h5>Job Description</h5>
                    <p>
                      We're seeking a seasoned full-stack engineer to lead a results-driven development team.
                    </p>
                  <h5>You will</h5>
                  <ul class="default">
                    <li>Work in a collaborative, fast-paced environment with a team of smart, passionate developers and user experience leaders</li>
                    <li>Serve as the lead engineer to establish initial framework or foundation for other developers to build upon.</li>
                    <li>Take high level concepts and turn them into something valuable and exciting for our users</li>
                    <li>Work with leadership, designers, and researchers to help plan future product changes</li>
                  </ul>

                  <h5>You have</h5>
                  <ul class="default">
                    <li>Prior experience in a lead development role required</li>
                    <li>Experience with Python / Django</li>
                    <li>Experience deploying and managing systems on AWS</li>
                    <li>Experience integrating 3rd party APIs</li>
                    <li>Have a working knowledge of React and Redux</li>
                    <li>Experience architecting and implementing solutions that meet functional and nonfunctional requirements that are robust, scalable, and well documented</li>
                    <li>Strong written and verbal communication skills</li>
                  </ul>

                  <h5>Additional Information</h5>
                  <p>
                    At Loom, we value diversity and always treat all employees and job applicants based on merit, qualifications, competence, and talent. We do not discriminate on the basis of race, religion, color, national origin, gender, sexual orientation, age, marital status, veteran status, or disability status.
                  </p>

                  <p>
                    <strong>Want to apply for this job? Send your cover letter and resume to <a href="emailto:info@loom.co">info@loom.co</a>.</strong>
                  </p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function(){
      $('#show-community').click(function(e){
        e.preventDefault();
        $('#community-more').removeClass('hidden');
        $('#hide-community').removeClass('hidden');
        $(this).addClass('hidden');
      });

      $('#show-designer').click(function(e){
        e.preventDefault();
        $('#designer-more').removeClass('hidden');
        $('#hide-designer').removeClass('hidden');
        $(this).addClass('hidden');
      });

      $('#show-engineer').click(function(e){
        e.preventDefault();
        $('#engineer-more').removeClass('hidden');
        $('#hide-engineer').removeClass('hidden');
        $(this).addClass('hidden');
      });

      $('#hide-community').click(function(e){
        e.preventDefault();
        $('#community-more').addClass('hidden');
        $('#show-community').removeClass('hidden');
        $(this).addClass('hidden');
      });

      $('#hide-designer').click(function(e){
        e.preventDefault();
        $('#designer-more').addClass('hidden');
        $('#show-designer').removeClass('hidden');
        $(this).addClass('hidden');
      });

      $('#hide-engineer').click(function(e){
        e.preventDefault();
        $('#engineer-more').addClass('hidden');
        $('#show-engineer').removeClass('hidden');
        $(this).addClass('hidden');
      });
    });
  </script>
{% endblock %}