{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="about-us">
    <div class="account-nav">
      <div class="row">
        <div class="container">
          <ul>
            <li>
              <a class="active" href="#/company">About Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556327-Help-with-Freelancing-on-Loom"
              target="_blank">Freelancing on Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556347-Help-with-Hiring-on-Loom"
              target="_blank">Hiring on Loom</a>
            </li>
            <li>
              <a href="https://joinloom.zendesk.com/hc/en-us" target=
              "_blank">Loom Support Center</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row about-content">
      <div class="container">
        <div>
          <div class="col-md-2">
            <ul class="left-nav">
              <li>
                <a class="" href="/about/">About</a>
              </li>
              <li>
                <a class="active" href="/careers/">Careers</a>
              </li>
              <li>
                <a href="http://loom.totemapp.net/" target="_blank">Press</a>
              </li>
              <li>
                <a href="http://support.loom.co/" target=
                "_blank">Support</a>
              </li>
              <li>
                <a class="" href="/terms-of-service/">Terms of
                Service</a>
              </li>
              <li>
                <a class="" href="/privacy/">Privacy Policy</a>
              </li>
              <li>
                <a class="" href="/dmca/">DMCA Policy</a>
              </li>
              <li>
                <a class="" href="/contact/">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-10">
            <div>
						<h1 class="text-brand brand-bold text-center">
              Join the ranks. We’re a lean, passionate team of builders.
            </h1>


            <h3 class="brand text-center">
            Our mission is to help people around the world actualize their
            ideas with the resources they have for mutual benefit. And we’re
            looking for talented people who believe in this mission to join us
            as we redefine how the world works.
            </h3>
            <p>&nbsp;</p>
            <p>
              We’re specifically on the lookout for both a talented marketing lead,
              as well as a product designer to join our team. If you think you might
              be a good fit for either of these roles, email your information to
              <a href='mailto:info@loom.co'>info@loom.co</a> and someone
              will be in touch with more information about the position.
            </p>
            <p>
              More roles will be available on the team in the near future, so be sure
              to follow us on our social channels and sign up for our newsletter for more
              information as it becomes available. Be sure to also check back here, as we
              will update this page as we have more concrete details about future roles.
            </p>
            <p>
              Loom is proudly an equal opportunity employer based in Austin, Texas.
              <i class="emoji-peace"></i>
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}