{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="about-us">
    <div class="account-nav">
      <div class="row">
        <div class="container">
          <ul>
            <li>
              <a class="active" href="#/company">About Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556327-Help-with-Freelancing-on-Loom"
              target="_blank">Freelancing on Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556347-Help-with-Hiring-on-Loom"
              target="_blank">Hiring on Loom</a>
            </li>
            <li>
              <a href="https://joinloom.zendesk.com/hc/en-us" target=
              "_blank">Loom Support Center</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row about-content">
      <div class="container">
        <div>
          <div class="col-md-2">
            <ul class="left-nav">
              <li>
                <a class="" href="/about">About</a>
              </li>
              <li>
                <a class="" href="/careers">Careers</a>
              </li>
              <li>
                <a href="http://loom.totemapp.com/" target="_blank">Press</a>
              </li>
              <li>
                <a href="http://support.joinloom.com/" target=
                "_blank">Support</a>
              </li>
              <li>
                <a class="" href="/terms-of-service">Terms of
                Service</a>
              </li>
              <li>
                <a class="" href="/privacy">Privacy Policy</a>
              </li>
              <li>
                <a class="" href="/dmca">DMCA Policy</a>
              </li>
              <li>
                <a class="active" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-10">
            <div>
            <h1 class="text-brand brand-bold text-center">
              Hey, there. We want to hear what you have to say.
            </h1>


            <h3 class="brand text-center">
              We’re proud of our community and thrive on your feedback.
            </h3>
            <p>&nbsp;</p>
            <p>
              To contact Loom regarding support-related issues, please send a detailed email to <a href='mailto:support@joinloom.com'>support@joinloom.com</a> with your request.
            </p>

            <p>
              To contact Loom regarding all other issues, please send a detailed email to <a href='mailto:info@joinloom.com'>info@joinloom.com</a> and we’ll get back to you as quickly as possible.
            </p>

            <p>
              Please note that our community support center can help with most questions you may have and is located at joinloom.zendesk.com
            </p>

            <p>
              You can find us eating tacos and drinking Topo in our office located in the lovely city of Austin, Texas. Our address is:
            </p>

            <p>
            <strong>
              Loom Labs, Inc. <br />
              501 Pedernales, 1B <br />
              Austin, Texas 78702
            </strong>
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}