{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="about-us">
    <div class="account-nav">
      <div class="row">
        <div class="container">
          <ul>
            <li>
              <a class="active" href="#/company">About Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556327-Help-with-Freelancing-on-Loom"
              target="_blank">Freelancing on Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556347-Help-with-Hiring-on-Loom"
              target="_blank">Hiring on Loom</a>
            </li>
            <li>
              <a href="https://joinloom.zendesk.com/hc/en-us" target=
              "_blank">Loom Support Center</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row about-content">
      <div class="container">
        <div>
          <div class="col-md-2">
            <ul class="left-nav">
              <li>
                <a class="" href="/about/">About</a>
              </li>
              <li>
                <a class="" href="/careers/">Careers</a>
              </li>
              <li>
                <a href="http://loom.totemapp.net/" target="_blank">Press</a>
              </li>
              <li>
                <a href="http://support.loom.co/" target=
                "_blank">Support</a>
              </li>
              <li>
                <a class="" href="/terms-of-service/">Terms of
                Service</a>
              </li>
              <li>
                <a class="" href="/privacy/">Privacy Policy</a>
              </li>
              <li>
                <a class="" href="/dmca/">DMCA Policy</a>
              </li>
              <li>
                <a class="active" href="/diversity/">Diversity Policy</a>
              </li>
              <li>
                <a class="" href="/contact/">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-10">
            <div>
              <h2>Loom Diversity Policy</h2>
              <p>&nbsp;</p>
              <p><span>Our goal at Loom is to create meaningful connections between developers and entrepreneurs to enable them to bring digital products to life. We take real steps to build a trusted platform where everyone feels welcome to work and interact. </span></p>
              <p><span>The Loom team values the diversity of our employees, developers, entrepreneurs, and everyone who participates in our platform.<span class="Apple-converted-space">&nbsp; </span>Listening to diverse voices helps us build a better platform and experience for our users, and our diverse community is what makes Loom possible. </span></p>
              <p><span>Discrimination has no place on our platform. Our goal is to build and scale a platform where entrepreneurs and developers can work together without encountering prejudice, discrimination or intolerance.<span class="Apple-converted-space">&nbsp; </span>If you have suggestions for improving diversity and attitudes on our platform, please reach out and contact us at <a href="mailto:support@loom.com"><span class="s2"><strong>support@loom.co</strong></span></a>. </span></p>
              <p><span>We are always working to build a better platform, and it&rsquo;s the collective efforts of our entrepreneurs, developers and global community that make the Loom experience possible. </span></p>
              <p><span>We&rsquo;re inspired by the vibrancy of the Loom community and we&rsquo;re committed to making Loom a workplace where everyone feels welcome.</span></p>
              <p>&nbsp;</p>
              <p><span><strong>Loom&rsquo;s Nondiscrimination Policy</strong></span></p>
              <p><span>Loom is a community dedicated to connecting developers and entrepreneurs to do meaningful work.<span class="Apple-converted-space">&nbsp; </span>Our community is incredibly diverse, and brings together people of different races, religions, genders, life-choices, challenges, cultures and values. </span></p>
              <p><span>Loom is committed to building a platform where people from every background feel welcome and respected.<span class="Apple-converted-space">&nbsp; </span>This commitment rests on the principles of inclusion and respect. </span></p>
              <p><span>We welcome people to share ideas and work toward common goals on our platform, regardless of who they are, where they come from, how they worship, or whom they love. </span></p>
              <p><span>We are all committed to eliminating unlawful bias from our platform. However, we encourage the Loom community to go beyond the bare minimum of legal compliance. We want to create a culture and community without discrimination and intolerance.&nbsp;</span></p>
              <p><span>Joining Loom means joining a community of inclusion. We welcome developers and entrepreneurs of all backgrounds. Bias, prejudice, racism, and hatred have no place on our platform or in our community. Everyone on the Loom platform is required to comply with all applicable laws that prohibit discrimination based on factors such as race, religion, disability, and national origin.<span class="Apple-converted-space">&nbsp; </span>However, we also strongly encourage everyone to go above and beyond the minimum legal non-discrimination requirements when choosing whom to work with on the platform.</span></p>
              <p><span>We require everyone on the Loom platform to be respectful of each other at all times.<span class="Apple-converted-space">&nbsp; </span>Loom&rsquo;s developers and entrepreneurs come to the platform with a diversity of background experiences, beliefs, and customs. By connecting people from different backgrounds, Loom creates a more diverse marketplace of ideas, both technical and cultural, than it could otherwise provide.</span></p>
              <p><span>Entrepreneurs should learn and understand all applicable U.S. federal, state, and local laws and international laws that apply to hiring developers, contractors and employees, and to granting them equity.<span class="Apple-converted-space">&nbsp; </span>Entrepreneurs should contact Loom customer service at <a href="mailto:support@loom.com"><span class="s2"><strong>support@loom.co</strong></span></a></span> <span class="s1">or their own attorneys, as appropriate, if they have any questions about the applicable laws and rules. </span></p>
              <p>&nbsp;</p>
              <p><span><strong>Race, Color, Ethnicity, National Origin, Religion, Sexual Orientation, Disability, Gender Identity, or Marital Status. </strong></span></p>
              <p><span>Loom developers and entrepreneurs may not decline to work with someone based on race, color, ethnicity, national origin, religion, sexual orientation, disability, gender identity, or marital status. </span></p>
              <p><span>Loom developers and entrepreneurs may not impose any different terms or conditions based on anyone&rsquo;s race, color, ethnicity, national origin, religion, sexual orientation, disability, gender identity, or marital status.</span></p>
              <p><span>Loom developers and entrepreneurs may not make any posting or any statement that indicates a preference for or against anyone on account of race, color, ethnicity, national origin, religion, sexual orientation, disability, gender identity, or marital status.</span></p>
              <p>&nbsp;</p>
              <p><span><strong>What happens when a user does not comply with our policies?</strong></span></p>
              <p><span>If a particular posting contains language contrary to our nondiscrimination policy, the user will be asked to remove the language and affirm his or her understanding and intent to comply with this policy and its underlying principles. Loom may also, in its sole discretion, take steps up to and including suspending or removing the user from the Loom platform.</span></p>
              <p><span>If a user refuses to work with someone in violation of this policy or uses language or takes actions demonstrating that his or her decisions were motivated by factors prohibited by this policy, Loom will, in its sole discretion, take steps to enforce this policy, up to and including suspending or removing the user from the Loom platform.</span></p>
              <p><span>Our goal is to build an inclusive platform for all entrepreneurs and developers.<span class="Apple-converted-space">&nbsp; </span>Diversity, inclusion and respect are at the core of who we are and what we stand for at Loom. </span></p>
              <p><span>We just cannot tolerate any prejudice, discrimination or intolerance.</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}