{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div id="about-us">
    <div class="account-nav">
      <div class="row">
        <div class="container">
          <ul>
            <li>
              <a class="active" href="#/company">About Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556327-Help-with-Freelancing-on-Loom"
              target="_blank">Freelancing on Loom</a>
            </li>
            <li>
              <a href=
              "https://joinloom.zendesk.com/hc/en-us/categories/203556347-Help-with-Hiring-on-Loom"
              target="_blank">Hiring on Loom</a>
            </li>
            <li>
              <a href="https://joinloom.zendesk.com/hc/en-us" target=
              "_blank">Loom Support Center</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row about-content">
      <div class="container">
        <div>
          <div class="col-md-2">
            <ul class="left-nav">
              <li>
                <a class="" href="/about/">About</a>
              </li>
              <li>
                <a class="" href="/careers/">Careers</a>
              </li>
              <li>
                <a href="http://loom.totemapp.net/" target="_blank">Press</a>
              </li>
              <li>
                <a href="http://support.loom.co/" target=
                "_blank">Support</a>
              </li>
              <li>
                <a class="" href="/terms-of-service/">Terms of
                Service</a>
              </li>
              <li>
                <a class="" href="/privacy/">Privacy Policy</a>
              </li>
              <li>
                <a class="active" href="/dmca/">DMCA Policy</a>
              </li>
              <li>
                <a class="" href="/contact/">Contact</a>
              </li>
            </ul>
          </div>
          <div class="col-md-10">
            <div>
          <h2>DMCA Policy</h2>
        <p>Effective starting: August 8, 2016</p>
        <p>Loom Labs, Inc. (“<strong>Loom Labs</strong>”) respects the intellectual property rights of others and expects its users to do the same as described in this policy. This policy is incorporated by reference into the Terms of Service (the “<strong>Terms of Service</strong>”). Defined terms used in this policy that are not otherwise defined herein shall have the same definitions as in the Terms of Service.</p>
        <p>We do not allow copyright infringing activities on our Site or through our services (“<strong>Services</strong>”) and will remove a party’s Content from the Site or our Services if properly notified that such Content infringes on another's copyright rights. Loom Labs has a policy of terminating, in appropriate circumstances and at our discretion, to disable and/or terminate the accounts of Users who repeatedly infringe or are repeatedly charged with infringing the copyrights or other intellectual property rights of others.&nbsp; You are a “repeat infringer” if, on more than two occasions, you have been notified of infringing activity or have had your Content removed from our Site or our Services. We also reserve the right in our discretion to terminate any of your accounts suspected of infringing copyrights upon the first incident without further notice, at our sole discretion.</p>
        <p>If you believe that any Content on our Site or in our Services violates your copyright, you should notify Loom Labs copyright agent in writing pursuant to the Digital Millennium Copyright Act (“<strong>DMCA</strong>”), 17 U.S.C. § 512(c)(3). The contact information for our copyright agent is below.</p>
        <p>In order for Loom Labs to take action, you must do the following in your written notice (the “<strong>DMCA Takedown Notice</strong>):</p>
        <p>Your physical or electronic signature.</p>
        <p>Identification of the copyrighted work you believe to have been infringed or, if the claim involves multiple works on the Site or in the Services, a representative list of such works.</p>
        <p>Identification of the material you believe to be infringing in a sufficiently precise manner to allow us to locate that material.</p>
        <p>Adequate information by which we can contact you (including your name, postal address, telephone number and, if available, e-mail address).</p>
        <p>A statement that you have a good faith belief that use of the copyrighted material is not authorized by the copyright owner, its agent or the law.</p>
        <p>A statement that the information in the written notice is accurate.</p>
        <p>A statement, under penalty of perjury, that you are authorized to act on behalf of the copyright owner.</p>
        <p>We will promptly notify the alleged infringer that you have claimed ownership of the rights in this Content and that we have complied with your DMCA Takedown Notice for the Content.</p>
        <p>Here is the contact information for our copyright agent:</p>
        <p>Loom Labs, Inc.&nbsp;</p>
        <p>501 Pedernales 1B</p>
        <p>Austin, Texas 78702&nbsp;<br />
        Attn: Copyright Agent<br />
        E-Mail: <a href="mailto:copyright@atlassian.com">copyright@loom.co</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}