{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="hero hero-how">
  <div class="item">
    <div class="hero-overlay--logo-mark hero-overlay--logo-mark--orange"></div>
    <div class="hero-slide expand">
      <p class="mid-section">
        <img src="/static/images/emoji--raised-hands.png" alt="" />
      </p>
      <h3 class="brand-bold large">Thanks for verifying your email!</h3>
      <h3 class="brand-bold large">Your connection request has been sent.</h3>
      <h4 class="text-dark text-skinny mid-section">We'll notify you when they accept the connection.</h4>
      <a href="{% url 'messages-inbox' %}" class="btn btn-brand btn-brand--attn">Go to Messages</a>
    </div>
  </div>
</div>

{% endblock %}
