{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="hero hero-how">
  <div class="item">
    <div class="hero-overlay--logo-mark hero-overlay--logo-mark--orange"></div>
    <div class="hero-slide">
      <h2 class="brand large">This is how<br/> Loom works</h2>
    </div>
  </div>
</div>

<div class="page-content--medium">
  <div class="how-tile">
    <div class="how-tile-content">
      <h3 class="brand">Post your project</h3>
      <p>Easily create a profile for yourself or your company and tell the community about the project you are bringing
        to life. Describe the basics of the project on your public page and keep your confidential details hidden behind an
        NDA-protected tab.</p>
      <p>You can grant developers access to your confidential info by having them agree to an NDA. On
        Loom, you can garner interest from the development community without spilling your secret sauce.</p>
    </div>
    <div class="how-tile-image how-tile-image--post"></div>
  </div>

  <div class="how-tile">
    <div class="how-tile-image how-tile-image--bid"></div>
    <div class="how-tile-content">
      <h3 class="brand">Receive bids from developers</h3>
      <p>Developers from around the world will place bids in equity and/or cash to build your project, ultimately
        setting the price of the work in true marketplace fashion. We share the average bid placed on a project with
        the community to help developers gauge what type of offers are coming in (and outbid them).</p>
    </div>
  </div>

  <div class="how-tile">
    <div class="how-tile-content">
      <h3 class="brand">Engage the developer of your choice</h3>
      <p>Easily engage any developer that has bid on your project to bring it to life, using our complimentary
        industry-standard digital contracts.</p>
      <p>Sort and filter all of the bids from developers to build your project based on cash offers, equity offers,
        technical proficiency, user ratings, location and more. When you pay to engage a developer on Loom, the
        small fee includes all legal contracts through the professional, industry-standard templates to be signed
        digitally by both parties. Once both parties agree sign, we provide you with your developer’s personal
        information to contact them however you both see fit, as well as to invite them to your team’s Slack, JIRA,
        etc organizations to begin working.</p>
    </div>
    <div class="how-tile-image how-tile-image--engage"></div>
  </div>
</div>

<div class="why-loom">
  <div class="page-content">
    <h3 class="brand">Why use Loom?</h3>
    <div class="why-row">
      <div class="why-item">
        <div class="why-item-icon">
          <img src="/static/images/why-talent.svg" alt="">
        </div>
        <div class="why-item-content">
          <h4 class="brand">Top-tier talent</h4>
          <p>Easily create a profile for yourself or your company and tell the community.</p>
        </div>
      </div>
      <div class="why-item">
        <div class="why-item-icon">
          <img src="/static/images/why-legal.svg" alt="">
        </div>
        <div class="why-item-content">
          <h4 class="brand">Simplified legal</h4>
          <p>Easily create a profile for yourself or your company and tell the community.</p>
        </div>
      </div>
    </div>
    <div class="why-row">
      <div class="why-item">
        <div class="why-item-icon">
          <img src="/static/images/why-ratings.svg" alt="">
        </div>
        <div class="why-item-content">
          <h4 class="brand">Ratings &amp; Reviews</h4>
          <p>Easily create a profile for yourself or your company and tell the community.</p>
        </div>
      </div>
      <div class="why-item">
        <div class="why-item-icon">
          <img src="/static/images/why-protect.svg" alt="">
        </div>
        <div class="why-item-content">
          <h4 class="brand">Protected confidential info</h4>
          <p>Easily create a profile for yourself or your company and tell the community.</p>
        </div>
      </div>
      <div class="why-item">
        <div class="why-item-icon">
          <img src="/static/images/why-support.svg" alt="">
        </div>
        <div class="why-item-content">
          <h4 class="brand">Support along the way</h4>
          <p>Easily create a profile for yourself or your company and tell the community.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="how-pricing">
  <div class="how-pricing-content page-content--medium">
    <h3>Our Pricing Structure</h3>
    <p class="important">Developers never pay any fees on Loom.</p>
    <p>Our goal is to make our fee to engage a developer only a fraction of what you would pay a lawyer for professional
      legal contracts alone, which are included with every engagement on Loom.</p>
  </div>
</div>

<div class="how-pricing-breakdown page-content--alternate">
  <div class="page-content">
    <img src="/static/images/pricing-tag.png" class="how-pricing-tag" alt="">
    <div class="how-pricing-header">
      <h2 class="brand">Per hour of work</h2>
      <h3 class="brand text-accent">We like to keep things simple, for example:</h3>
    </div>
    <div class="how-pricing-row">
      <div class="how-pricing-item">
        <div class="how-pricing-item-header">
          $300 Fee
        </div>
        <div class="how-pricing-item-content">
          100-hour job<br/>
          for 5% equity
        </div>
      </div>
      <div class="how-pricing-item">
        <div class="how-pricing-item-header">
          $300 Fee
        </div>
        <div class="how-pricing-item-content">
          100-hour job<br/>
          for $4,000 cash
        </div>
      </div>
      <div class="how-pricing-item">
        <div class="how-pricing-item-header">
          $300 Fee
        </div>
        <div class="how-pricing-item-content">
          100-hour job<br/>
          for $1,000 cash + 2% equity
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta cta--primary page-content--medium page-content--alternate">
  <div class="cta-content">
    Let's bring your ideas to life.<br class="hide-mobile"/> Posting projects is <span class="highlight">free</span>.
  </div>
  <a href="/signup/prelaunch/" class="btn btn-brand btn-brand--attn">Post your project</a>
</div>

{% endblock %}
