{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="hero hero-how">
  <div class="item">
    <div class="hero-overlay--logo-mark hero-overlay--logo-mark--orange"></div>
    <div class="hero-slide">
      <h2 class="brand large">How Loom Works</h2>
      <h4 class="slim">Our goal is to help employers hire <br class="hide-medium"/>
        talented freelancers for cash and equity, <br class="hide-medium"/>
        and to provide tools that make getting<br class="hide-medium"/>
        work done easier and more efficient.</h4>
    </div>
  </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs how-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#how-entrepreneurs" aria-controls="how-entrepreneurs" role="tab" data-toggle="tab">I'm hiring freelancers</a></li>
  <li role="presentation"><a href="#how-freelancers" aria-controls="how-freelancers" role="tab" data-toggle="tab">I'm a freelancer</a></li>
</ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane how-tab-pane active" id="how-entrepreneurs">

      <div class="page-content--medium">
        <div class="how-tile">
        <div class="how-tile-content">
          <h3 class="brand">Find top technical freelancers</h3>
          <p>Sign up and get started by posting a project.</p>
          <p>Describe your project and specify the skills you're looking for in a freelancer.</p>
          <p>Protect confidential project and company details behind an NDA-protected tab.</p>
        </div>
        <div class="how-tile-image how-tile-image--post">
          <img src="/static/images/Post-Project-Illustration.png" alt="">
        </div>
        </div>

        <div class="how-tile">
          <div class="how-tile-image how-tile-image--bid">
            <img src="/static/images/Bids-Illustration.png" alt="">
          </div>
          <div class="how-tile-content">
            <h3 class="brand">Hire the freelancers of your choice</h3>
            <p>Quickly receive proposals from freelancers interested in your project.</p>
            <p>Compare freelancers and send messages to discuss the project and setup interviews.</p>
            <p>Choose the freelancer you want to work with, execute a work agreement and get to work.</p>
          </div>
        </div>

        <div class="how-tile">
          <div class="how-tile-content">
            <h3 class="brand">Work efficiently, pay securely.</h3>
            <p>Send and receive files directly in Loom messages to keep work moving efficiently.</p>
            <p>Pay freelancer invoices by debit or credit card through our secure payment system.</p>
            <p>Easily track invoices and transaction history in your Loom dashboard.</p>
          </div>
          <div class="how-tile-image how-tile-image--engage">
            <img src="/static/images/Engage-Illustration.png" alt="">
          </div>
        </div>

      </div>

      <div class="how-pricing page-content--alternate">
        <div class="page-content">
          <div class="how-pricing-header">
            <h2 class="brand">Pricing and payments on Loom</h2>
            <h3 class="brand">Employers don't pay any fees on cash payments made to freelancers</h3>
          </div>
          <div class="page-content--medium">
            <div class="how-pricing-row">
              <div class="how-pricing-item how-pricing-item--messaging">
                <h4>CASH-ONLY PROJECTS</h4>
                <h2 class="brand">10%</h2>
                <p>fee deducted from cash payments to freelancers</p>
              </div>
              <div class="how-pricing-item how-pricing-item--attachments">
                <h4>CASH + EQUITY PROJECTS</h4>
                <h2 class="brand">10%</h2>
                <p>fee deducted from cash payments to freelancers</p>
              </div>
              <div class="how-pricing-item how-pricing-item--contact">
                <h4>EQUITY-ONLY PROJECTS</h4>
                <h2 class="brand">$500</h2>
                <p>ﬂat fee paid by employers when a freelancer is hired</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="why-loom">
        <div class="page-content">
          <h3 class="brand">Why use Loom to find freelancers?</h3>
          <div class="why-row">
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-talent.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Top-tier talent</h4>
                <p>Employ proven, passionate freelancers looking to work on interesting projects.</p>
              </div>
            </div>
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-equity.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Equity compensation</h4>
                <p>Leverage passion by trading equity for work from top-tier freelancers around the world.</p>
              </div>
            </div>
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-ratings.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Proven track records</h4>
                <p>View work examples, employment history and skill tests results from freelancers around the world.</p>
              </div>
            </div>
          </div>
          <div class="why-row why-row-2">
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-protect.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Protected confidential info</h4>
                <p>Keep the secret sauce of your project hidden behind NDA-protected information tabs.</p>
              </div>
            </div>
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-support.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Support along the way</h4>
                <p>We're here to provide you with the knowledge and support you need to be successful.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cta cta--primary page-content--medium page-content--alternate">
          <div class="cta-content cta-content--how">
            Let's bring your ideas to life.<br class="hide-mobile"/> Posting projects is <span class="highlight">free</span>.
          </div>
          <a href="/signup/" class="btn btn-brand btn-brand--attn">Post projects for free</a>
        </div>

    </div>

    <div role="tabpanel" class="tab-pane how-tab-pane" id="how-freelancers">

      <div class="page-content--medium">
        <div class="how-tile">
          <div class="how-tile-content">
            <h3 class="brand">Discover interesting projects</h3>
            <p>Sign up and create a freelancer profile.</p>
            <p>Showcase your experience with work examples and skills tests.</p>
            <p>Easily filter projects that are relevant to your role and skills.</p>
          </div>
          <div class="how-tile-image how-tile-image--post">
            <img src="/static/images/Post-Project-Illustration.png" alt="">
          </div>
        </div>

        <div class="how-tile">
          <div class="how-tile-image how-tile-image--bid">
            <img src="/static/images/Bids-Illustration.png" alt="">
          </div>
          <div class="how-tile-content">
            <h3 class="brand">Get hired and get to work</h3>
            <p>Send compelling proposals to employers to let them know you're interested.</p>
            <p>Receive alerts when employers read your proposals, so you're always in the loop.</p>
            <p>Exchange messages to discuss project details, setup interviews and get hired, all for free.</p>
          </div>
        </div>

        <div class="how-tile">
          <div class="how-tile-content">
            <h3 class="brand">Flexible invoices. Secure payouts.</h3>
            <p>Quickly create and send both hourly and flat-fee invoices from your dashboard.</p>
            <p>Employers pay directly through Loom’s secure payment system.</p>
            <p>Easily track all pending, paid and outstanding payments in your dashboard.</p>
          </div>
          <div class="how-tile-image how-tile-image--engage">
            <img src="/static/images/Engage-Illustration.png" alt="">
          </div>
        </div>
      </div>

      <div class="how-pricing page-content--alternate">
        <div class="page-content">
          <div class="how-pricing-header">
            <h2 class="brand">Pricing and payments on Loom</h2>
            <h3 class="brand">Low fees for freelancers. Keep more of the money you earn.</h3>
          </div>
          <div class="page-content--medium">
            <div class="how-pricing-row">
              <div class="how-pricing-item how-pricing-item--messaging">
                <h4>CASH-ONLY PROJECTS</h4>
                <h2 class="brand">10%</h2>
                <p>fee deducted from cash payments made to freelancers</p>
              </div>
              <div class="how-pricing-item how-pricing-item--attachments">
                <h4>CASH + EQUITY PROJECTS</h4>
                <h2 class="brand">10%</h2>
                <p>fee deducted from cash payments made to freelancers</p>
              </div>
              <div class="how-pricing-item how-pricing-item--contact">
                <h4>EQUITY-ONLY PROJECTS</h4>
                <h2 class="brand">$500</h2>
                <p>service fee paid by employer when you’re hired</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="why-loom">
        <div class="page-content">
          <h3 class="brand">Why use Loom to find freelance work?</h3>
          <div class="why-row">
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-talent.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Top-tier clients</h4>
                <p>Work with passionate entrepreneurs hiring equally passionate freelancers.</p>
              </div>
            </div>
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-equity.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Equity compensation</h4>
                <p>Build a portfolio for your financial future by working for equity in addition to cash.</p>
              </div>
            </div>
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-ratings.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Advertise your experience</h4>
                <p>Beautifully display your work examples, employment history and take skill tests.</p>
              </div>
            </div>
          </div>
          <div class="why-row why-row-2">
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-protect.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Protected personal info</h4>
                <p>We keep your personal info protected so that you have power and privacy as a freelancer.</p>
              </div>
            </div>
            <div class="why-item">
              <div class="why-item-icon">
                <img src="/static/images/why-support.svg" alt="">
              </div>
              <div class="why-item-content">
                <h4 class="brand">Support along the way</h4>
                <p>We're here to provide you with the knowledge and support you need to be successful.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cta cta--primary page-content--medium page-content--alternate">
        <div class="cta-content cta-content--how">
          Like bringing ideas to life?<br class="hide-mobile"/> Working on Loom is <span class="highlight">free</span>.
        </div>
        <a href="/signup/" class="btn btn-brand btn-brand--attn">Sign up now</a>
      </div>

    </div>
  </div>
</div>

{% endblock %}
