<div class="messages-tracker-content">
  <div class="messages-tracker-popup-content">
    <div class="nda-inner">
      <h3 align="center">Non-Disclosure Agreement</h3>
      <p>
        <strong>
          IMPORTANT! THIS MUTUAL NON-DISCLOSURE AGREEMENT FOR DEVELOPMENT SERVICES (‘AGREEMENT”) GOVERNS THE
          DISCLOSURE OF CONFIDENTIAL
          INFORMATION RELATING TO THE DEVELOPMENT SERVICES. BY CLICKING “I AGREE”, BY PROVIDING OR RECEIVING
          CONFIDENTIAL INFORMATION IN
          CONNECTION WITH THE DEVELOPMENT SERVICES OR OTHERWISE SIGNIFYING YOUR ACCEPTANCE OF THE TERMS OF THIS
          AGREEMENT, YOU REPRESENT AND
          WARRANT THAT (A) YOU ARE AUTHORIZED TO ENTER THIS AGREEMENT FOR AND ON BEHALF OF YOUR COMPANY AND/OR
          YOU, AND ARE DOING SO, (B) YOU
          COMPANY AND/OR YOU CAN LEGALLY ENTER INTO THIS AGREEMENT AND (C) YOU HAVE READ AND UNDERSTAND AND
          AGREE THAT YOUR COMPANY AND/OR
          YOU SHALL BE BOUND BY THE TERMS OF THIS AGREEMENT AND ALL MODIFICATIONS AND ADDITIONS PROVIDED FOR. IF
          YOU DO NOT AGREE TO THE
          TERMS OF THIS AGREEMENT, YOU SHALL NOT DISCLOSE ANY CONFIDENTIAL INFORMATION IN CONNECTION WITH THE
          DEVELOPMENT SERVICES.
        </strong>
      </p>
      <p>
        This Mutual Non-Disclosure Agreement (the <strong>“Agreement”</strong>) is made and entered into as of
        the date
        agreed to by both parties (the <strong>“Effective Date”</strong>) by and between the company wishing to
        engage contractor to
        provide certain development services (<strong>“Company”</strong>), and the contractor wishing to provide
        these development
        services (<strong>“Contractor”</strong>). Company and Contractor shall be referred to throughout this
        Agreement
        individually as a “Party” and collectively as the “Parties.”
      </p>
      <p>
        1. <strong>Purpose.</strong> Company and Contractor wish to explore and/or engage in the
        provision of certain development services (the <strong>“Development Services”</strong>) and in
        connection with the Development Services, each Party may disclose to the
        other Party certain confidential technical and business information which the
        disclosing Party desires to treat as confidential.
      </p>
      <p>
        2. <strong>“Confidential Information”</strong> means any proprietary or confidential information
        disclosed by either Party to the other Party, either directly or indirectly in
        writing, orally, or by inspection of tangible objects (including, without limitation,
        business plans, customer data, designs, documents, drawings, engineering
        information, financial analysis, hardware configuration information, inventions,
        market information, marketing plans, processes, products, product plans,
        research, services, specifications, software, source code or trade secrets), which, in all
        cases is designated or labeled as “Confidential,” “Proprietary,” or some
        other similar designation. Confidential Information may also include information
        disclosed to a disclosing Party by a third party. Confidential Information shall not,
        however, include any information which (i) was publicly known and made
        generally available in the public domain prior to the time of disclosure by the
        disclosing Party; (ii) becomes publicly known and made generally available after
        disclosure by the disclosing Party to the receiving Party through no action or
        inaction of the receiving Party; (iii) is already in the possession of the receiving
        Party at the time of disclosure by the disclosing Party as shown by the receiving
        Party&#39;s files, documents, records and other competent evidence immediately prior to
        the time of disclosure; (iv) is obtained by the receiving Party from a third party
        without a breach of such third party&#39;s obligations of confidentiality; or (v) is
        independently developed by the receiving Party without use of or reference to the
        disclosing Party&#39;s Confidential Information, as shown by the receiving
        Party’s files, documents, records and other competent evidence. Further, the receiving Party may
        disclose
        Confidential Information pursuant to a valid order issued by a court or
        government agency or as otherwise required by law, provided that (a) the
        receiving Party provides the disclosing Party with prior written notice of such
        obligation and the opportunity to oppose such disclosure or obtain a protective
        order; (b) the receiving Party only discloses such Confidential Information as
        is required to comply with such order or law and (c) no such disclosure shall
        otherwise exempt such Confidential Information from being treated as confidential under this Agreement.
      </p>
      <p>
        3. <strong>Non-Disclosure and Non-Use.</strong> Each Party agrees not to disclose any Confidential
        Information to
        third parties or to employees of such Party, except to those employees of the receiving Party who
        are required to have the information in order to evaluate or engage in discussions concerning the
        Development Services. Each Party agrees not to use any Confidential Information for any purpose
        except to evaluate and engage in discussions concerning the Development Services. Neither Party
        shall reverse engineer, disassemble or decompile any prototypes, software or other tangible objects
        which embody the other Party’s Confidential Information and which are provided to the Party hereunder
        unless consent for such actions is received by the Party that owns the object. Neither Party shall make
        any copies of the other Party’s Confidential Information unless the same are previously approved in
        writing by the disclosing Party. Each Party shall reproduce the other Party’s proprietary rights notices
        on any such approved copies, in the same manner in which such notices were set forth in or on the
        original.
      </p>
      <p>
        4. <strong>Maintenance of Confidentiality.</strong> Each Party agrees that it shall take all reasonable
        measures to protect the secrecy of and avoid disclosure and unauthorized use of the Confidential
        Information. Without limiting the foregoing, each Party shall take at least those measures that such
        Party takes to protect its own most highly confidential information, but in no event shall such measures
        be less than a reasonable standard of care, and shall have its employees, if any, who have access to
        the other Party’s Confidential Information sign a non-use and non-disclosure agreement with terms no
        less restrictive than the provisions hereof, prior to any disclosure of the other Party’s Confidential
        Information to such employees.
      </p>
      <p>
        5. <strong>No Obligation.</strong> Nothing herein shall obligate either Party to proceed with any
        transaction
        between the Parties, and each Party reserves the right, in its sole discretion, to terminate the
        discussions contemplated by this Agreement concerning the Development Services.
      </p>
      <p>
        6. <strong>Ownership and No License.</strong> All Confidential Information shall remain the sole
        property of the
        disclosing Party. Nothing in this Agreement is intended to grant any rights to either Party under
        any patent, copyright, trademark or other intellectual property right of the other Party, nor shall
        this Agreement grant either Party any rights in or to the other Party’s Confidential Information
        except as expressly set forth herein.
      </p>
      <p>
        7. <strong>No Warranty.</strong> ALL CONFIDENTIAL INFORMATION IS PROVIDED “AS IS.” NEITHER PARTY MAKES
        ANY WARRANTIES, EXPRESS, IMPLIED OR OTHERWISE, REGARDING THE ACCURACY, COMPLETENESS OR PERFORMANCE OF
        ITS CONFIDENTIAL INFORMATION, AND EACH PARTY EXPRESSLY DISCLAIMS ANY WARRANTIES OF ANY KIND,
        WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT.
      </p>
      <p>
        8. <strong>Return of Materials.</strong> All documents and other tangible objects containing or
        representing the disclosing Party’s Confidential Information and all copies thereof which are in
        the possession of the receiving Party shall be promptly returned to the disclosing Party upon the
        disclosing Party’s request.
      </p>
      <p>
        9. <strong>Remedies.</strong> Each Party agrees that its obligations hereunder are necessary and
        reasonable in order to protect the other Party and the other Party’s business, and expressly
        agrees that monetary damages would be inadequate to compensate the other Party for any breach
        by either Party of any covenants and agreements set forth herein. Accordingly, each Party agrees
        and acknowledges that any such violation or threatened violation will cause irreparable injury to
        the other Party and that, in addition to any other remedies that may be available, in law, in equity
        or otherwise, the other Party shall be entitled to obtain injunctive relief against the threatened
        breach of this Agreement or the continuation of any such breach, without the necessity of proving
        actual damages or posting bond. If any claim or dispute arising out of or relating to this Agreement,
        including the breach or interpretation of this Agreement (a <strong>“Dispute”</strong>) arises between
        the parties that leads to a proceeding to resolve such Dispute, then the prevailing party in such
        proceeding shall be entitled to receive its attorneys&#39; fees and costs incurred in connection
        with such proceeding in addition to any other relief it may be awarded.
      </p>
      <p>
        10. <strong>Export.</strong> The Parties acknowledge that the Confidential Information disclosed
        by each of them under this Agreement may be subject to export controls under the laws of the United
        States. Each Party shall comply with such laws and agrees not to knowingly export, re-export or
        transfer Confidential Information of the other party without first obtaining all required United
        States authorizations or licenses.
      </p>
      <p>
        11. <strong>Term.</strong> This Agreement shall be effective as of the Effective Date and shall
        remain in effect until either (i) no Confidential Information has been exchanged between the Parties
        for a period of three (3) years, or (ii) the Parties agree in writing to terminate it. Upon
        expiration or termination of this Agreement, all rights and obligations hereunder shall cease.
      </p>
      <p>
        12. Miscellaneous. This Agreement shall bind and inure to the benefit of the Parties and their
        successors and assigns. This Agreement shall be governed by the laws of the State in which Company
        has its main office, without reference to its conflict of laws principles. Any suit to enforce this
        Agreement shall be brought exclusively in the Federal or state courts located in the county in
        which Company has its main office and the Parties hereby submit to the personal jurisdiction of
        such courts and waive any venue objection. This document contains the entire agreement between the
        Parties with respect to the subject matter hereof. Any failure to enforce any provision of this
        Agreement shall not constitute a waiver thereof or of any other provision hereof. This Agreement
        may not be amended, nor any obligation waived, except by a writing signed by both Parties. In the
        event any term of this Agreement is found by any court to be void or otherwise unenforceable, the
        remainder of this Agreement shall remain valid and enforceable as though such term were absent upon
        the date of its execution.
      </p>
      <p>
        IN WITNESS WHEREOF, the parties have entered into this Agreement as of the Effective Date.
      </p>
    </div>
  </div>
</div>