{% extends "base.html" %}
{% load staticfiles %}

{% block nav %}{% endblock %}

{% block content %}
<div id="confirm-profile">
  <div class="row">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h1 class="brand-bold text-header-main text-center">
          You're in! Where to next?
        </h1>
        <div class="pickers">
          <a class="text-center picker post-project" href="{% url 'project-pricing' %}">
            <div class="picker-image"></div>
            <h3 class="brand-bold">Post a<br />
            <span class="text-accent">Project</span></h3>
          </a>
          <a class="text-center picker explore-loom" href="{% url 'home' %}">
            <div class="picker-image"></div>
            <h3 class="brand-bold">Explore<br />
            <span class="text-brand">Loom</span></h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
