.bid-form {
  h4.brand {
    margin: @gutter 0;
  }

  .bid-form-wrapper {
    max-width: 400px;
    margin: auto;

    a {
      color: @brand--accent;
    }
  }
  h3.text-brand {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  textarea {
    height: 100px;
    resize: none;
  }
  .radio {
    margin: 0;
    margin-right: 15px;
    input[type="radio"] {
      position: relative;
      margin-right: 5px;
    }
  }

  .comp-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 @gutter;

    .control-label {
      margin-bottom: 0;
    }
    .input-group {
      display: flex;
      justify-content: center;
      align-items: center;
      .input-group-addon {
        padding: 9px 12px;
        width: auto;
      }
    }
    label {
     display: inline;
    }
    input[type="number"].form-control {
     display: inline;
     width: 100px;
    }
  }

  .bid-terms {
    margin-top: @gutter;
  }

  .comp-inputs {
    display: flex;
    align-items: center;
    justify-content: center;

    .comp-inputs--cash {
      width: 50%;
    }

    .comp-inputs--plus {
      width: 10%;
      text-align: center;
    }

    .comp-inputs--equity {
      width: 40%;
    }
  }

  .hours-input {
    .form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .input-group {
      width: 50%;
    }
  }
}

.modal-content {
  border-color: @brand--secondary;
}