.btn {
  padding: 6px 12px;
  font-weight: 600;

  &.btn-brand {
    color: #FFF;
    border: 1px solid @brand--accent;
    background: @brand--accent;
  }

  &.btn-brand--hero {
    padding: 20px 40px;
    font-size: 18px;
    font-weight: normal;
  }

  &.btn-brand--clear {
    color: @brand--accent;
    border: 1px solid @brand--accent;
    background: transparent;

    &:hover {
      background: transparent;
    }
  }

  &.btn-transparent {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;

    &:hover {
      color: #fff;
      background: transparent;
    }
  }

  &.btn-foggy {
    color: #fff;
    background: fade(#fff, 60%);

    &:hover {
      color:#fff;
      background: fade(#fff, 60%);
    }
  }

  &.btn-yellow {
    background: @devquity-yellow;
    border: 1px solid @devquity-yellow;
    color: #fff;
    &:hover {
      background: @devquity-yellow;
    }

  }

  &.btn-yb {
    color: @black;
    border: 1px solid @devquity-yellow;
    background: transparent;
    &:hover {
      background: transparent;
    }
  }

  &.btn-dark {
    color: #fff;
    background: @black;
    border: 1px solid @black;
    &:hover {
      color: #fff;
    }
  }

  &.btn-linkedin {
    text-transform: none;
    color: #fff;
    background: #0077B5;
    .fa {
      font-size: 18px;
      margin-right: 8px;
    }
    &:hover {
      background: #0077B5;
    }
  }

  &.btn-angellist {
    text-transform: none;
    color: @black;
    background: #fff;
    border: 1px solid @black;
    .fa {
      font-size: 18px;
      margin-right: 8px;
    }
    &:hover {
      background: #fff;
    }
  }


  &.btn-hero {
    margin-top: 20px;
    padding: 10px 55px;
    font-weight: normal;
    background: rgba(255,255,255,0.4);
  }

  &.btn-cta {
    margin-top: 20px;
    padding: 10px 55px;
    font-weight: normal;
    background: rgba(0,0,0,0.8);
  }

  &.btn-skill {
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 4px;
    background: #fff;
    color: @light-gray;
    position: relative;
    overflow: hidden;

    &.active {
      color: @dark-gray;
      &:before {
        .inactive-top;
      }
    }
    &:hover {
      color: @dark-gray;
    }
    &:before {
      .active-top(@devquity-primary);
    }

  }

  &.btn-step {
    font-size: 18px;
    border-radius: 0;
    position: relative;
    background: @devquity-primary;
    color: #fff;
    height: 51px;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      right: -51px;
      border-width: 50px / 2;
      border-color: transparent transparent transparent @devquity-primary;
    }

  }
}