
.home-section {
	.carousel-inner {
		.item-featured, .item-project {
			padding: 0 50px;
			margin: 0 auto;
		}
	}

	.carousel-control {
		width: 5%;
		background: none !important;

		.glyphicon {
			color: @dark-gray;
		}
	}
}

#new-projects {
	.carousel-inner {
		.item-featured, .item-project {
			padding: 0 35px;
		}
	}
}

.home-hero-carousel {

}