.checkout {
  padding:0 20px;
}

.fee-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  .fee-details {
    display: flex;
    flex-direction: column;
    background: @brand-neutral--6;
    padding: 15px;
    .fees {
      h2 {
        margin: 25px 10px 0;
      }
      display: flex;
      align-items: flex-end;
      span {
        font-size: 16px;
      }
    }
  }
}

.promo {
  display: flex;
  justify-content: space-between;
  input {
    margin: 0 15px;
  }
}

.card-list {
  li {
    display: flex;
    align-items: center;
    .card-details {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #f1f1f1;
      padding: 5px 10px;
      margin-left: 15px;
    }
    .new-card {
      padding: 5px 0px;
      margin-left: 15px;
      width: 100%;
    }
  }
}