.cta {
  padding: @gutter;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: @border-radius;
}

.cta--primary {
  margin-top: @gutter * 2;
  margin-bottom: @gutter * 4;
  padding: @gutter * 4;
}

.cta-content {
  font-size: 30px;
  color: @brand-neutral--1;
}