#dashboard {
  background: #fafafa;
  h2 {
    margin: 30px 0;
    font-size: 24px;
    font-family: @page-font;
    color: @brand--primary;
  }
  .btn-brand--attn {
    margin: 150px 0;
    display: inline-block;
  }
  .section {
    padding: 0;
    margin-bottom: 25px;
    background: #fff;
    box-shadow: 0 1px 2px 0 #c8c6cc;
    border-radius: 3px;
    overflow: hidden;

    &.section-padding {
      padding: 20px;
    }

    .section-header {
      background: @brand-neutral--1;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      background: #423d51;
      padding: 0 20px;
      display: flex;
      align-items: center;
      height: 40px;
      border-radius: 3px 3px 0 0;

      a {
        color: #fff;

        &:hover {
          color: @brand--accent;
        }
      }

      .text-skinny {
        padding-left: 5px;
      }

      &.section-header--projects {
        justify-content: space-between;

        a {
          color: #FFF;
        }

        @media (max-width: @screen-sm) {
          flex-wrap: wrap;
          height: auto;

          a {
            margin: 10px 0;
          }

          .action-buttons {
            margin: 10px 0;

            .btn {
              margin: 0;
            }
          }
        }
      }

      .action-buttons {
        .btn {
          padding: 4px 20px;
        }
      }
    }
    .section-body {
      padding: 25px 15px;
      display: flex;
      .btn-wide {
        margin: auto;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      h5 {
        margin: 0;
      }
      .company-logo-small {
        height: 50px;
        width: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 15px;
        flex-shrink: 0;
      }
    }
    ul li {
      padding: 15px 20px;
      border-bottom: 1px solid #c8c6cc;
    }
    a.btn-linkedin, a.btn-linkedin:hover,
    a.btn-linkedin:visited, a.btn, a.btn:hover,
    a.btn:visited, a.btn.btn-brand--clear:hover {
      color: #fff;
    }
    a, a:hover, a:visited, a.btn.btn-brand--clear {
      color: @brand--accent;
      text-decoration: none;
    }
    a.social, a.social:hover, a.social:visited {
      color: @brand-neutral--1;
    }

    .notifications {
      height: 250px;
      padding: 0;
      margin: 0;
      overflow-y: scroll;
    }

    div.profile-photo {
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      background-color: @brand-neutral--5;
    }

    table.dashboard-table {
      width: 100%;

      th {
        text-transform: uppercase;
        padding: 5px 15px;
        background: #7b7785;
        color: #fff;
      }

      td {
        padding: 10px 15px;
        border-bottom: 1px solid #ccc;

        &:only-child {
          border-bottom: none;
        }
      }
    }
  }

  .profile-snapshot--dashboard {
    .profile-photo {
      width: 100% !important;
      height: 0 !important;
      padding-bottom: 100%;
      border-radius: 0 !important;
      display: block;
    }
    h3 {
      margin: 25px 0;
    }
  }

  .section .section-body.quick-links {
    padding: @gutter--medium;

    .btn {
      width: 100%;
      max-width: 200px;
    }
  }

  .connected-company {
    display: flex;
    padding: @gutter;

    @media (max-width: @screen-sm) {
      flex-wrap: wrap;
    }

    h5 {
      margin: 0;
    }

    .company-logo-small {
      height: 50px;
      width: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 15px;
      flex-shrink: 0;
    }

    .flex-right {
      @media (max-width: @screen-sm) {
        margin-top: @gutter;
        flex-basis: 100%;
        flex-shrink: 0;
      }
    }
  }



  #pm_messages tr td {
    background: #fff;
  }
}

.dashboard-header {
  p {
    margin: -25px 0 30px;
  }
}

.security {
  img {
    width: 100px;
  }
}

.dashboard-tables {
  padding: 0 15px;
}

.dashboard-table-flex {
  tr {
    border-bottom: 1px solid #ccc;
    align-items: center;
    flex-wrap: wrap;

    &:last-of-type {
      border-bottom: none;
    }

    @media (max-width: @screen-sm) {
      display: flex;
    }
  }
  td {
    border-bottom: 0 !important;
  }

  .dashboard-table-flex-expand {
    flex-grow: 1;
  }
}

.dashboard-meta {
  @media (max-width: @screen-desktop) and (min-width: @screen-xs) {
    display: flex;

    .profile-snapshot--dashboard {
      flex-basis: 40%;
    }

    .section-quickLinks {
      flex-grow: 1;
      align-self: flex-start;
      margin-left: 20px;
    }
  }
}