#dashboard {
  h2 {
    margin: 30px 0;
  }
  .section {
    padding: 0;
    margin-bottom: 25px;
    background: #fff;
    .section-header {
      background: @brand-neutral--1;
      color: @brand--primary;
      padding: 10px;
    }
    .section-body {
      padding: 15px;
    }
    ul li {
      padding: 15px 20px;
      border-bottom: 1px solid #ccc;
    }
    a.btn {
      width: 80%;
    }
    a, a:hover, a:visited {
      color: @brand--primary;
      text-decoration: none;
    }
    a.social, a.social:hover, a.social:visited {
      color: @brand-neutral--1;
    }
    a.btn-linkedin, a.btn-linkedin:hover, a.btn-linkedin:visited, a.btn, a.btn:hover, a.btn:visited {
      color: #fff;
    }
    table.dashboard-table {
      width: 100%;
      .profile-photo {
        width: 60px;
      }
      th {
        text-transform: uppercase;
        padding: 10px;
        background: @light-gray;
        color: #fff;
      }
      td {
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
      .btn {
        margin: 0 5px;
        width: auto;
        color: #fff;
      }
    }
  }

  .profile-snapshot .profile-photo {
    width: 100%;
  }

  #pm_messages tr td {
    background: #fff;
  }
}

.dashboard-header {
  p {
    margin: -25px 0 30px;
  }
}

.security {
  img {
    width: 100px;
  }
}