// FOOTER
.footer {
  width: 100%;
  background: @brand-neutral--1;
  color: #FFF;

  .footer-inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: (@gutter * 2) @gutter--medium;
  }

  .footer-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-nav {
    display: flex;
  }

  .footer-nav-section {
    padding-right: @gutter * 4;

    a {
      color: #FFF;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-nav-header {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
  }

  .footer-newsletter {
    display: flex;
    flex-direction: column;

    input {
      margin: @gutter 0;
      padding: 7px 14px;
      color: #FFF;
      background: transparent;
      border: 2px solid #FFF;
      border-radius: @border-radius;
      font-size: 18px;
      outline: none;
    }
  }

  .footer-newsletter-header {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .footer-newsletter-button {
    align-self: flex-start;
    font-weight: normal;
    border-radius: @border-radius;
  }

  .footer-base {
    border-top: 1px solid #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: @gutter * 2;
    margin-top: @gutter * 2;
  }

  .footer-logo {
    height: 48px;
    background: url(../images/Loom_Logo_Beta.svg) no-repeat;
    background-size: contain;
    flex-shrink: 0;
    flex-basis: 160px;
    text-indent: -999em;
  }

  .footer-social {
    a {
      font-size: 28px;
      color: #FFF;
      margin-left: @gutter--medium;
    }
  }
}