// HEADER
#header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 15px 0;

  .logo {
    height: 44px;
    background: url(../images/devquity-yb.png) no-repeat;
    background-size: cover;
    flex-shrink: 0;
    flex-basis: 150px;
  }

  &.home {
    .logo {
      background-image: url(../images/devquity-wy.png);
    }
  }
  .dropdown-menu {
    text-transform: uppercase;
    font-weight: 700;
    top: 120%;
    right: -10px;

    & > li {
      padding: 5px;
      & > a {
        font-weight: 700;
        &:hover {
          color: @yellow;
          background: none;
        }
        .badge {
          margin-left: 0;
        }
      }
    }
    &:before {
      position: absolute;
      top: -7px;
      right: 27px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }
    &:after {
      position: absolute;
      top: -6px;
      right: 28px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: '';
    }
  }

  input[type="text"]::-webkit-input-placeholder {
    color: white !important;
  }
  input[type="text"]:-ms-input-placeholder {
    color: white !important;
  }
  .fa {
    color: white;
  }
  .header-links {
    margin-left: 15px;
    padding: 5px;
    display: inline-block;

    a {
      margin: 0 10px;
      color: white;
      text-transform: uppercase;
    }

    a:hover {
      text-decoration: none;
    }

    &.header-links-home {
      flex-grow: 1;

      @media (max-width: @screen-md) {
        display: none;
      }
    }
  }

  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }
  
  .header-nav {
    display: flex;
  }
  
  .header-icons {
    position: relative;

    img {
      width: 30px;
      vertical-align: initial;
    }
    .header-icon-messages {
      position: relative;
      display: inline-block;
    }
    .badge {
      position: absolute;
      background: #d9534f;
      bottom: 3px;
      left: 0;
    }

    & > a, & > img {
      display: inline-block;
      margin: 0 10px;
    }
  }
}
