// HEADER
#header {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 15px 0;

  .logo {
    width: 150px;
    height: 44px;
    background: url(../images/devquity-yb.png) no-repeat;
    background-size: cover;
  }

  &.home {
    .logo {
      background-image: url(../images/devquity-wy.png);
    }
  }
  .btn {
    margin: 0 5px;
  }
  .header-action {
    a:hover {
      text-decoration: none;
    }
    img {
      width: 30px;
      margin: 0 20px;
    }
    .badge {
      margin-left: -30px;
      background: #d9534f;
    }
  }
  .dropdown-menu {
    text-transform: uppercase;
    font-weight: 700;
    top: 120%;
    li {
      padding: 5px;
      a {
        font-weight: 700;
        &:hover {
          color: @yellow;
          background: none;
        }
         .badge {
           margin-left: 0;
         }
      }
    }
    &:before {
      position: absolute;
      top: -7px;
      right: 27px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }
    &:after {
      position: absolute;
      top: -6px;
      right: 28px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: '';
    }
  }
}
.header-btn-group {
  padding-right: 40px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.search-bar {
  width: 300px;
  margin-right: 60px;
  color: white;
}
.search-bar #search-btn {
  background-color: transparent;
  border: none;
  margin-right: 0;
}
.search-bar input {
  border: none;
  padding-right: 20px;
  background-color: transparent;
  color: white;
}
input[type="text"]::-webkit-input-placeholder {
  color: white !important;
}
input[type="text"]:-ms-input-placeholder {
  color: white !important;
}
.fa {
  color: white;
}
.header-links {
  margin-left: 15px;
  padding: 5px;
  display: inline-block;
}
.header-links a {
  margin: 0 5px;
  color: white;
  text-transform: uppercase;
}