@header-height--desktop: 87px;

// HEADER
.header {
  z-index: 2;
  width: 100%;
  height: @header-height--desktop;
  background: #FFF;

  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: @header-height--desktop;
    padding: 0 @gutter--medium 0 @gutter--medium*2;
  }

  .logo {
    height: 42px;
    background: url(../images/Loom_Logo_Beta.svg) no-repeat;
    background-size: contain;
    flex-shrink: 0;
    flex-basis: 160px;
    text-indent: -999em;
  }

  .header-nav {
    display: flex;
  }

  ul.header-links {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
      margin: 0;
      padding-left: 60px;
      list-style: none;
      text-align: center;

      @media (max-width: @screen-md) {
        padding-left: @gutter--medium;
        flex-shrink: 0;
      }
    }

    a {
      font-family: @brand-font;
      font-size: 16px;
      color: @brand-neutral--3;
      text-align: center;
    }

    a:hover {
      color: @brand--accent;
      text-decoration: none;
    }

    .header-link--auth {
      a {
        color: @brand--accent;

        &:hover {
          color: @brand--primary;
        }

        @media (max-width: @screen-sm) {
          margin: 0;
          font-size: 14px !important;
        }
      }

      a.btn-brand--clear {
        &:hover {
          color: #fff;
        }

        @media (max-width: @screen-sm) {
          padding: 3px 5px !important;
        }
      }

      &.header-link--sign-in {
        padding-left: @gutter;
      }
    }
  }

  .dropdown-menu {
    text-transform: uppercase;
    font-weight: 700;
    top: 120%;
    right: -10px;

    & > li {
      padding: 5px;
      & > a {
        font-weight: 700;
        &:hover {
          color: @brand--accent;
          background: none;
        }
        .badge {
          margin-left: 0;
          bottom: 0;
          left: 3px;
        }
      }
    }
    &:before {
      position: absolute;
      top: -7px;
      right: 27px;
      display: inline-block;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-left: 7px solid transparent;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      content: '';
    }
    &:after {
      position: absolute;
      top: -6px;
      right: 28px;
      display: inline-block;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      border-left: 6px solid transparent;
      content: '';
    }
  }

  .fa {
    color: white;
  }

  .header-icons {
    position: relative;
    padding-left: @gutter * 2;

    img {
      width: 30px;
      vertical-align: initial;
    }

    .profile-image {
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      vertical-align: initial;
      display: inline-block;
      cursor: pointer;
    }

    .header-icon-messages {
      position: relative;
      display: inline-block;
    }
    .badge {
      position: absolute;
      background: #d9534f;
      bottom: 3px;
      left: 0;
    }

    & > a, & > img {
      display: inline-block;
      margin: 0 10px;
    }
  }
}
