.text-yellow {
  color: @devquity-yellow;
}

.text-skinny {
  font-weight: 100;
}

.text-dark {
  color: @black;
}

.text-light {
  color: @light-gray;
}

.text-capitalize {
  text-transform: capitalize;
}

.drop-padding {
  padding: 0;
}