@home-hero-height: 580px;

.hero {
	.carousel-control {
		z-index: 4;
		background: none;
		width: 60px;
		height: 60px;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		opacity: 0.9;

		&.left {
			background: url("../images/carousel-arrow--left.png") no-repeat center center;
			left: 0;
		}

		&.right {
			background: url("../images/carousel-arrow--right.png") no-repeat center center;
			right: 0;
		}
	}

	.carousel-indicators li {
		margin: 0 5px;
		width: 15px;
		height: 15px;
		opacity: 0.6;
		border-radius: 50%;
		border-width: 2px;
	}

	.hero-item--home {
		background-color: @brand--primary;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.hero-item--home-post-project {
		background-image: url("../images/hero--home.jpg");
		background-size: cover;
	}

    #home-hero-1 {
      background-image: url("../images/home-hero-1.jpg");
    }

    #home-hero-2 {
      background-image: url("../images/home-hero-2.jpg");
    }

    #home-hero-3 {
      background-image: url("../images/home-hero-3.jpg");
    }

	.hero-slide {
		height: @home-hero-height;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		text-align: center;
		padding: 0 (@gutter * 3);

		h2 {
			margin: 0;
			padding: 0;
			color: #FFF;
			font-weight: 700;
			font-size: 68px;

			@media (max-width: @screen-sm) {
				font-size: 48px;
			}

			@media (max-width: @screen-xs) {
				font-size: 42px;
			}
		}

		h5 {
			padding: 0;
			color: #FFF;
			font-weight: normal;
			font-size: 24px;
			margin: 30px 0 40px;
			line-height: 1.5;

			@media (max-width: @screen-sm) {
				font-size: 21px;
			}

			@media (max-width: @screen-xs) {
				font-size: 18px;
				margin: 30px 0;
			}
		}

		@media (max-width: @screen-sm) {
			padding: 0 @gutter 30px;
		}

		@media (max-width: @screen-xs) {
			height: 450px;
		}
	}

	.hero-overlay--logo-mark {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-image: url('../images/brand-gradient--primary.svg');

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 260px;
			background: url("../images/overlay-logo-pattern--left.svg") no-repeat right center;
			background-size: 120%;
            opacity: .65;

			@media (max-width: @screen-sm) {
				display: none;
			}
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 260px;
			background: url("../images/overlay-logo-pattern--right.svg") no-repeat left center;
			background-size: 120%;
            opacity: .65;

			@media (max-width: @screen-sm) {
				display: none;
			}
		}
	}
}

.how {
	position: relative;
	margin-bottom: @gutter * 2;

	.how-content {
		width: 60%;
		display: flex;
		flex-direction: column;

		@media (max-width: @screen-md) {
			width: 100%;
			text-align: center;
		}
	}

	.how-content-block {
		background: #fff6f3;
		padding-top: @gutter * 3;
		padding-right: @gutter * 6;
		padding-bottom: @gutter;
		padding-left: (@gutter * 6);


		@media (max-width: @screen-md) {
			padding: @gutter + @gutter--medium;
		}
	}

	.how-content-list {
		display: flex;
		flex-direction: column;
        font-family: @brand-font-bold;
	}

	.how-content-list-item {
		padding: @gutter 0;
		display: flex;
		align-items: center;
		font-size: 22px;

		p {
			padding: 0 0 0 (@gutter + @gutter--medium);
			margin: 0;

			@media (max-width: @screen-md) {
				padding: @gutter 0 0;
			}
		}

		@media (max-width: @screen-md) {
			flex-direction: column;
		}

		@media (max-width: @screen-sm) {
			font-size: 18px;
		}
	}

	.how-icon {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 74px;
		height: 74px;
		flex-shrink: 0;
	}

	.how-icon--post {
		background-image: url('../images/how-icon--post.svg');
	}
	.how-icon--bid {
		background-image: url('../images/how-icon--bid.svg');
	}
	.how-icon--engage {
		background-image: url('../images/how-icon--engage.svg');
	}

	.how-content-learn-more {
		padding: @gutter ((@gutter * 6));

		a {
			display: inline-flex;
			align-items: center;
			color: @brand--accent;
            font-family: @brand-font;
            font-weight: 700;
			font-size: 18px;

			&:active, &:hover {
				text-decoration: none;

				span {
					text-decoration: underline;
				}
			}

			@media (max-width: @screen-sm) {
				font-size: 16px;
			}
		}

		i {
			font-size: 26px;
			padding-left: @gutter--medium;
		}

		@media (max-width: @screen-md) {
			padding: @gutter--medium;
		}
	}

	.how-image {
		position: absolute;
		bottom: 0;
		right: 0;
		top: @gutter * 3;
		width: 45%;
		background: url('../images/how-loom-works.png') no-repeat center;
		background-size: cover;
		opacity: 0.7;

		@media (max-width: @screen-md) {
			display: none;
		}
	}

	.how-header {
		margin: 0 0 @gutter;
		padding: 0;
		font-size: 58px;
		font-weight: 700;

		@media (max-width: @screen-md) {
			font-size: 28px;
		}
	}
}

.plates .plates-headcap.home-headcap--bigSelect {
	padding-top: @gutter--medium;
}

.plates .home-dev-bigSelect {
	padding-top: @gutter * 2;
}

.testimonials {
	background: #fff7f1; /* Old browsers */
	background: -moz-linear-gradient(left, #fff7f1 0%, #fff5f3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #fff7f1 0%, #fff5f3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #fff7f1 0%, #fff5f3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f1', endColorstr='#fff5f3', GradientType=1); /* IE6-9 */
}

.testimonials-inner {
	padding: @gutter--medium @gutter (@gutter * 2);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.testimonial {
		flex-basis: 30%;
		min-width: 280px;
		border: 1px solid #c8c6cc;
		border-radius: @border-radius;
		padding: @gutter @gutter;
		background: #FFF;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-top: 60px;
		margin-right: auto;
		margin-left: auto;

		@media (max-width: @screen-sm) {
			flex-basis: 47%;
		}

		@media (max-width: @screen-xs) {
			flex-basis: 100%;
		}
	}

	.testimonial-avatar {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70px;
		height: 70px;
		border-radius: 50%;
		border: 1px solid @brand-neutral--4;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		&.testimonial-avatar--neill {
			background-image: url("../images/avatar-neill.jpg");
			background-position: top -4px center;
			background-size: 100%;
		}

		&.testimonial-avatar--jermaine {
			background-image: url("../images/avatar-jermaine.jpg");
			background-size: 200%;
			background-position: top -5px left -41px;
		}

		&.testimonial-avatar--juan {
			background-image: url("../images/avatar-juan.jpg");
			background-size: 110%;
			background-position: top left;
		}
	}

	.testimonial-text {
		text-align: center;
		flex-grow: 1;
		padding: 35px @gutter 0;
		line-height: 1.5;
		background: url("../images/quote.svg") no-repeat top 30px left;
		background-size: 50px;
	}

	.testimonial-signature {
		text-align: center;
		padding-top: @gutter;
		padding-bottom: @gutter--medium;

		h4 {
			margin: 0 0 @gutter--small;
		}
		h6 {
			margin: 0;
		}
	}
}