@home-hero-height: 580px;

#hero-carousel--home {
	.carousel-control {
		z-index: 4;
		background: none;
		width: 60px;
		height: 60px;
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		opacity: 0.9;

		&.left {
			background: url("/static/images/carousel-arrow--left.png") no-repeat center center;
			left: 0;
		}

		&.right {
			background: url("/static/images/carousel-arrow--right.png") no-repeat center center;
			right: 0;
		}
	}

	.carousel-indicators li {
		margin: 0 5px;
		width: 15px;
		height: 15px;
		opacity: 0.6;
		border-radius: 50%;
		border-width: 2px;
	}

	.hero-item--home {
		background-color: @brand--primary;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.hero-item--home-post-project {
		background-image: url("/static/images/hero--home.jpg");
		background-size: contain;
	}

	.hero-slide {
		height: @home-hero-height;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		text-align: center;

		h2 {
			margin: 0;
			padding: 0;
			color: #FFF;
			font-family: @brand-font;
			font-weight: normal;
			font-size: 60px;
		}

		h5 {
			margin: 0;
			padding: 0;
			color: #FFF;
			font-family: @brand-font;
			font-weight: bold;
			font-size: 26px;
			margin: 45px 0;
		}
	}

	.hero-overlay--logo-mark {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background-image: url('/static/images/brand-gradient--primary.svg');

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 260px;
			background: url("/static/images/overlay-logo-pattern--left.svg") no-repeat right center;
			background-size: 120%;
		}

		&:after {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 260px;
			background: url("/static/images/overlay-logo-pattern--right.svg") no-repeat left center;
			background-size: 120%;
		}
	}
}

.how {
	position: relative;

	.how-content {
		width: 60%;
		display: flex;
		flex-direction: column;
	}

	.how-content-block {
		background: #fff6f3;
		padding-top: @gutter * 3;
		padding-right: @gutter * 6;
		padding-bottom: @gutter;
		padding-left: @gutter * 8;
	}

	.how-content-list {
		display: flex;
		flex-direction: column;
	}

	.how-content-list-item {
		padding: @gutter 0;
		display: flex;
		align-items: center;
		font-size: 22px;

		p {
			padding: 0 0 0 (@gutter + @gutter--medium);
			margin: 0;
		}
	}

	.how-icon {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 64px;
		height: 64px;
		flex-shrink: 0;
	}

	.how-icon--post {
		background-image: url('/static/images/how-icon--post.svg');
	}
	.how-icon--bid {
		background-image: url('/static/images/how-icon--bid.svg');
	}
	.how-icon--engage {
		background-image: url('/static/images/how-icon--engage.svg');
	}

	.how-content-learn-more {
		padding: @gutter (@gutter * 8);

		a {
			display: inline-flex;
			align-items: center;
			color: @brand--accent;
			font-size: 18px;

			&:active, &:hover {
				text-decoration: none;

				span {
					text-decoration: underline;
				}
			}
		}

		i {
			font-size: 26px;
			padding-left: @gutter--medium;
		}
	}

	.how-image {
		position: absolute;
		bottom: 0;
		right: 0;
		top: @gutter * 3;
		width: 45%;
		background: url('/static/images/how-loom-works.png') no-repeat center;
		background-size: cover;
		opacity: 0.7;
	}

	.how-header {
		margin: 0 0 @gutter;
		padding: 0;
		font-size: 64px;
		font-weight: normal;
	}
}


.btn.btn-find-project {
	background: rgba(255,255,255,0.3);
	width: 160px;
	font-size: 12px;
	margin-top: 10px;
}

.home-section {
	.container {
		position: relative;
	}
	h2 {
		margin-top: 50px;
		margin-bottom: 20px;
	}
	.btn.btn-more {
		position: absolute;
		top: 55px;
		right: 30px;
	}
}

.home-section-carousel {
	.btn.btn-more {
		right: 65px;
	}
}

#browse-category {
	a, a:visited, a:hover {
		color: #fff;
		text-decoration: none;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		display: block;
		h3 {
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			padding: 125px 0;
		}
	}
	#art {
		background-image: url('../images/art.jpg');
	}
	#technology {
		background-image: url('../images/technology.jpg');
	}
	#gaming {
		background-image: url('../images/game.jpg');
	}
	#health {
		background-image: url('../images/health.jpg');
	}
	#nonprofit {
		background-image: url('../images/nonprofit.jpg');
	}
	#social {
		background-image: url('../images/social.jpg');
	}
	#location {
		background-image: url('../images/location.jpg');
	}
	#music {
		background-image: url('../images/music.jpg');
	}
	#news {
		background-image: url('../images/news.jpg');
	}
}

#developers {
	.profile {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom;
		position: relative;
		color: #fff;
		text-transform: uppercase;
		padding: 50px 0;
	}
	.profile img {
		border: 2px solid #ccc;
		border-radius: 40px;
		height: 40px;
	}
	.overlay {
		filter: blur(2px);
		-webkit-filter: blur(2px);
		overflow: hidden;
		top: 0px;
		bottom: -1px;
		left: 0px;
		right: 0px;
	}

	.profile-content{
		position: relative;
		z-index: 2;
	}

	.developers-home-search {
		display: flex;
		justify-content: stretch;
		align-items: center;
		padding: 40px 20px;

		.developers-home-search-show-me {
			flex-basis: 25%;
			text-align: right;
			padding-right: 10px;
			font-size: 18px;
		}
		.developers-home-search-select {
			flex-grow: 1;
			text-align: center;
			
			select {
				display: inline-block;
				width: 80%;
			}
		}
		.developers-home-search-button {
			flex-basis: 25%;
			text-align: left;
			padding-left: 10px;

			.btn {
				min-width: 75px;
			}
		}
	}
}

