@home-hero-height: 580px;
@how-color-1: #7a7785;

.hero.hero-how {
  position: relative;

  .hero-slide {
    height: 400px;

    h2 {
      color: @brand-neutral--1;
      font-size: 80px;
      font-family: @brand-font-bold;
    }

    @media (max-width: @screen-sm) {
      height: auto;
      padding: @gutter * 3 0;

      h2 {
        font-size: 48px;
      }

      h3 {
        font-size: 36px;
      }
    }
  }

  .hero-overlay--logo-mark {
    &.hero-overlay--logo-mark--orange {
      background: none;

      &:before {
        background: url("../images/overlay-logo-pattern-orange--left.svg") no-repeat right center;
        background-position: -35px center;
        background-size: 85%;
        opacity: .35;
      }

      &:after {
        background: url("../images/overlay-logo-pattern-orange--right.svg") no-repeat left center;
        background-position: 105px center;
        background-size: 73%;
        opacity: .35;
      }
    }
  }
}

.how-tile {
  display: flex;
  align-items: center;
  padding: 0 @gutter (@gutter * 4);
  justify-content: space-between;

  @media (max-width: @screen-sm) {
    flex-direction: column;
    padding-bottom: @gutter * 2;
  }

  .how-tile-content {
    font-size: 20px;
    color: @how-color-1;
    flex-basis: 50%;

    @media (max-width: @screen-sm) {
      order: 2;
      padding-top: @gutter * 2;
      flex-basis: initial;
    }

    h3 {
      font-size: 36px;
      font-weight: normal;
      margin-bottom: @gutter * 2;
      margin-top: 0;
      color: @brand-neutral--1;
      font-family: @brand-font-bold;
    }
  }

  .how-tile-image {
    flex-basis: 40%;
    flex-shrink: 0;

    @media (max-width: @screen-sm) {
      order: 1;
      max-width: 90%;
      flex-basis: initial;
      flex-shrink: initial;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.why-loom {
  padding: (@gutter * 3) 0;
  background: @brand--primary;
  text-align: center;
  color: #FFF;

  h3 {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: @gutter * 2;
    font-family: @brand-font-bold;

    @media (max-width: @screen-md) {
      font-size: 36px;
    }
  }

  .why-row {
    display: flex;
    justify-content: center;
    padding: @gutter 0;

    & + .why-row {
      padding-top: 0;
    }

    @media (max-width: @screen-md) {
      flex-wrap: wrap;
    }
  }

  .why-item {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    margin: @gutter @gutter * 3;
    align-items: center;

    .why-item-icon {
      flex-basis: 64px;
    }

    .why-item-content {
      max-width: 100%;

      h4 {
        margin: @gutter 0;
        font-size: 24px;
        max-width: 100%;
      }

      p {
        font-size: 20px;
        max-width: 100%;
      }
    }
  }
}

.how-pricing {
  position: relative;
  padding: 100px 0;

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    content: '';
    width: 6px;
    height: 100px;
    background: url('../images/vert-line.png') no-repeat top center;
  }

  .how-pricing-content {
    padding: 0 250px;
    text-align: center;
    font-size: 18px;

    h3 {
      font-size: 48px;
      font-weight: normal;
      margin-bottom: 0;
      font-family: @brand-font-bold;

      @media (max-width: @screen-md) {
        font-size: 36px;
      }
    }

    @media (max-width: @screen-md) {
      padding: @gutter;
    }
  }

  p.important {
    padding: (@gutter * 2) 0;
    margin: 0;
    color: @brand--primary;
  }
}

.how-pricing-breakdown {
  text-align: center;
  padding-bottom: @gutter * 2;

  img.how-pricing-tag {
    margin-top: -75px;
  }

  .how-pricing-header {
    padding: 0 @gutter;

    h2 {
      margin: @gutter * 2 0;
    }

    h3 {
      margin: 0 0 @gutter * 2;
    }
  }


  .how-pricing-row {
    display: flex;
    justify-content: space-around;
    padding: @gutter 0;

    @media (max-width: @screen-md) {
      flex-wrap: wrap;
    }
  }

  .how-pricing-item {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    width: 100%;
    margin: @gutter * 2 @gutter @gutter;
    padding: (@gutter * 3) @gutter (@gutter * 2);
    background: #FFF;
    border-radius: @border-radius;
    box-shadow: 0 1px 1px 0 #CCC;
    position: relative;
    font-size: 24px;
    font-family: @brand-font;

    .how-pricing-item-header {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: auto;
      background: #ff7a56;
      border-radius: @border-radius;
      transform: translateY(-50%);
      width: 50%;
      padding: @gutter--medium + @gutter--small @gutter--medium;
      color: #FFF;
      text-align: center;
      font-weight: bold;
    }
  }

  .how-pricing-breakdown-types {
    display: flex;
    justify-content: center;
    padding: @gutter 0;

    img {
      margin: @gutter (@gutter * 2);
    }

    @media (max-width: @screen-md) {
      flex-wrap: wrap;
    }
  }
}