.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/loader.gif') no-repeat center center;
  z-index: 10;
}

#loader {
  height: 300px;
  padding: 120px;
  .hex-loader {
    height: 60px;
    width: 150px;
    background: url('../images/hex-loader.gif') no-repeat center center;
    background-size: 200%;
    margin: auto;
  }
}