#login {
    .login-hero {
    background: url('../images/login-2g.jpg') no-repeat center;
    background-size: cover;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-top-left-radius: @border-radius;

    .login-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-image: url('../images/brand-gradient--primary.svg');
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 260px;
        background: url("../images/overlay-logo-pattern--left.svg") no-repeat right center;
        background-size: 120%;
      }
    }

  h2 {
    margin: 0;
    padding-left: 10px;
  }
  h5 {
    font-weight: 100;
    margin-top: 0;
  }
  p {
    margin-top: 10px;
  }

  .panel-login {


    .panel-heading {
      background-color: white;
    }

    .panel-body {
      padding: 20px 10px;
      position: relative;
    }

    .panel-footer {
      color: white;
      background-color: @black;
    }
  }

  }

  .login-content {
      #welcomeback {
        background: url('../images/smiley.svg') no-repeat 260px top;
        padding-top: 0;
        margin-top: 0;
      }
    width: 50%;
    padding-right: 25px;
  }

  .signin-or {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .signin-or > span {
    position: relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
  }

  .signin-or > span:before {
    right: 100%;
    margin-right: 15px;
  }
  .signin-or > span:after {
    left: 100%;
    margin-left: 15px;
  }
  
  #signin-panel .panel-body {
    padding-bottom: 5px;
  }
  #create-account {
    margin: 20px 0 0;
  }
  #forgot-password {
    margin: 10px 0;
  }
  #create-account > a,
  #forgot-password > a {
    text-decoration: underline;
    margin: 20px 0 10px;
  }
}