.messaging-page {
  background: #f3f3f3;

  .wrapper {
    min-height: auto;
  }
}

#messages-wrapper {
  position: absolute;
  top: 134px;
  left: 0;
  right: 0;
  bottom: 0;
  width: @content-width;
  margin: auto;
  display: flex;
  align-items: stretch;
  background: #FFF;
}

#messages, #pm_messages {
  flex-grow: 1;
  display: flex;

  .messages-topBar {
    line-height: 40px;
    padding: 0 @gutter;
    background: @off-white;
    font-family: @brand-font-bold;
    text-decoration: none;
    font-size: 18px;
    flex-basis: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: left;
    position: relative;

    &.messages-topBar--dark {
      background: #a19ea8;
    }

    &.agreement-topBar {
      background: #e8e8e8
    }

    &.messages-topBar--align-center {
      text-align: center;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: @gutter--medium;
    }

    .messages-back-to-list {
      position: absolute;
      left: @gutter--medium;
      top: 50%;
      transform: translateY(-50%);
      font-family: @page-font;
      font-size: 14px;
      color: @brand-neutral--2;

      i {
        padding-right: @gutter--small;
      }
    }
  }

  .messages-thread {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .messages-thread-content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .messages-thread-content {
    overflow-y: scroll;
    padding: 0 @gutter--medium;
  }

  .messages-thread-message {
    display: flex;
    align-items: flex-start;
    margin: @gutter--medium 0 @gutter--medium;

    &.messages-thread-message-currentUser {
      justify-content: flex-end;

      .messages-thread-message-avatar {
        margin-right: 0;
        margin-left: @gutter--medium;
        order: 2;
      }

      .messages-thread-message-text {
        background: #fff7f6;
        border-color: #ffd9d0;
      }
    }
  }

  .messages-thread-message-avatar {
    width: 36px;
    height: 36px;
    margin-right: @gutter--medium;
    border: 1px solid #CCC;
    border-radius: 50%;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .messages-thread-message-text {
    padding: @gutter--medium;
    border: 1px solid #e2e2e2;
    border-radius: @border-radius;
    font-size: 12px;
    background: #f3f3f3;
    margin: 0;
    line-height: 1.2;
    font-family: @page-font;
    color: @brand-neutral--1;
  }

  .messages-thread-composer {
    flex-shrink: 0;
    min-height: 42px;
    display: flex;
    padding: 0 @gutter--medium @gutter--medium;

    textarea {
      line-height: 20px;
      font-size: 16px;
      padding: @gutter--small @gutter--medium;
      border-radius: @border-radius;
      border: 1px solid @brand-neutral--3;
      flex-grow: 1;
      resize: none;
      outline: none;
      height: 100px;
    }

    .text-field-fileUpload {
      position: relative;
      border-radius: @border-radius 0 0 @border-radius;
      border: 1px solid @brand-neutral--3;
      background: url('/static/images/icon-upload.svg') no-repeat center #fafafa;
      background-size: 20px;
      flex-basis: 32px;
      flex-shrink: 0;
      overflow: hidden;

      &:hover {
        background-color: @brand-neutral--6;
      }

      input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        cursor: pointer;
        outline: none;
      }

      & + textarea {
        border-radius: 0 @border-radius @border-radius 0;
        border-left: none;
      }
    }
  }

  .messages-tracker {
    flex-basis: 300px;
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
  }

  .messages-tracker-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid #ececee;
  }

  .messages-tracker-content-static-footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @gutter--medium (@gutter * 4);
    border-top: 1px solid @brand-neutral--4;

    .checkbox label {
      letter-spacing: 0.5px;
      font-weight: bold;
      font-size: 14px;
      text-transform: none;
    }

    .btn {
      margin: 0;
    }
  }

  .agreement-panel {
    position: absolute;
    top: 0;
    left: 1px;
    right: 300px;
    bottom: 0;
    display: flex;

    .steps {
      text-align: center;
    }

    .next-step, .prev-step {
      font-size: 16px;
      cursor: pointer;
    }

    .panel {
      position: relative;
      flex-grow: 1;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      border: none;
    }
    .form-group {
      textarea {
        height: 175px;
      }
      .fa {
        position: relative !important;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        left: auto !important;
        margin: 0 !important;
        padding: 0 !important;
      }
    }
    .agreement-panel-footer {
      .form-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        align-content: space-between;
      }
    }
  }

  #message-wrapper {
    min-height: 600px;
  }

  .container {
    position: relative;
  }

  .messages-tracker-popup-content {
    overflow-y: scroll;
    padding: @gutter (@gutter * 4);
  }

  #agreement-tracker {
    overflow-y: scroll;

    .step {
      position: relative;
      padding: 10px 20px 20px 30px;
      border-bottom: 1px solid @brand-neutral--6;
      color: @font-color--light;
      h5.step-number {
        position: absolute;
        left: 15px;
      }
      h5.title {
        color: @font-color--base;
        text-transform: uppercase;
      }
      .btn {
        width: 100%;
      }
    }
    .inactive {
      color: @font-color--lighter;
      h5.title {
        color: @font-color--lighter;
      }
    }
  }

  tr td {
    padding: 20px 15px;
    background: #f7f7f7;
    color: #444;
    border-top: 1px solid #e7e7e7;
  }
  tr.unread td {
    background: #fff;
    color: #000;
    font-weight: bold;
  }
  tr td.photo-container {
    width: 60px;
  }
  .profile-photo {
    width: 60px;
  }
  button {
    border: none;
    margin-top: 3px;
  }
  .section-header {
    background: @dark-gray;
    color: @devquity-yellow;
    padding: 10px;
    font-size: 14px;
  }
  .ps-messages-view-header {
    margin: 20px 0;
    .button {
      padding: 0.5em 1.25em;
      border: 1px solid #ccc;
      background: #f7f7f8;
      border-radius: @border-radius;
    }
    h3 {
      margin: 0;
    }
  }

  li {
    margin: 15px 0;
  }
  .sent-message {
    padding: 10px;
    margin: 0 10px;
    background: lighten(@devquity-yellow, 35%);
    border: 1px solid @devquity-yellow;
    border-radius: @border-radius;
    width: 50%;
  }
  .received-message {
    padding: 10px;
    margin: 0 10px;
    background: #ccc;
    border: 1px solid @dark-gray;
    border-radius: @border-radius;
    width: 50%;
  }
  .message-date {
    margin-top: 10px;
  }

  #pm_reply {
    textarea {
      width: 100%;
      border-radius: @border-radius;
      padding: 10px;
      border: 1px solid @light-gray;
      height: 100px;
    }
  }
  #reply-wrapper {
    padding: 15px;
  }
}

.message-archive, .thread-archive,
.message-unarchive, .thread-unarchive,
.message-bookmark, .thread-bookmark,
.message-unbookmark, .thread-unbookmark {
  background: none;
  cursor: pointer;
}

.message-bookmark, .thread-bookmark,
.message-unbookmark, .thread-unbookmark {
  margin-right: 10px;
}

.message-archive.button-right, .thread-archive.button-right,
.message-unarchive.button-right, .thread-unarchive.button-right,
.message-bookmark.button-left, .thread-bookmark.button-left,
.message-unbookmark.button-left, .thread-unbookmark.button-left {
  background: #f7f7f8;
}

.back.button-left {
  margin-right: 15px;
}

.message-archive img, .thread-archive img,
.message-unarchive img, .thread-unarchive img,
.message-bookmark img, .thread-bookmark img,
.message-unbookmark img, .thread-unbookmark img {
  height: 24px;
}

#postman textarea {
  margin: 15px 0;
}

#message-form {
  textarea {
    width: 100%;
    margin: 10px 0 15px;
    padding: 10px;
  }
}

.bid-details {
  li {
    display: inline-block;
    margin: 35px;
    background: #f3f3f3;
    border: 1px solid #666;
    border-radius: 4px;
    width: 120px;
    padding: 20px 0px;
  }
}

.document-container {
  padding: 15px;
}

.messages-list {
  .messages-list-message {
    display: flex;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    align-items: center;

    & + .messages-list-message {
      border-top: none;
    }

    &:hover {
      background: @brand-neutral--6;
    }

    & > a {
      display: flex;
      flex-grow: 1;
      padding: @gutter--medium @gutter;
      align-items: center;
      margin: 0;
      border: 0;
      outline: 0;
      cursor: pointer;
    }

    &.unread {
      font-weight: bold;
    }
  }

  .messages-list-message-profile {}

  .messages-list-message-profile-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .messages-list-message-meta {
    padding: 0 @gutter--medium;
    flex-basis: 140px;
    text-align: center;
  }

  .messages-list-message-summary {
    flex-grow: 1;
  }

  .messages-list-message-star {
    button {
      padding: 0;
      margin: 0 @gutter--medium;
      border: 0;
      outline: 0;
      font-size: 25px;
    }
    .thread-unbookmark {
      color: @brand--primary;
    }
    .thread-bookmark {
      color: @brand-neutral--3;
    }
  }
}