@import '../variables';

body.has-modal {
  overflow: hidden;

  .app-content {
    overflow: hidden;
  }
}

.modal-container {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms;
  display: flex;
  justify-content: center;
  align-items: center;

  &.modal-enter {
    opacity: 0;

    &.modal-enter-active {
      opacity: 1;
    }
  }

  &.modal-leave {
    opacity: 1;

    &.modal-leave-active {
      opacity: 0;
    }
  }

  .modal {
    background: #FFF;
    border-radius: 4px;
    box-shadow: 0 0 7px @brand--primary;
    overflow: hidden;
    max-width: 95%;
    width: 600px;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
}


.modal-close {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: url('../images/modal-close.svg') no-repeat center;
  background-size: contain;
  cursor: pointer;
  margin: auto;

  &:hover {
    opacity: 0.8;
  }
}

.modal-top {
  flex-basis: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 50px 0 15px;
  position: relative;
  font-size: 16px;

  &.modal-top-hasHeader {
    background: @brand-neutral--6;
  }
}

.modal-bottom {
  flex-basis: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 15px;
  background: @brand-neutral--6;
}

.modal-message {
  display: block;
  overflow-y: scroll;
  flex-shrink: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 10px 15px 20px;

  &.modal-message-hasFooter {
    padding: 10px 15px;
  }
}


.modal-project-noauth {
  .modal-body {
    text-align: center;

    h4 {
      width: 80%;
      margin: 20px auto 30px;
    }

    p {
      margin-top: 10px;
    }
  }
}