#bid-modal {
  .modal-dialog{
    width: 400px;
  }
  .modal-body {
    background: @off-white;
    .btn {
      width: 100%;
    }
  }
  .modal-header {
    padding-bottom: 0;
    h4 {
      margin-bottom: 15px;
    }
    .form-group {
      text-align: center;
      background: @off-white;
      label {
        display: inline;
      }
      .form-control {
        border: transparent;
        background: transparent;
        display: inline;
        width: 90px;
        border-radius: 0;
        box-shadow: none;
        &::-webkit-input-placeholder {
          font-weight: 600;
          color: @yellow;
		}
		&:-moz-placeholder {
          font-weight: 600;
          color: @yellow;
		}
		&::-moz-placeholder {
          font-weight: 600;
          color: @yellow;
		}
		&:-ms-input-placeholder {
          font-weight: 600;
		  color: @yellow;
		}
      }
    }
  }
}