.panel-onboard {
  border: 1px solid @devquity-yellow;
  padding: 20px 40px 40px;
    a {
      display: block;
      color: @dark-gray;
      border-radius: @border-radius;
      border: 1px solid @light-gray;
      background: @off-white;
      padding: 15px;
    }
}

