@import (inline) '../../../node_modules/quill/dist/quill.snow.css';

.container.project-container {
  margin-bottom: @gutter * 2;
}

.section(@name) {
  &.@{name}.is.active {
    > #project-form > .section:not(.@{name}) {
      display: none;
    }
    > #project-form > .section.@{name} {
      display: block;
    }
  }
}

#create-project {
  h3, h4 {
    line-height: 1.5;
  }

  .top-bar {
    margin-bottom: @gutter * 2;

    .dq-progress-bar {
      display: flex;
      justify-content: center;
      height: 60px;

      li {
        color: @brand--primary;
        margin: 0;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        align-content: stretch;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        background: transparent;
        border-top: 2px solid @brand--primary;
        border-right: 2px solid @brand--primary;
        border-bottom: 2px solid @brand--primary;
        overflow: hidden;
        flex-basis: 25%;

        &.active {
          background: @brand--primary;
        }

        &.done a {
          background-position: 90% center;
          background-repeat: no-repeat;
          background-size: 20px;
          background-image: url('/static/images/check.png');
          padding-right: @gutter * 2;
        }

        > a {
          display: flex;
          align-items: center;
          flex-grow: 1;
          justify-content: center;
          border-bottom: 4px solid transparent;
          transition: border-bottom-color 0.1s ease-in-out;
          padding: 4px @gutter 0;
          border-radius: 0;

          &:hover {
            border-bottom-color: @brand--primary;
          }
        }

        &.active, &:active {
          a {
            background: transparent !important;
          }
        }

        &.disabled {
          color: @gray-light;
          cursor: not-allowed;

          &.active, &:active {
            background: @gray-light;
            color: #fff;
          }
          &:hover a {
            border-bottom-color: @gray-light;
          }
        }

        &:first-of-type {
          border-left: 2px solid @brand--primary;
          border-radius: @border-radius 0 0 @border-radius;
        }

        &:last-of-type {
          border-radius: 0 @border-radius @border-radius 0;
        }
      }
    }
  }

  .sections {
    > #project-form > .section {
      display: none;
    }
    .section(basics);
    .section(details);
    .section(budget);
    .section(preview);
    #project-form .project-preview {
      border: 3px dashed @brand-neutral--4;
      .preview {
        img {
          width: 150px;
        }
      }
    }
  }

  .details-header {
    margin-bottom: (@gutter * 2);

    h3 {
      margin-top: @gutter--medium;
    }
  }

  .attachment-field {
    border-radius: 3px;
    .upload-button {
      .btn;
      .btn-default;
      width: 100%;
      display: block;
      text-align: center;
    }
    &.preview {
      border: 3px dashed @brand-neutral--4;
      &.multi {
        width: 100%;
      }
      &.multi {
        .well;
        padding: 7.5px;
        .row {
          margin-left: -7.5px;
          margin-right: -7.5px;
          .col-sm-3 {
            padding-left: 7.5px;
            padding-right: 7.5px;
          }
          .preview {
            vertical-align: top;
          }
        }
        .upload-button {
          .make-sm-column(12);
          margin-bottom: -7.5px;
          border-color: #e3e3e3;
          border-width: 0px;
          border-top-width: 1px;
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }
      }
      &:hover {
        background-color: @border-gray;
        cursor: pointer;
        .upload-button {
          border-color: @border-gray;
          background-color: @devquity-yellow;
        }
      }
    }
    &.video.button, &.image.button {
      .upload-button {
        height: 4em;
        padding-top: 1.25em;
      }
    }
    &.preview.video {
      width: 100%;
      height: auto;
      .preview {
        width: 100%;
        height: auto;
      }
    }
    &.preview.image {
      height: auto;
      .preview {
        width: 100%;
        height: auto;
      }
    }
    .preview {
      .thumbnail;
      height: 8em;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      > * {
        max-width: 100%;
        max-height: 100%;
      }
      > img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 85%;
        padding-bottom: 3%;
      }
      .file-name {
        display: inline-block;
        font-size: 0.75em;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .icon-preview {
        font-size: 4em;
        display: block;
        margin: 0.25em;
        vertical-align: middle;
        color: @gray-lighter;
        background: transparent;
      }
      margin-bottom: 0.5em;
    }
  }

  .project-info {
    clear: both;
    position: relative;
    padding-top: 7.5px;
    margin-bottom: 1.25em;
    transition: 0.1s border-color ease-in-out;

    &:after {
      clear: both;
    }

    .description {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .attachment-field {
      .well;
      padding: 7.5px;
      margin-bottom: 15px;
      width: 100%;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;

      &.button {
        padding-top: 0px;
      }

      .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
      }

      .upload-button {
        .make-sm-column(12);
        margin-bottom: -7.5px;
        border-color: #e3e3e3;
        border-width: 0px;
        border-top-width: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
    }

    .type-switch {
      z-index: 2;
      position: absolute;
      right: 15px;
      top: 0;
      margin-top: 7.5px;
    }

    &.primary {
      .type-switch, .info-title {
        display: none;
      }
    }

    .description {
      height: 350px;
      background: @white;
      border-radius: 3px;

      .toolbar {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      .ql-container {
        height: 308px;
      }
    }
  }

  .add-info {
    cursor: pointer;
    color: @gray-light;

    i {
      font-size: 3em;
      vertical-align: middle;
      margin-right: 0.1em;
    }

    &:hover i {
      color: @devquity-yellow;
    }
  }

  .budget-selector {
    margin-top: @gutter * 2;

    .radios {
      display: flex;
      padding: @gutter 0;

      label {
        flex-basis: 50%;
        font-size: 18px;
        text-transform: none;
        font-weight: bold;
        padding-left: @gutter + @gutter--medium;

        input {
          margin-left: (@gutter + @gutter--medium) * -1;
        }
      }
    }
  }
}

ul.project-meta {
  display: flex;
  flex-direction: row;
  li {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
  }
  h4, img {
    align-self: center;
  }
  h4 {
    margin-left: 10px;
  }
}

#project {
  .project-header {
    padding-top: @gutter * 2;

    h1 {
      font-size: 48px;
      letter-spacing: 1.5px;
    }
    h4 {
      letter-spacing: 1.5px;
    }
  }

  h2 {
    margin: 0;
    font-weight: normal;
  }

  .project-basics {
    display: flex;
  }

  .project-basics-image {
    flex-shrink: 0;
    flex-grow: 1;
  }

  .project-basics-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 400px;

    @media (max-width: @screen-md) {
      height: auto;
    }
  }

  .project-basics-financials-bids {
    margin-top: @gutter * 2;

    h4 {
      margin-top: 30px;
      color: @brand-neutral--5;
    }
  }

  .project-basics-financial-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: @gutter--medium;

    .andor {
      font-weight: bold;
      font-family: @page-font;
      color: @brand-neutral--4;
      padding: 0 15px;
    }

    & + .project-basics-financial-row {
      margin-top: @gutter;
    }
  }

  .project-basics-financial-label {
    color: @brand-neutral--4;
    font-size: 16px;
  }

  .project-basics-actions {
    padding-top: @gutter;

    .btn + .btn {
      margin-left: @gutter;
    }
  }

  .project-header-left {
    padding-right: 75px;
  }
  .project-image {
    width: 100%;
    padding-bottom: 400px;
    border-radius: @border-radius;
    background-position: center;
  }

  .tab-content {
    .tab-pane {
      h2 {
        font-size: 48px;
      }
      .project-details {
        padding-right: 75px;
        padding-bottom: 100px;
        img {
          width: 100%;
        }
      }
      .project-details-rail {
        h2 {
          font-size: 36px;
        }
        .technology-panel {
          .btn {
            cursor: default;
          }
        }
      }
      .nda-content {
        .fa-lock {
          font-size: 75px;
          color: @brand-neutral--3;
        }
      }
    }
  }
  .nav-tabs {
    li {
      display: flex;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      a {
        padding: 10px 50px;
      }
      .fa-lock {
        position: absolute;
        right: 15px;
        bottom: 10px;
        font-size: 16px;
      }
    }
  }
}

// project-list
.slick-arrow {
  font-size: 3em!important;
  color: @light-gray!important;
}
