#reviews {
  background: #fff;
  .review-stars {
    font-size: 36px;
    .text-dark {
      text-transform: uppercase;
      font-size: 50%;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}